{{define "login/change-password"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="change-password" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card shadow-sm" id="login-div">
      <div class="card-header">Change password</div>
      <div class="card-body">
        <form id="password-form" class="floating-form" action="/login/change-password" method="POST">
          {{.csrfField}}
          <div class="form-label-group">
            <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
              value="{{.currentUser.Email}}" required autofocus disabled />
            <label for="email">Email address</label>
          </div>
          <div class="form-label-group">
            <input type="password" id="password" class="form-control" placeholder="Old password"
              autocomplete="password" required />
            <label for="password">Old password</label>
          </div>

          <hr>

          {{template "login/pwd-validate" .}}

          <div class="form-label-group mb-2">
            <input type="password" id="new-password" class="form-control" placeholder="New password"
              autocomplete="new-password" required />
            <label for="password">New password</label>
          </div>
          <div class="form-label-group">
            <input type="password" id="retype" class="form-control" placeholder="Retype new password"
              autocomplete="new-password" required />
            <label for="retype">Retype new password</label>
          </div>

          <button type="submit" id="submit" class="btn btn-primary btn-block" disabled>Set password</button>
        </form>
      </div>
    </div>

    {{template "login/pindiv" .}}
    {{template "login/factorsdiv" .}}
  </main>

{{template "loginscripts" .}}

<script type="text/javascript">
    $(function() {
      {{template "login/requirements" .}}

      let $form = $('#password-form');
      let $newPassword = $('#new-password');
      let $email = $('#email');
      let $retype = $('#retype');
      let $submit = $('#submit');

      $newPassword.on("change keyup paste", function() {
        $submit.prop('disabled', !checkPasswordValid($newPassword.val(), $retype.val(), requirements));
      });
      $retype.on("change keyup paste", function() {
        $submit.prop('disabled', !checkPasswordValid($newPassword.val(), $retype.val(), requirements));
      });

      checkPasswordValid('', '', requirements);

      let fn = function doChangePassword() {
        let email = $email.val().trim();
        let pwd = $newPassword.val();
        if (pwd != $retype.val()) {
          flash.error("Password and retyped passwords must match.");
          return;
        }

        if (!checkPasswordValid(pwd, $retype.val(), requirements)) {
          flash.error("Password invalid.");
          return;
        }

        // Disable the submit button so we only attempt once.
        $submit.prop('disabled', true);

        return firebase.auth().currentUser.updatePassword(pwd)
          .then(function() {
            $form.submit();
          }).catch(function(error) {
            flash.clear();
            flash.error(error);
            $submit.prop('disabled', false);
            return;
          });
      }

      let hasCurrentUser ={{if .currentUser}}true{{else}}false{{end}};
      loginScripts(hasCurrentUser, fn);
    });
  </script>
</body>

</html>
{{end}}
