{{define "login/change-password"}}
<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="change-password" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center">
        <div class="login-container">
          {{template "flash" .}}

          <form id="password-form" action="/login/change-password" method="POST">
            <div class="card shadow-sm" id="login-div">
              <div class="card-header">
                <i class="bi bi-shield-lock me-2"></i>
                Change password
              </div>

              <div class="card-body">
                {{.csrfField}}

                <div class="row g-3">
                  <div class="col-lg-12">
                    <div class="form-floating">
                      <input type="email" id="email" name="email" class="form-control" placeholder="{{t $.locale "login.email-address"}}"
                        value="{{.currentUser.Email}}" required autofocus disabled />
                      <label for="email">{{t $.locale "login.email-address"}}</label>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-floating">
                      <input type="password" id="password" class="form-control" placeholder="{{t $.locale "password.old-password"}}"
                        autocomplete="password" required />
                      <label for="password">{{t $.locale "password.old-password"}}</label>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row g-3">
                  <div class="col-lg-12">
                    <div class="form-floating">
                      <input type="password" id="new-password" class="form-control" placeholder="{{t $.locale "password.new-password"}}"
                        autocomplete="new-password" required />
                      <label for="password">{{t $.locale "password.new-password"}}</label>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-floating">
                      <input type="password" id="retype" class="form-control" placeholder="{{t $.locale "password.confirm-new-password"}}"
                        autocomplete="new-password" required />
                      <label for="retype">{{t $.locale "password.confirm-new-password"}}</label>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    {{template "login/pwd-validate" .}}
                  </div>
                </div>
              </div>

              <div class="card-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
                <div class="d-grid d-lg-inline">
                  <button type="submit" id="submit" class="btn btn-primary" disabled>
                    {{t $.locale "account.change-password"}}
                  </button>
                </div>
              </div>
            </div>
          </form>

          {{template "login/pindiv" .}}
          {{template "login/factorsdiv" .}}
          <div id="recaptcha-container" class="center-block"></div>
        </div>
      </div>
    </div>
  </main>

  {{template "loginscripts" .}}

  <script type="text/javascript">
    window.addEventListener('load', (event) => {
      {{template "login/requirements" .}}

      let form = document.querySelector('form#password-form');
      let inputEmail = form.querySelector('input#email');
      let inputNewPassword = form.querySelector('input#new-password');
      let inputRetype = form.querySelector('input#retype');
      let btnSubmit = form.querySelector('button#submit');

      function disableSubmitIfInvalid(event) {
        btnSubmit.disabled = !checkPasswordValid(inputNewPassword.value, inputRetype.value, requirements);
      }

      addEventListeners(inputNewPassword, 'change keyup paste', disableSubmitIfInvalid);
      addEventListeners(inputRetype, 'change keyup paste', disableSubmitIfInvalid);

      checkPasswordValid('', '', requirements);

      let fn = function doChangePassword() {
        let email = inputEmail.value.trim();
        let passwordValue = inputNewPassword.value;
        let retypeValue = inputRetype.value;

        if (passwordValue != retypeValue) {
          flash.error("Password and retyped passwords must match.");
          return;
        }

        if (!checkPasswordValid(passwordValue, retypeValue, requirements)) {
          flash.error("Password invalid.");
          return;
        }

        // Disable the submit button so we only attempt once.
        btnSubmit.disabled = true;

        return firebase.auth().currentUser.updatePassword(pwd)
          .then(function() {
            form.submit();
          }).catch(function(error) {
            flash.clear();
            flash.error(error);
            btnSubmit.disabled = false;
            return;
          });
      }

      let hasCurrentUser ={{if .currentUser}}true{{else}}false{{end}};
      loginScripts(hasCurrentUser, fn);
    });
  </script>
</body>

</html>
{{end}}
