{{define "login"}}

{{$currentUser := .currentUser}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="login" class="tab-content">
  <main role="main" class="container">
    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="login-container">
          <div class="card shadow-sm" id="login-div">
            <div class="card-header">
              <span class="d-block text-truncate">{{$.server}}</span>
            </div>

            <div class="card-body">
              {{template "flash" .}}

              <form id="login-form" class="floating-form" action="/" method="POST">
                <div class="form-label-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="{{t $.locale "login.email-address"}}"
                    autocomplete="username" required autofocus {{if $currentUser}}disabled value="{{$currentUser.Email}}"{{end}}/>
                  <label for="email">{{t $.locale "login.email-address"}}</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="password" name="password" class="form-control"
                    placeholder="{{t $.locale "login.password"}}" autocomplete="password" required />
                  <label for="password">{{t $.locale "login.password"}}</label>
                </div>

                <button type="submit" id="submit" class="btn btn-primary btn-block">
                  {{if $currentUser}}
                    {{t $.locale "login.refresh-authentication"}}
                  {{else}}
                    {{t $.locale "login.authenticate"}}
                  {{end}}
                </button>
              </form>
            </div>
          </div>

          {{template "login/pindiv" .}}
          {{template "login/factorsdiv" .}}

          <div class="d-flex justify-content-between pt-2 px-1">
            <a class="text-muted small" target="_blank" href="https://www.google.com/covid19/exposurenotifications">
              {{t $.locale "login.about-exposure-notifications" }}
            </a>
            <a class="small text-muted" href="/login/reset-password">
              {{t $.locale "login.forgot-password"}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="recaptcha-container" class="center-block"></div>
  </main>

  {{template "loginscripts" .}}

  <script type="text/javascript">
    window.addEventListener('load', (event) => {
      let fn = function loginSuccess() {
        {{if .loginRedirect}}
          window.location.assign('{{.loginRedirect}}');
        {{end}}
      }

      let hasCurrentUser ={{if $currentUser}}true{{else}}false{{end}};
      loginScripts(hasCurrentUser, fn);
    });
  </script>
</body>

</html>
{{end}}
