{{define "login/register-phone"}}

{{$currentRealm := .currentRealm}}
{{$mfaMode := .mfaMode}}
{{$mfaEnabled := .mfaEnabled}}
{{$currentMembership := .currentMembership}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="login-register-phone" class="tab-content">
  {{template "navbar" .}}
  <main role="main" class="container">
    {{template "flash" .}}

    <form id="register-form" action="/" method="POST">
      <div class="card shadow-sm mb-3" id="register-div">
        <div class="card-header">
          <i class="bi bi-phone me-2"></i>
          {{t $.locale "mfa.mfa"}}
        </div>

        <div class="card-body">
          <div class="row g-3">
            <div class="col-lg-6">
              <div class="form-floating">
                <input type="text" id="display" name="display" class="form-control"
                  placeholder="{{t $.locale "mfa.phone-display-name"}}" required autofocus />
                <label for="display">{{t $.locale "mfa.phone-display-name"}}</label>
                <small class="form-text text-muted">{{t $.locale "mfa.phone-display-name-help-text"}}</small>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-floating">
                <input type="tel" id="phone" name="phone" class="form-control" required />
                <small class="form-text text-muted">{{t $.locale "mfa.phone-number-help-text"}}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
          <div class="d-grid d-lg-inline">
            <button type="submit" id="submit-register" class="btn btn-primary">
              {{t $.locale "mfa.enable-mfa"}}
            </button>
          </div>
          <div class="text-center text-lg-start mt-3 mt-lg-0">
            {{if $mfaMode}}
              {{if ne $mfaMode.String "required"}}
                <a id="skip" href="/login/post-authenticate" class="small link-danger">
                  {{t $.locale "mfa.continue-without-mfa"}}
                </a>
              {{end}}
            {{end}}
          </div>
        </div>
      </div>
    </form>

    {{if $mfaEnabled}}
      <div class="card shadow-sm" id="registered-div">
        <div class="card-header">
          <i class="bi bi-phone me-2"></i>
          Registered factors
        </div>
        <div id="factors" class="list-group list-group-flush">
          <div id="factor-template" class="d-none list-group-item list-group-item-action d-flex align-items-center justify-content-between">
            <div>
              <strong><span class="factor-name"></span></strong>
              (<span class="factor-number"></span>)
              <div class="text-muted factor-enrolled"></div>
            </div>
            <div>
              <a href="#" class="bi bi-trash link-danger" data-bs-toggle="tooltip" title="Delete this factor"></a>
            </div>
          </div>

          <div id="factors-loading" class="d-flex align-items-center justify-content-center">
            <div class="my-3 fst-italic">Loading...</div>
          </div>
        </div>
      </div>
    {{end}}

    {{template "login/pindiv" .}}

    <div id="recaptcha-container" class="center-block"></div>
  </div>
</main>

  <script type="text/javascript">
    window.addEventListener('load', (event) => {
      let $registerDiv = $('#register-div');
      let $displayName = $('#display');
      let $submit = $('#submit-register');
      let $phone = $('#phone');
      let $registerForm = $('#register-form');
      let $skip = $('#skip');

      let $pinDiv = $('#sms-code-div');
      let $pinForm = $('#sms-code-form');
      let $pin = $('#sms-code');
      let $submitPin = $('#sms-code-submit');
      let $resendPin = $('#sms-code-resend');

      let $registeredDiv = $('#registered-div');
      let factorsContainer = document.querySelector('div#factors')

      let verId = ""

      window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
        'recaptcha-container', {
          'size': 'invisible',
          'callback': (response) => onSignInSubmit(),
          'expired-callback': e => {
            grecaptcha.reset(window.recaptchaWidgetId);
          },
          'error-callback': e => {
            grecaptcha.reset(window.recaptchaWidgetId);
          },
        },
      );

      window.recaptchaVerifier.render()
        .then(function(widgetId) {
          window.recaptchaWidgetId = widgetId;
        });

      // Initialize pretty phone
      let phone = document.querySelector('#phone');
      let iti = window.intlTelInput(phone, {
        nationalMode: true,
        {{- if .currentRealm}}{{if .currentRealm.SMSCountry}}
        initialCountry: '{{.currentRealm.SMSCountry}}',
        {{end}}{{end}}
        utilsScript: 'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.2/js/utils.js',
      });

      firebase.auth().onAuthStateChanged(function(user) {
        if (!user) {
          window.location.assign("/signout");
          return
        }

        if (user.multiFactor.enrolledFactors.length > 0) {
          $skip.remove();

          let loading = factorsContainer.querySelector('div#factors-loading');
          loading.parentElement.removeChild(loading);

          user.multiFactor.enrolledFactors.
            sort((a, b) => a.displayName.localeCompare(b.displayName, undefined, {'sensitivity': 'base'})).
            forEach((factor) => appendAuthFactor(factor))

          $registeredDiv.removeClass('d-none');
        }
      });

      function appendAuthFactor(factor) {
        let template = factorsContainer.querySelector('div#factor-template');
        let item = template.cloneNode(true);
        item.id = `factor-${factor.uid}`;
        item.classList.remove('d-none');

        let nameContainer = item.querySelector('.factor-name');
        nameContainer.textContent = factor.displayName;

        let numberContainer = item.querySelector('.factor-number');
        numberContainer.textContent = factor.phoneNumber;

        let unenrollIcon = item.querySelector('.bi');
        unenrollIcon.addEventListener('click', () => unenrollFactor(factor));

        let d = new Date(factor.enrollmentTime);
        let enrolledContainer = item.querySelector('.factor-enrolled')
        enrolledContainer.textContent = `Enrolled at ${d.toLocaleString()}`;

        factorsContainer.appendChild(item);
      }

      function unenrollFactor(factor) {
        if (window.confirm(`Are you sure you want to delete ${factor.displayName}`) !== true) {
          return;
        }

        let user = firebase.auth().currentUser
        let last = user.multiFactor.enrolledFactors.length == 1
        user.multiFactor.unenroll(factor)
          .then(function() {
            setSession(user);

            $(`#factor${factor.uid}`).remove();
            flash.clear();
            flash.alert(`Successfully unenrolled ${factor.displayName}`);

            if (last) {
              $registeredDiv.addClass('d-none');
            }
          }).catch(function(err) {
            if (err.code == 'auth/requires-recent-login') {
              window.location.assign('/login?redir=login/register-phone');
            }
            flash.clear();
            flash.error(err.message);
          });
      }

      $pinForm.on('submit', function(event) {
        event.preventDefault();

        // Disable the submit button so we only attempt once.
        $submitPin.prop('disabled', true);

        let cred = firebase.auth.PhoneAuthProvider.credential(verId, $pin.val().trim());
        let multiFactorAssertion = firebase.auth.PhoneMultiFactorGenerator.assertion(cred);

        // Complete enrollment.
        let user = firebase.auth().currentUser
        user.multiFactor.enroll(multiFactorAssertion, $displayName.val()).then(function() {
          setSession(user);

          let l = user.multiFactor.enrolledFactors.length
          appendAuthFactor(user.multiFactor.enrolledFactors[l - 1], l - 1);
          if (l == 1) {
            $registeredDiv.removeClass('d-none');
          }

          $phone.text('');
          $displayName.text('');
          $registerDiv.show();
          $pinDiv.addClass('d-none');
        }).catch(function(err) {
          if (err.code == 'auth/requires-recent-login') {
              window.location.assign('/login?redir=login/register-phone');
            }
          flash.clear();
          flash.error(err.message);
          $submitPin.prop('disabled', false);
        }).then(function() {
          grecaptcha.reset(window.recaptchaWidgetId);
          $submit.prop('disabled', false);
        });
      });

      $resendPin.on('click', function(event) {
        event.preventDefault();

        $resendPin.addClass('disabled');
        setTimeout(function() { $resendPin.removeClass('disabled'); }, 15000);

        let phoneInfoOptions = {
          multiFactorHint: resolver.hints[0],
          session: resolver.session
        };
        let phoneAuthProvider = new firebase.auth.PhoneAuthProvider();
        let appVerifier = window.recaptchaVerifier;
        phoneAuthProvider.verifyPhoneNumber(phoneInfoOptions, appVerifier)
          .then(function(verificationId) {
            verId = verificationId;
          }).catch(function(err) {
            grecaptcha.reset(window.recaptchaWidgetId);
            flash.clear();
            flash.error(err.message);
            $submit.prop('disabled', false);
          });
      });

      function onSignInSubmit() {
        event.preventDefault();

        // Disable the submit button so we only attempt once.
        $submit.prop('disabled', true);

        let user = firebase.auth().currentUser
        user.multiFactor.getSession().then(function(multiFactorSession) {
          // Specify the phone number and pass the MFA session.
          let phoneInfoOptions = {
            phoneNumber: iti.getNumber(),
            session: multiFactorSession
          };
          let phoneAuthProvider = new firebase.auth.PhoneAuthProvider();
          // Send SMS verification code.
          return phoneAuthProvider.verifyPhoneNumber(
            phoneInfoOptions, window.recaptchaVerifier);
        }).then(function(verificationId) {
          verId = verificationId
          setTimeout(function() { $resendPin.removeClass('disabled'); }, 15000);
          $registerDiv.hide();
          $pinDiv.removeClass('d-none');
        }).catch(function(err) {
          if (err.code == 'auth/requires-recent-login') {
            window.location.assign('/login?redir=login/register-phone');
          }
          grecaptcha.reset(window.recaptchaWidgetId);
          flash.clear();
          flash.error(err.message);
          $submit.prop('disabled', false);
        });
      }

      function setSession(user) {
        let factorCount = user.multiFactor.enrolledFactors.length;
        user.getIdToken().then(idToken => {
          $.ajax({
            type: 'POST',
            url: '/session',
            data: {
              idToken: idToken,
              factorCount: factorCount,
            },
            headers: { 'X-CSRF-Token': getCSRFToken() },
            contentType: 'application/x-www-form-urlencoded',
            success: function(returnData) {
              flash.clear();
              flash.alert('SMS authentication enrolled successfully.');
              $skip.text('Continue');
              $skip.removeClass("d-none");
            },
            error: function(xhr, status, e) {
              window.location.assign("/signout");
            }
          })
        });
      }
    });
  </script>
</body>

</html>
{{end}}
