{{define "login/reset-password"}}
<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="reset-password" class="tab-content">
  <main role="main" class="container">
    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="login-container">
          {{template "flash" .}}

          <form action="/login/reset-password" method="POST">
            <div class="card shadow-sm">
              <div class="card-header">
                <i class="bi bi-shield-lock me-2"></i>
                {{t $.locale "password.reset-password"}}
              </div>

              <div class="card-body">
                {{ .csrfField }}

                <div class="row g-3">
                  <div class="col-lg-12">
                    <div class="form-floating">
                      <input type="email" name="email" class="form-control"
                        placeholder="{{t $.locale "login.email-address"}}" value="{{.email}}" required autofocus />
                      <label for="email">{{t $.locale "login.email-address"}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
                <div class="d-grid d-lg-inline">
                  <button type="submit" id="submit" class="btn btn-primary">
                    {{t $.locale "password.send-reset-password"}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
{{end}}
