{{define "login/reset-password"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="reset-password" class="tab-content">
  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="login-container">
          <div class="card shadow-sm">
            <div class="card-header">{{t $.locale "password.reset-password"}}</div>

            <div class="card-body">
              <form class="floating-form" action="/login/reset-password" method="POST">
                {{ .csrfField }}
                <div class="form-label-group">
                  <input type="email" name="email" class="form-control"
                    placeholder="{{t $.locale "login.email-address"}}" value="{{.email}}" required autofocus />
                  <label for="email">{{t $.locale "login.email-address"}}</label>
                </div>

                <button type="submit" id="submit" class="btn btn-primary btn-block">
                  {{t $.locale "password.send-reset-password"}}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
{{end}}
