{{define "login/select-password"}}
<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">

<head>
  {{template "head" .}}
</head>

<body id="select-password" class="tab-content">
  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="login-container">
          <div class="card shadow-sm" id="login-div">
            <div class="card-header">
              {{t $.locale "password.reset-password"}}
            </div>

            <div class="card-body">
              <form id="password-form" class="floating-form" action="/login/manage-account?mode=resetPassword&oobCode={{.code}}" method="POST">
                {{.csrfField}}

                <div class="form-label-group">
                  <input type="email" name="email" class="form-control" placeholder="{{t $.locale "login.email-address"}}" value="{{.email}}"
                    required readonly />
                  <label for="email">{{t $.locale "login.email-address"}}</label>
                </div>

                <hr>

                <div class="form-label-group mb-2">
                  <input type="password" name="password" id="new-password" class="form-control" placeholder="{{t $.locale "password.new-password"}}"
                    autocomplete="new-password" required {{if .codeInvalid}}disabled{{end}}/>
                  <label for="password">{{t $.locale "password.new-password"}}</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="retype" class="form-control" placeholder="{{t $.locale "password.confirm-new-password"}}"
                    autocomplete="new-password" required {{if .codeInvalid}}disabled{{end}}/>
                  <label for="retype">{{t $.locale "password.confirm-new-password"}}</label>
                </div>

                {{template "login/pwd-validate" .}}

                <button type="submit" id="submit" class="btn btn-primary btn-block" disabled>
                  {{t $.locale "account.change-password"}}
                </button>
              </form>
            </div>
          </div>

          {{if .codeInvalid}}
            <div class="text-center pt-1">
              <a class="text-muted small" target="_blank" href="/login/reset-password">
                {{t $.locale "password.send-reset-password"}}
              </a>
            </div>
          {{end}}
        </div>
      </div>
    </div>
    <div id="recaptcha-container" class="center-block"></div>
  </main>

  <script type="text/javascript">
    window.addEventListener('load', (event) => {
      {{template "login/requirements" .}}

      let form = document.querySelector('form#password-form');
      let inputEmail = form.querySelector('input#email');
      let inputNewPassword = form.querySelector('input#new-password');
      let inputRetype = form.querySelector('input#retype');
      let btnSubmit = form.querySelector('button#submit');

      function disableSubmitIfInvalid(event) {
        btnSubmit.disabled = !checkPasswordValid(inputNewPassword.value, inputRetype.value, requirements);
      }

      addEventListeners(inputNewPassword, 'change keyup paste', disableSubmitIfInvalid);
      addEventListeners(inputRetype, 'change keyup paste', disableSubmitIfInvalid);

      checkPasswordValid('', '', requirements);

      let fn = function doChangePassword() {
        let email = inputEmail.value.trim();
        let passwordValue = inputNewPassword.value;
        let retypeValue = inputRetype.value;

        if (passwordValue != retypeValue) {
          flash.error("Password and retyped passwords must match.");
          return;
        }

        if (!checkPasswordValid(passwordValue, retypeValue, requirements)) {
          flash.error("Password invalid.");
          return;
        }

        // Disable the submit button so we only attempt once.
        btnSubmit.disabled = true;
      }
    });
  </script>
</body>

</html>
{{end}}
