{{define "login/select-realm"}}

{{$csrfField := .csrfField}}
{{$currentRealms := .realms}}
{{$currentUser := .currentUser}}
{{$memberships := .memberships}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body id="select-realm" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <i class="bi bi-house-door me-2"></i>
        {{t $.locale "login.realm-selection"}}
      </div>

      {{if $memberships}}
        <div class="list-group list-group-flush">
          {{range $membership := $memberships}}
            {{$currentRealm := $membership.Realm}}
            <form action="/login/select-realm" method="POST" class="list-group-item p-0">
              {{$csrfField}}
              <input type="hidden" name="realm" value="{{$currentRealm.ID}}" />
              <a href="#" class="w-100 d-flex flex-row justify-content-between align-items-center align-self-center list-group-item-action px-4 py-3" data-submit-form>
                <div>
                  <h5 class="mb-1">{{$currentRealm.Name}}</h5>
                  <p class="mb-1">{{$currentRealm.RegionCode}}</p>
                </div>
                <div>
                  <i class="bi bi-arrow-right"></i>
                </div>
              </a>
            </form>
          {{end}}
        </div>
      {{else}}
        <div class="card-body">
          <p class="mb-0">
            {{t $.locale "login.realm-no-memberships"}}
          </p>
        </div>
      {{end}}
    </div>

    {{if $currentUser.SystemAdmin}}
      <div class="card mb-3 shadow-sm">
        <div class="card-header text-bold text-white admin-header">
          <i class="bi bi-gear me-2"></i>
          System admin
        </div>
        <div class="list-group-item p-0">
          <a href="/admin" class="w-100 d-flex flex-row justify-content-between align-items-center align-self-center list-group-item-action px-4 py-3">
            <div>
              <p class="mb-1">Go to system admin</p>
            </div>
            <div>
              <i class="bi bi-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
    {{end}}
  </main>
</body>
</html>
{{end}}
