{{define "login/verify-email"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="verify-email" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center">
        <div class="col-sm-6">

          <div class="card mb-3 shadow-sm">
            <div class="card-header">Email verification</div>
            <div class="card-body">
              {{if not .currentRealm}}
              <div class="alert alert-warning">
                <span class="oi oi-warning"></span>
                Email address verification is required to administer with no realm selected.
              </div>
              {{else if eq .currentRealm.EmailVerifiedMode.String "required"}}
              <div class="alert alert-warning">
                <span class="oi oi-warning"></span>
                This realm <strong>requires</strong> email address verification.
              </div>
              {{end}}

              <p>Email address ownership for <em>{{.currentUser.Email}}</em> is <strong id="not">not</strong> confirmed.</p>

              <form method="POST" id="verify-email">
                {{ .csrfField }}
                <input type="submit" id="verify-button" class="btn btn-primary btn-block"
                  value="Send verification email" disabled>

                <small class="form-text text-muted">
                  Click to send an email containing a verification link.
                </small>
              </form>

              {{if .currentRealm}}
              {{if ne .currentRealm.EmailVerifiedMode.String "required"}}
              <a id="skip" class="card-link float-right mt-3" href="/login/post-authenticate">Skip for now</a>
              {{end}}
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{if .firebase}}
  <script>
    let $form = $("#verify-email");
    let $verifyButton = $("#verify-button");
    let $skip = $("#skip");
    let $not = $("#not");

    firebase.auth().onAuthStateChanged(function(user) {
      if (!user) {
        window.location.assign("/signout");
        return;
      }

      // If the email is already verified, move along.
      if (user.emailVerified) {
        flash.clear();
        flash.alert("Your email address is already verified.");
        window.location.assign("/login/post-authenticate");
        return;
      }

      // Get an ID token and embed it onto the page.
      user.getIdToken().then(idToken => {
        let $idTokenField = $("<input>");
        $idTokenField.attr("type", "hidden");
        $idTokenField.attr("name", "idToken");
        $idTokenField.attr("value", idToken);
        $form.append($idTokenField);

        // Now that we have a user, enable the form.
        $verifyButton.prop("disabled", false);
      });
    });
  </script>
  {{end}}
</body>

</html>
{{end}}
