{{define "admin/realms/index"}}

{{$realms := .realms}}
{{$memberships := .memberships}}
{{$realmChaffEvents := .realmChaffEvents}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body id="admin-realms-index" class="tab-content">
  {{template "admin/navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <span class="oi oi-badge mr-2 ml-n1" aria-hidden="true"></span>
        Realms
        <a href="/admin/realms/new" class="float-right mr-n1 text-secondary" id="new" data-toggle="tooltip" title="New realm">
          <span class="oi oi-plus small" aria-hidden="true"></span>
        </a>
      </div>

      <div class="card-body">
        <form method="GET" action="/admin/realms" id="search-form">
          <div class="input-group">
            <input type="search" name="q" id="search" value="{{.query}}" placeholder="Search..."
              autocomplete="off" class="form-control" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                <span class="sr-only">Search</span>
              </button>
            </div>
          </div>
        </form>
      </div>

      {{if $realms}}
        <table class="table table-bordered table-striped table-fixed table-inner-border-only border-top mb-0" id="results-table">
          <thead>
            <tr>
              <th scope="col" width="50" class="text-center">ID</th>
              <th scope="col" width="100" class="text-center">Region</th>
              <th scope="col">Name</th>
              <th scope="col" width="75" class="text-center d-none d-md-table-cell">Chaff (7d)</th>                          
              <th scope="col" width="100" class="text-center d-none d-md-table-cell">Abuse Modeling</th> 
              <th scope="col" width="75" class="text-center d-none d-md-table-cell">Auth SMS</th>
              <th scope="col" width="110" class="text-center d-none d-md-table-cell">Generated SMS</th>
              <th scope="col" width="90" class="text-center d-none d-md-table-cell">User Report</th>
              <th scope="col" width="90" class="text-center d-none d-md-table-cell">User Report Web</th>
              <th scope="col" width="90" class="text-center d-none d-md-table-cell">Signing key</th>
            </tr>
          </thead>
          <tbody>
          {{range $realms}}
            <tr>
              <td class="text-center">{{.ID}}</td>
              <td class="text-center">{{.RegionCode}}</td>
              <td>
                <a href="/admin/realms/{{.ID}}/edit">
                  {{.Name}}
                </a>
                {{if (index $memberships .ID)}}
                  <span class="small oi oi-circle-check text-success ml-1" aria-hidden="true"
                    data-toggle="tooltip" title="You have permissions on this realm"></span>
                {{end}}
              </td>
              <td class="text-center d-none d-md-table-cell">
                {{if (index $realmChaffEvents .ID)}}
                  <span class="small oi oi-circle-check text-success px-2" aria-hidden="true"
                    data-toggle="tooltip" title="Chaff requests in the past 7 days"></span>
                {{else}}
                  <span class="small oi oi-circle-x text-danger px-2" aria-hidden="true"
                    data-toggle="tooltip" title="NO sent a chaff requests in the past 7 days"></span>
                {{end}}
              </td>
              <td class="text-center d-none d-md-table-cell">
                {{if .AbusePreventionEnabled}}
                  <span class="small oi oi-circle-check text-success px-2" aria-hidden="true"
                    data-toggle="tooltip" title="Abuse prevention is enabled"></span>
                {{else}}
                  <span class="small oi oi-circle-x text-danger px-2" aria-hidden="true"
                    data-toggle="tooltip" title="Abuse prevention is not enabled"></span>
                {{end}}
              </td>
              <td class="text-center d-none d-md-table-cell">
                {{if .UseAuthenticatedSMS}}
                  <span class="small oi oi-circle-check text-success px-2" aria-hidden="true"
                    data-toggle="tooltip" title="Authenticated SMS is enabled"></span>
                {{else}}
                  <span class="small oi oi-circle-x text-danger px-2" aria-hidden="true"
                    data-toggle="tooltip" title="Authenticated SMS is not enabled"></span>
                {{end}}
              </td>
              <td class="text-center d-none d-md-table-cell">
                {{if .AllowGeneratedSMS}}
                  <span class="small oi oi-circle-check text-success px-2" aria-hidden="true"
                    data-toggle="tooltip" title="Allow generated SMS is enabled"></span>
                {{else}}
                  <span class="small oi oi-circle-x text-danger px-2" aria-hidden="true"
                    data-toggle="tooltip" title="Allow generated SMS is not enabled"></span>
                {{end}}
              </td>
              <td class="text-center d-none d-md-table-cell">
                {{if .AllowsUserReport}}
                  <span class="small oi oi-circle-check text-success px-2" aria-hidden="true"
                    data-toggle="tooltip" title="User report is enabled"></span>
                {{else}}
                  <span class="small oi oi-circle-x text-danger px-2" aria-hidden="true"
                    data-toggle="tooltip" title="User report is not enabled"></span>
                {{end}}
              </td>
              <td class="text-center d-none d-md-table-cell">
                {{if .AllowUserReportWebView}}
                  <span class="small oi oi-circle-check text-success px-2" aria-hidden="true"
                    data-toggle="tooltip" title="User report web view is enabled"></span>
                {{else}}
                  <span class="small oi oi-circle-x text-danger px-2" aria-hidden="true"
                    data-toggle="tooltip" title="User report web view is not enabled"></span>
                {{end}}
              </td>
              <td class="text-center d-none d-md-table-cell">
                {{if .UseRealmCertificateKey}}Realm{{else}}System{{end}}
              </td>
            </tr>
          {{end}}
          </tbody>
        </table>
      {{else}}
        <p class="card-body text-center mb-0">
          <em>There are no users{{if .query}} that match the query{{end}}.</em>
        </p>
      {{end}}
    </div>

    {{template "shared/pagination" .}}
  </main>
</body>
</html>
{{end}}
