# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Local built binaries, built with `go build .` in the folder.
cmd/add-realm/add-realm
cmd/add-users/add-users
cmd/adminapi/adminapi
cmd/apiserver/apiserver
cmd/cleanup/cleanup
cmd/get-certificate/get-certificate
cmd/get-code/get-code
cmd/get-token/get-token
cmd/migrate/migrate
cmd/server/server
tools/e2e-test/e2e-test
tools/gen-secret/gen-secret
tools/seed/seed

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Output of terraform
*.tfstate*
*.terraform/
*.tfvars
terraform/state.tf

# Testing things
local/
.env
