# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Output of terraform
*.tfstate*
*.terraform/
*.tfvars
terraform/state.tf

local/

# OSX
*.DS_Store

# Covid Watch local
sandbox2-cw-en-vs-firebase-adminsdk-ch6qh-4dc7863e58.json
verification-server-pp-dev-255397834da7.json
exports.txt
