{{define "admin/users/index"}}

{{$currentUser := .currentUser}}
{{$users := .users}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body class="tab-content">
  {{template "admin/navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Users</div>
      <div class="card-body">
        <form method="GET" action="/admin/users" id="search-form">
          <div class="input-group">
            <span class="input-group-prepend">
              <div class="input-group-text bg-transparent">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
              </div>
            </span>
            <input type="search" name="q" id="search" value="{{.query}}" placeholder="Search"
              autocomplete="off" class="form-control" />
          </div>
        </form>
      </div>
      <div class="card-body">

        <div class="table-responsive">
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col" width="300">Email</th>
                <th scope="col" width="40"></th>
              </tr>
            </thead>
            <tbody>
            {{range $users}}
              <tr>
                <td>
                  {{.Name}}
                  {{if .Admin}}
                  <span class="ml-1 badge badge-pill badge-primary">System admin</span>
                  {{else if .IsRealmAdmin}}
                  <span class="ml-1 badge badge-pill badge-secondary">Realm admin</span>
                  {{end}}
                </td>
                <td>{{.Email}}</td>
                <td class="text-center">
                  {{- /* cannot delete yourself */ -}}
                  {{if not (eq .ID $currentUser.ID)}}
                  <a href="/admin/users/{{.ID}}"
                    class="d-block text-danger"
                    data-method="DELETE"
                    data-confirm="Are you sure you want to delete this user? This will prevent access to all realms system-wide."
                    data-toggle="tooltip"
                    title="Delete this user">
                    <span class="oi oi-trash" aria-hidden="true"></span>
                  </a>
                  {{end}}
                </td>
              </tr>
            {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  {{template "shared/pagination" .}}
  </main>
</body>
</html>
{{end}}
