{{define "admin/users/new"}}

{{$user := .user}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
</head>

<body class="tab-content">
  {{template "admin/navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>New system admin</h1>
    <p>
      Use the form below to create a new system admin.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">System admin details</div>
      <div class="card-body">
        <form method="POST" id="new-form" action="/admin/users">
          {{ .csrfField }}

          <div class="form-label-group">
            <input type="text" id="name" name="name" class="form-control{{if $user.ErrorsFor "name"}} is-invalid{{end}}"
              value="{{$user.Name}}" placeholder="Name" required autofocus />
            <label for="name">Name</label>
            {{if $user.ErrorsFor "name"}}
            <div class="invalid-feedback">
              {{joinStrings ($user.ErrorsFor "name") ", "}}
            </div>
            {{end}}
          </div>

          <div class="form-label-group">
            <input type="email" id="email" name="email" class="form-control{{if $user.ErrorsFor "email"}} is-invalid{{end}}"
              value="{{$user.Email}}" placeholder="Email address" required />
            <label for="email">Email address</label>
            {{if $user.ErrorsFor "email"}}
            <div class="invalid-feedback">
              {{joinStrings ($user.ErrorsFor "email") ", "}}
            </div>
            {{end}}
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Create system admin
          </button>
        </form>
      </div>
    </div>
  </main>
</body>

</html>
{{end}}
