{{define "404"}}
<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body id="not-found" class="my-4 g-4">
  <main role="main" class="container">
    <h1>{{t $.locale "static.not-found"}}</h1>
    <p>
      {{t $.locale "static.redirect-not-found"}}
    </p>
    <div class="d-flex justify-content-center">
      <a href="https://g.co/ens" class="small text-decoration-none text-muted">{{t $.locale "login.about-exposure-notifications"}}</a>
    </div>
  </main>
</body>
</html>
{{end}}
