{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="build-id" content="{{.buildID}}">
<meta name="build-tag" content="{{.buildTag}}">

<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?{{.buildID}}">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?{{.buildID}}">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?{{.buildID}}">
<link rel="manifest" href="/static/site.webmanifest?{{.buildID}}">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg?{{.buildID}}" color="#d85140">
<link rel="shortcut icon" href="/static/favicon.ico?{{.buildID}}">
<meta name="msapplication-TileColor" content="#d85140">
<meta name="msapplication-config" content="/static/browserconfig.xml?{{.buildID}}">
<meta name="theme-color" content="#ffffff">

{{if eq (printf "%s" $.textDirection) "rtl"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.rtl.min.css"
  integrity="sha512-Swm+W9nAnhHjRr94CSIoZSWqt3SQfImX8IoMjn01dLoYiEgeSSVBuS+GqVupSA5nSfGZrUfUkb8rilBv4WQ6bQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{else}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css"
  integrity="sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}

<title>{{if .title}}{{.title}}{{else}}Exposure Notifications Express Redirect Service{{end}}</title>
{{end}}
