{{define "apikeys/new"}}

{{$authApp := .authApp}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>New API key</h1>
    <p>
      Use the form below to create a new API key.
    </p>

    <div class="card mb-3">
      <div class="card-header">Details</div>
      <div class="card-body">
        <form method="POST" action="/apikeys">
          {{ .csrfField }}

          <div class="form-group row">
            <label for="name" class="col-sm-3">App name:</label>
            <div class="col-sm-9">
              <input type="text" id="name" name="name" class="form-control" value="{{$authApp.Name}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="type" class="col-sm-3">Type:</label>
            <div class="col-sm-9">
              <select class="form-control" name="type" id="type">
                <option value="-1" {{if (eq $authApp.APIKeyType -1)}}selected{{else}}disabled{{end}}>Select...</option>
                <option value="{{.typeDevice}}" {{if (eq $authApp.APIKeyType .typeDevice)}}selected{{end}}>Device (can verify codes)</option>
                <option value="{{.typeAdmin}}" {{if (eq $authApp.APIKeyType .typeAdmin)}}selected{{end}}>Admin (can issue codes)</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-primary btn-block">Create API key</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  {{template "scripts" .}}
</body>
</html>
{{end}}
