{{define "apikeys/new"}}

{{$authApp := .authApp}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body id="apikeys-new" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>New API key</h1>
    <p>
      Use the form below to create a new API key.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Details</div>
      <div class="card-body">
        <form method="POST" action="/realm/apikeys">
          {{ .csrfField }}

          <div class="form-label-group">
            <input type="text" id="name" name="name" class="form-control{{if $authApp.ErrorsFor "name"}} is-invalid{{end}}" value="{{$authApp.Name}}" placeholder="Application name" autofocus>
            <label for="name">Application name</label>
            {{if $authApp.ErrorsFor "name"}}
            <div class="invalid-feedback">
              {{joinStrings ($authApp.ErrorsFor "name") ", "}}
            </div>
            {{end}}
          </div>

          <div class="form-group">
            <input type="hidden" name="type" value="-1">
            <select class="form-control{{if $authApp.ErrorsFor "type"}} is-invalid{{end}}" name="type" id="type">
              <option selected disabled>Select type...</option>
              <option value="{{.typeDevice}}" {{if (eq $authApp.APIKeyType .typeDevice)}}selected{{end}}>Device (can verify codes)</option>
              <option value="{{.typeAdmin}}" {{if (eq $authApp.APIKeyType .typeAdmin)}}selected{{end}}>Admin (can issue codes)</option>
            </select>
            {{if $authApp.ErrorsFor "type"}}
            <div class="invalid-feedback">
              {{joinStrings ($authApp.ErrorsFor "type") ", "}}
            </div>
            {{end}}
          </div>

          <button type="submit" id="submit" class="btn btn-primary btn-block">Create API key</button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
{{end}}
