{{define "realmadmin/_form_sms"}}

{{$realm := .realm}}
{{$smsConfig := .smsConfig}}

<p class="mb-4">
  These are the settings for configuring the <a
  href="https://www.twilio.com">Twilio</a> SMS provider. If these values are
  blank, the system will not send SMS text message verification codes.
</p>

<form method="POST" action="/realm/settings#sms" class="floating-form">
  {{ .csrfField }}
  <input type="hidden" name="sms" value="1" />

  {{if $realm.CanUseSystemSMSConfig}}
    {{if $realm.UseSystemSMSConfig}}
      <div class="alert alert-danger">
        <strong>Warning!</strong> You are currently use the system-provided SMS
        configuration. Specifying values below will override the system
        configuration to use your supplied credentials.
      </div>
    {{end}}

    <div class="form-group form-check">
      <input type="checkbox" name="use_system_sms_config" id="use-system-sms-config" class="form-check-input" value="1" {{if $realm.UseSystemSMSConfig}} checked{{end}}
        data-toggle="collapse" data-target="#sms-form">
      <label class="form-check-label" for="use-system-sms-config">
        Use system SMS configuration
      </label>
    </div>
  {{end}}

  <div id="sms-form" class="collapse{{if not $realm.UseSystemSMSConfig}} show{{end}}">
    <div class="form-label-group">
      <input type="text" name="twilio_account_sid" id="twilio-account-sid" class="form-control text-monospace{{if $smsConfig.ErrorsFor "twilioAccountSid"}} is-invalid{{end}}"
        placeholder="Twilio account" value="{{if $smsConfig}}{{$smsConfig.TwilioAccountSid}}{{end}}" />
      <label for="twilio-account-sid">Twilio account</label>
      {{template "errorable" $smsConfig.ErrorsFor "twilioAccountSid"}}
      <small class="form-text text-muted">
        This is the Twilio Account SID. Get this value from the Twilio console.
      </small>
    </div>

    <div class="form-label-group">
      <div class="input-group">
        <input type="password" name="twilio_auth_token" id="twilio-auth-token" class="form-control text-monospace{{if $smsConfig.ErrorsFor "twilioAuthToken"}} is-invalid{{end}}" autocomplete="new-password"
          placeholder="Twilio auth token" value="{{if $smsConfig}}{{$smsConfig.TwilioAuthToken}}{{end}}">
        <label for="twilio-auth-token">Twilio auth token</label>
        <div class="input-group-append">
          <a class="input-group-text" data-toggle-password="twilio-auth-token">
            <span class="oi oi-lock-locked" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      {{template "errorable" $smsConfig.ErrorsFor "twilioAuthToken"}}
      <small class="form-text text-muted">
        This is the Twilio Auth Token. Get this value from the Twilio console.
      </small>
    </div>

    <div class="form-label-group">
      <input type="tel" name="twilio_from_number" id="twilio-from-number" class="form-control text-monospace{{if $smsConfig.ErrorsFor "twilioFromNumber"}} is-invalid{{end}}" autocomplete="new-password"
        placeholder="Twilio numberx" value="{{if $smsConfig}}{{$smsConfig.TwilioFromNumber}}{{end}}" />
      <label for="twilio-from-number">Twilio number</label>
      {{template "errorable" $smsConfig.ErrorsFor "twilioFromNumber"}}
      <small class="form-text text-muted">
        This is the Twilio From Number. Get this value from the Twilio console.
      </small>
    </div>
  </div>

  <div class="mt-4">
    <input type="submit" class="btn btn-primary btn-block" value="Update SMS settings" />
  </div>
</form>

{{end}}
