{{define "realmadmin/_form_security"}}

{{$realm := .realm}}

<p class="mb-4">
  These are the security settings for {{$realm.Name}}.
</p>

<form method="POST" action="/realm/settings#security" class="floating-form">
  {{ .csrfField }}
  <input type="hidden" name="security" value="1" />

  <div class="form-group">
    <label for="email-verified-mode">Email verification</label>
    <select name="email_verified_mode" id="email-verified-mode" class="form-control custom-select">
      <option value="1" {{if eq $realm.EmailVerifiedMode.String "required"}}selected{{end}}>Required</option>
      <option value="0" {{if eq $realm.EmailVerifiedMode.String "prompt"}}selected{{end}}>Prompt after login</option>
      <option value="2" {{if eq $realm.EmailVerifiedMode.String "optional"}}selected{{end}}>Optional</option>
    </select>
    {{template "errorable" $realm.ErrorsFor "emailVerifiedMode"}}
    <small class="form-text text-muted">
      Email verification requires users to verify their email address before
      using the system.
    </small>
  </div>

  <div class="form-group">
    <label for="mfa-mode">Multi factor authentication</label>
    <select name="mfa_mode" id="mfa-mode" class="form-control custom-select">
      <option value="1" {{if eq $realm.MFAMode.String "required"}}selected{{end}}>Required</option>
      <option value="0" {{if eq $realm.MFAMode.String "prompt"}}selected{{end}}>Prompt after login</option>
      <option value="2" {{if eq $realm.MFAMode.String "optional"}}selected{{end}}>Optional</option>
    </select>
    {{template "errorable" $realm.ErrorsFor "mfaMode"}}
    <small class="form-text text-muted">
      Multi-factor authentication requires users to supply a second factor (e.g.
      a code via an SMS text message) when authenticating to the system.
    </small>
  </div>

  <div class="form-group" id="grace-div" {{if ne $realm.MFAMode.String "required"}}style="display:none;"{{end}}>
    <label for="mfa-grace-period">Require MFA</label>
    <select name="mfa_grace_period" id="mfa-grace-period" class="form-control custom-select" {{if ne $realm.MFAMode.String "required"}}disabled{{end}}>
      {{$current := $realm.MFARequiredGracePeriod}}
      {{range $prd := .mfaGracePeriod}}
      <option value="{{$prd}}" {{if eq $prd $current.Days}}selected{{end}}>
        {{if (eq $prd 0)}}Immediately{{else}}After {{$prd}} days{{end}}
      </option>
      {{end}}
    </select>
    {{template "errorable" $realm.ErrorsFor "mfaMode"}}
    <small class="form-text text-muted">
      Allows users to continue without registering multi-factor authentication for a period of time. This can be
      less burdensome to new users or short-term users.
    </small>
  </div>

  <div class="form-group">
    <label for="password-rotation-period-days">Require password rotation</label>
    <select name="password_rotation_period_days" id="password-rotation-period-days" class="form-control custom-select">
      {{$current := $realm.PasswordRotationPeriodDays}}
      {{range $prd := .passwordRotateDays}}
      <option value="{{$prd}}" {{if (eq $prd $current)}}selected{{end}}>{{if (eq $prd 0)}}Off{{else}}Every {{$prd}} days{{end}}</option>
      {{end}}
    </select>
    {{template "errorable" $realm.ErrorsFor "passwordRotationPeriodDays"}}
    <small class="form-text text-muted">
      If enabled, users will be required to change their password after this
      number of days elapse since their last password change.
    </small>
  </div>

  <div class="form-group">
    <label for="password-rotation-warning-days">Password rotation warning</label>
    <select name="password_rotation_warning_days" id="password-rotation-warning-days" class="custom-select{{if $realm.ErrorsFor "passwordWarn"}} is-invalid{{end}}">
      {{$current := $realm.PasswordRotationWarningDays}}
      {{range $pwd := .passwordWarnDays}}
      <option value="{{$pwd }}" {{if (eq $pwd $current)}}selected{{end}}>{{if (eq $pwd 0)}}Off{{else}}{{$pwd}} days before{{end}}</option>
      {{end}}
    </select>
    {{template "errorable" $realm.ErrorsFor "passwordRotationWarningDays"}}
    <small class="form-text text-muted">
      If enabled, users will be warned to change their password within this
      number of days before expiration.
    </small>
  </div>

  <div class="form-label-group">
    <textarea name="allowed_cidrs_adminapi" id="allowed-cidrs-adminapi" class="form-control text-monospace{{if $realm.ErrorsFor "allowedCIDRsAdminAPI"}} is-invalid{{end}}"
      rows="5" placeholder="Allowed CIDRs (Admin API)">{{joinStrings $realm.AllowedCIDRsAdminAPI "\n"}}</textarea>
    <label for="allowed-cidrs-adminapi">Allowed CIDRs (Admin API)</label>
    {{template "errorable" $realm.ErrorsFor "allowedCIDRsAdminAPI"}}
    <small class="form-text text-muted">
      An optional list of CIDR blocks from which to allow traffic to the
      <strong>Admin API</strong> which can be used to generate codes. If blank,
      all traffic is allowed from all IPs. These should be of <a
      href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
      target="_BLANK">CIDR notation</a>
      of the format (e.g. <code>192.1.2.0/24</code>). This is only enforced
      post-authentication.
    </small>
  </div>

  <div class="form-label-group">
    <textarea name="allowed_cidrs_apiserver" id="allowed-cidrs-apiserver" class="form-control text-monospace{{if $realm.ErrorsFor "allowedCIDRsAPIServer"}} is-invalid{{end}}"
      rows="5" placeholder="Allowed CIDRs (Device API)">{{joinStrings $realm.AllowedCIDRsAPIServer "\n"}}</textarea>
    <label for="allowed-cidrs-apiserver">Allowed CIDRs (Device API)</label>
    {{template "errorable" $realm.ErrorsFor "allowedCIDRsAPIServer"}}
    <small class="form-text text-muted">
      An optional list of CIDR blocks from which to allow traffic to the
      <strong>Device API</strong> which is where devices exchange their code for
      a certificate. It is highly recommended that you <strong>leave this
      service publicly accessible</strong>. If blank, all traffic is allowed
      from all IPs. These should be of <a
      href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
      target="_BLANK">CIDR notation</a>
      of the format (e.g. <code>192.1.2.0/24</code>). This is only enforced
      post-authentication.
    </small>
  </div>

  <div class="form-label-group">
    <textarea name="allowed_cidrs_server" id="allowed-cidrs-server" class="form-control text-monospace{{if $realm.ErrorsFor "allowedCIDRsServer"}} is-invalid{{end}}"
      rows="5" placeholder="Allowed CIDRs (UI server)">{{joinStrings $realm.AllowedCIDRsServer "\n"}}</textarea>
    <label for="allowed-cidrs-server">Allowed CIDRs (UI server)</label>
    {{template "errorable" $realm.ErrorsFor "allowedCIDRsServer"}}
    <small class="form-text text-muted">
      An optional list of CIDR blocks from which to allow traffic to the
      <strong>UI server</strong> (this server). If blank, all traffic is allowed
      from all IPs. These should be of <a
      href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
      target="_BLANK">CIDR notation</a>
      of the format (e.g. <code>192.1.2.0/24</code>). This is only enforced
      post-authentication.
    </small>
  </div>

  <div class="mt-4">
    <input type="submit" class="btn btn-primary btn-block" value="Update security settings" />
  </div>
</form>

<script type="text/javascript">
  $(function(){
    let $grace = $('#mfa-grace-period');
    let $graceDiv = $('#grace-div');
    let $mfaMode = $('#mfa-mode');

    $mfaMode.change(function() {
      if ($mfaMode.val() == 1) {
        $grace.prop("disabled", false);
        $graceDiv.show(200);
      } else {
        $graceDiv.hide(200);
        $grace.prop("disabled", true);
      }
    });
  });
  </script>

{{end}}
