{{define "realmadmin/_form_abuse_prevention"}}

{{$realm := .realm}}
{{$quotaRemaining := .quotaRemaining}}
{{$quotaLimit := .quotaLimit}}

<form method="POST" action="/realm/settings#abuse-prevention" class="floating-form">
  {{ .csrfField }}
  <input type="hidden" name="abuse_prevention" value="1" />

  <p>
    Abuse prevention uses the historical record of your realm's past
    daily code issuances to build a predictive model of future use,
    rejecting requests that fall outside of the predicted model.
  </p>

  <p>
    Without abuse protection, an attacker with a compromised credential
    could generate many fake codes and then use those codes to
    subsequently upload many fake keys to the system.
  </p>

  <div class="form-group form-check">
    <input type="checkbox" name="abuse_prevention_enabled" id="abuse-prevention-enabled" class="form-check-input" value="1" {{if $realm.AbusePreventionEnabled}} checked{{end}}
      data-toggle="collapse" data-target="#abuse-prevention-configuration">
    <label class="form-check-label" for="abuse-prevention-enabled">
      Enable abuse prevention
    </label>
  </div>

  <div id="abuse-prevention-configuration" class="collapse{{if $realm.AbusePreventionEnabled}} show{{end}}">
    <div class="alert alert-primary" role="alert">
      Your current remaining daily quota is:
      <small class="text-monospace">{{$quotaRemaining}}/{{$quotaLimit}}</small>.
      This value is calculated and reset each day at <strong>11:59:59 UTC</strong>.
    </div>

    {{if gt $quotaRemaining $quotaLimit}}
      <div class="alert alert-warning" role="alert">
        Your remaining quota exceeds the maximum quota, meaning a realm
        administrator added a temporary burst.
      </div>
    {{end}}

    <div class="form-label-group">
      <input type="text" name="abuse_prevention_limit" id="abuse-prevention-limit" class="form-control" placeholder="Computed limit" value="{{$realm.AbusePreventionLimit}}" readonly />
      <label for="abuse-prevention-limit">Computed limit</label>
      <small class="form-text text-muted">
        This value is computed by the historical daily model and applies
        for the next 24h block of rolling UTC time.
      </small>
    </div>

    <div class="form-label-group">
      <input type="text" name="abuse_prevention_limit_factor" id="abuse-prevention-limit-factor" class="form-control" placeholder="Limit factor" value="{{printf "%.3f" $realm.AbusePreventionLimitFactor}}" />
      <label for="abuse-prevention-limit-factor">Limit factor</label>
      <small class="form-text text-muted">
        This value is factored against the predicted daily model to
        determine the total number of codes that {{$realm.Name}} can issue
        in a day. For example, to enable 25% more codes to be issued than
        predicted by the model model, set this value to <code>1.25</code>.
        <span class="text-danger font-weight-bold">
          Setting this value too low will prevent case workers from issuing
          codes for legitimate uses!
        </span>
      </small>
    </div>

    <div class="form-label-group">
      <input type="text" id="abuse-prevention-effective-limit" class="form-control" placeholder="Effective limit" value="{{$realm.AbusePreventionEffectiveLimit}}" readonly />
      <label for="abuse-prevention-effective-limit">Effective limit</label>
      <small class="form-text text-muted">
        This is the effective daily limit for {{$realm.Name}} after
        applying your limit factor.
      </small>
    </div>

    <div class="form-label-group">
      <input type="text" name="abuse_prevention_burst" id="abuse-prevention-burst" class="form-control" placeholder="Temporary burst" value="0" />
      <label for="abuse-prevention-burst">Temporary burst</label>
      <small class="form-text text-muted">
        Set this value to temporarily add quota to your realm. You
        should only do this when you've exceeded your daily quota and
        still need to issue new codes. After 00:00 UTC, the quota will
        reset back to the predicted model automatically.
      </small>
    </div>
  </div>

  <div class="mt-4">
    <input type="submit" class="btn btn-primary btn-block" value="Update abuse prevention settings" />
  </div>
</form>

<script type="text/javascript">
  $(function() {
    let $abusePreventionLimit = $('#abuse-prevention-limit');
    let $abusePreventionLimitFactor = $('#abuse-prevention-limit-factor');
    let $abusePreventionEffectiveLimit = $('#abuse-prevention-effective-limit');

    $abusePreventionLimitFactor.keyup(function(e){
      let $this = $(e.currentTarget);
      let current = $this.val();

      if (current && current.length) {
        let effective = parseFloat(current) * parseFloat($abusePreventionLimit.val());
        effective = Math.ceil(effective);
        $abusePreventionEffectiveLimit.val(effective);
      }
    });
  });
</script>

{{end}}
