{{define "realmadmin/_form_email"}}

{{$realm := .realm}}
{{$emailConfig := .emailConfig}}

<p class="mb-4">
  These are the settings for configuring an SMTP email provider and email templates. The verification server
  will use this email account to send invitations, password resets, and account-verifications
  for the realm.
</p>

<form method="POST" action="/realm/settings#email" class="floating-form">
  {{ .csrfField }}
  <input type="hidden" name="email" value="1" />

  {{if $realm.CanUseSystemEmailConfig}}
    {{if $realm.UseSystemEmailConfig}}
      <div class="alert alert-danger">
        <strong>Warning!</strong> You are currently using the system-provided
        SMTP email configuration. Specifying values below will override the system
        configuration to use your supplied credentials.
      </div>
    {{end}}

    <div class="form-group form-check">
      <input type="checkbox" name="use_system_smtp_config" id="use-system-smtp-config" class="form-check-input" value="1" {{if $realm.UseSystemEmailConfig}} checked{{end}}
        data-toggle="collapse" data-target="#smtp-form">
      <label class="form-check-label" for="use-system-smtp-config">
        Use system SMTP configuration
      </label>
    </div>
  {{end}}

  <div id="smtp-form" class="collapse{{if not $realm.UseSystemEmailConfig}} show{{end}}">
    <div class="form-label-group">
      <input type="text" name="smtp_account" id="smtp-account" class="form-control text-monospace{{if $emailConfig.ErrorsFor "smtpAccount"}} is-invalid{{end}}"
        placeholder="SMTP account" {{if $emailConfig.SMTPAccount}}value="{{$emailConfig.SMTPAccount}}"{{end}} />
      <label for="smtp-account">SMTP account</label>
      {{template "errorable" $emailConfig.ErrorsFor "smtpAccount"}}
      <small class="form-text text-muted">
        This is the SMTP email account eg. noreply@example.com
      </small>
    </div>

    <div class="form-label-group">
      <input type="password" name="smtp_password" id="smtp-password" class="form-control text-monospace{{if $emailConfig.ErrorsFor "smtpPassword"}} is-invalid{{end}}" autocomplete="new-password"
        placeholder="SMTP password" {{if $emailConfig.SMTPPassword}}value="{{passwordSentinel}}"{{end}}>
      <label for="smtp-password">SMTP password</label>
      {{template "errorable" $emailConfig.ErrorsFor "smtpPassword"}}
      <small class="form-text text-muted">
        This is the password for your SMTP email.
      </small>
    </div>

    <div class="form-label-group">
      <input name="smtp_host" id="smtp-host" class="form-control text-monospace{{if $emailConfig.ErrorsFor "smtpPort"}} is-invalid{{end}}"
        placeholder="SMTP host" {{if $emailConfig.SMTPHost}}value="{{$emailConfig.SMTPHost}}"{{end}} />
      <label for="smtp-port">SMTP host</label>
      {{template "errorable" $emailConfig.ErrorsFor "smtpHost"}}
      <small class="form-text text-muted">
        SMTP host is the hostname for the SMTP server.
      </small>
    </div>

    <div class="form-label-group">
      <input name="smtp_port" id="smtp-port" class="form-control text-monospace{{if $emailConfig.ErrorsFor "smtpPort"}} is-invalid{{end}}"
        placeholder="SMTP port" value="{{if $emailConfig.SMTPPort}}{{$emailConfig.SMTPPort}}{{else}}587{{end}}" />
      <label for="smtp-port">SMTP port</label>
      {{template "errorable" $emailConfig.ErrorsFor "smtpPort"}}
      <small class="form-text text-muted">
        SMTP port is the port number to connect to.
        587 is the default port for SMTP, and legacy port 25 is blocked.
      </small>
    </div>

    <div class="form-label-group">
      <textarea name="email_invite_template" id="email-invite-template" class="form-control text-monospace{{if $realm.ErrorsFor "EmailInviteTemplate"}} is-invalid{{end}}"
        rows="5" placeholder="Email invite template">{{$realm.EmailInviteTemplate}}</textarea>
      <label for="email-invite-template">Email invitation template</label>
      {{if $realm.ErrorsFor "EmailInviteTemplate"}}
      <div class="invalid-feedback">
        {{joinStrings ($realm.ErrorsFor "EmailInviteTemplate") ", "}}
      </div>
      {{end}}
      <small class="form-text text-muted">
        <p>
        The invitation email message will be constructed based on the template you provide.
        This can be helpful for introducing new users to the system or providing additional instructions.
        There are some special strings that you can use to substitute items.

        Your email invite template <em>MUST</em> contain <code>[invitelink]</code>.
        </p>

        <ul>
          <li><code>[invitelink]</code> The link given to the user to accept the invitation.</li>
          <li><code>[realname]</code> The name of the current realm. Currently <em>{{$realm.Name}}</em>.</li>
        </ul>

        Here is an example invitation template.
        <p>
          <samp class="text-dark">
            Welcome,<br/>
            You have been invited to the State of Wonder Dept. of Health COVID-19 exposure notification
            server. You may use the following link to set your password and sign-in:<br/>
            [invitelink]
          </samp>
        </p>
      </small>
    </div>
  </div>

  <div class="mt-4">
    <input type="submit" id="update-smtp" class="btn btn-primary btn-block" value="Update email settings" />
  </div>
</form>

{{end}}
