{{define "realmadmin/_form_express"}}

{{$realm := .realm}}

<form method="POST" action="/realm/settings#express" class="floating-form">
  {{ .csrfField }}

  {{if $realm.EnableENExpress}}
    <p>
      Exposure Notifications Express (EN Express) is currently
      <strong>enabled</strong> for {{$realm.Name}}. Click the button below to
      disable EN Express. This will enable you to control all the settings.
    </p>
    <p class="font-weight-bold text-danger">
      This could cause your iOS and Android integrations to stop working!
    </p>

    <a href="/realm/settings/disable-express" class="btn btn-danger btn-block mt-4"
      data-method="POST" data-confirm="Are you sure you want to disable EN Express? This could cause your iOS and Android integrations to stop working.">
      Disable EN Express
    </a>
  {{else}}
    <p>
      Exposure Notifications Express (EN Express) is currently
      <strong>disabled</strong> for {{$realm.Name}}. Click the button below to
      enable EN Express. <strong>You should only do this if you have confirmed
      participation with Apple and Google.</strong>
    </p>
    <p class="font-weight-bold text-danger">
      This will override the settings and force the EN Express defaults.
    </p>

    <a href="/realm/settings/enable-express" class="btn btn-danger btn-block mt-4"
      data-method="POST" data-confirm="Are you sure you want to enable EN Express? You should only do this if you have confirmed participation with Apple and Google.">
      Enable EN Express
    </a>
  {{end}}
</form>

{{end}}
