{{define "realmadmin/_form_codes"}}

{{$realm := .realm}}
{{$testTypes := .testTypes}}

<p class="mb-4">
  These are the settings for verification codes. These values determine how and
  with what values verification codes can be issued.
</p>

<form method="POST" action="/realm/settings#codes" class="floating-form">
  {{ .csrfField }}
  <input type="hidden" name="codes" value="1" />

  <div class="form-group">
    <label>Allowed test types</label>
    {{if not $realm.EnableENExpress}}
    <div class="form-check mb-3">
      <input type="radio" name="allowed_test_types" id="test-type-negative" class="form-check-input" value="{{$testTypes.negative}}"{{if eq $realm.AllowedTestTypes $testTypes.negative}} checked{{end}}/>
      <label for="test-type-negative" class="form-check-label">
        Positive + Likely + Negative
        <small class="form-text text-muted">
          Support confirmed positive tests from an official testing
          source, clinical diagnoses without a test, and confirmed
          negative test from an official testing source.
        </small>
      </label>
    </div>

    <div class="form-check mb-3">
      <input type="radio" name="allowed_test_types" id="test-type-likely" class="form-check-input" value="{{$testTypes.likely}}"{{if eq $realm.AllowedTestTypes $testTypes.likely}} checked{{end}} />
      <label for="test-type-likely" class="form-check-label">
        Positive + Likely
        <small class="form-text text-muted">
          Support confirmed positive tests from an official testing
          source and clinical diagnoses without a test.
        </small>
      </label>
    </div>
    {{end}}

    <div class="form-check mb-3">
      <input type="radio" name="allowed_test_types" id="test-type-confirmed" class="form-check-input" value="{{$testTypes.confirmed}}"{{if eq $realm.AllowedTestTypes $testTypes.confirmed}} checked{{end}} />
      <label for="test-type-confirmed" class="form-check-label">
        Positive
        <small class="form-text text-muted">
          Only permit confirmed positive tests from an official
          testing source.
          {{if $realm.EnableENExpress}} <br />
          You are enrolled in EN Express which only supports the sharing of
          positive tests.
          {{end}}
        </small>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label>Date configuration</label>
    <div class="form-group">
      <div class="form-check mb-3">
        <input type="radio" name="require_date" id="require-date-false" class="form-check-input" value="false"{{if not $realm.RequireDate }} checked{{end}}/>
        <label for="require-date-false" class="form-check-label">
          Optional date
          <small class="form-text text-muted">
            Do not require a test date when generating a verification
            code. Users and app can still optionally provide a date.
          </small>
        </label>
      </div>

      <div class="form-check mb-3">
        <input type="radio" name="require_date" id="require-date-true" class="form-check-input" value="true"{{if $realm.RequireDate }} checked{{end}} />
        <label for="require-date-true" class="form-check-label">
          Required date
          <small class="form-text text-muted">
            <strong>Recommended:</strong> Require a symptom date or test date
            when generating a verification code. Attempting to generate a verification
            code without a date will return an error. <em>Exposure notifications are 
            more accurate when a date is provided.</em>
          </small>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="code-length">Short code length</label>
    {{if $realm.EnableENExpress}}
      <input type="text" id="code-length" class="form-control{{if $realm.ErrorsFor "codeLength"}} is-invalid{{end}}" value="{{$realm.CodeLength}} digits" readonly />
    {{else}}
      <select name="code_length" id="code-length" class="form-control custom-select{{if $realm.ErrorsFor "codeLength"}} is-invalid{{end}}">
        {{range $cl := .shortCodeLengths}}
          <option value="{{$cl}}" {{if (eq $cl $realm.CodeLength)}}selected{{end}}>{{$cl}} digits</option>
        {{end}}
      </select>
      <small class="form-text text-muted">
        The short verification code is intended to be dictated over the phone to the
        person and is <code>6</code>, <code>7</code>, or <code>8</code> digits in length.
      </small>
    {{end}}
  </div>

  <div class="form-group">
    <label for="code-duration">Short code expiration</label>
    {{if $realm.EnableENExpress}}
      <input type="text" id="code-duration" class="form-control{{if $realm.ErrorsFor "CodeDurationSeconds"}} is-invalid{{end}}" value="{{$realm.GetCodeDurationMinutes}} minutes" readonly />
      <small class="form-text text-muted">
        This value cannot be changed when ENExpress is enabled.
      </small>
    {{else}}
      <select name="code_duration" id="code-duration" class="form-control custom-select{{if $realm.ErrorsFor "CodeDurationSeconds"}} is-invalid{{end}}">
        {{$current := $realm.GetCodeDurationMinutes}}
        {{range $scm := .shortCodeMinutes}}
          <option value="{{$scm}}" {{if (eq $scm $current)}}selected{{end}}>{{$scm}} minutes</option>
        {{end}}
      </select>
      <small class="form-text text-muted">
        The short code can be valid from anywhere between <code>5</code> and <code>60</code>
        minutes. If you are using SMS deeplinks, it is recommended to keep this duration
        short and let the long code be valid for a longer period (up to <code>24</code> hours).
      </small>
    {{end}}
  </div>

  <div class="form-group">
    <label for="long-code-length">Long code length</label>
    {{if $realm.EnableENExpress}}
      <input type="text" id="long-code-length" class="form-control{{if $realm.ErrorsFor "longCodeLength"}} is-invalid{{end}}" value="{{$realm.LongCodeLength}} characters" readonly />
      <small class="form-text text-muted">
        This value cannot be changed when ENExpress is enabled.
      </small>
    {{else}}
      <select name="long_code_length" id="long-code-length" class="form-control custom-select{{if $realm.ErrorsFor "longCodeLength"}} is-invalid{{end}}">
        {{range $cl := .longCodeLengths}}
          <option value="{{$cl}}" {{if (eq $cl $realm.LongCodeLength)}}selected{{end}}>{{$cl}} characters</option>
        {{end}}
      </select>
      <small class="form-text text-muted">
        The 'long' verification code is only delivered over SMS{{if not $realm.EnableENExpress}}, is more complex with <code>12</code> -
        <code>16</code> alphanumeric characters, and is never shown to a human. It is recommended
        to leave this at the default of <code>16</code> digits{{end}}.
      </small>
    {{end}}
  </div>

  <div class="form-group">
    <label for="long-code-duration">Long code expiration</label>
    {{if $realm.EnableENExpress}}
      <input type="text" id="long-code-duration" class="form-control{{if $realm.ErrorsFor "LongCodeDurationSeconds"}} is-invalid{{end}}" value="{{$realm.GetLongCodeDurationHours}} hours" readonly />
      <small class="form-text text-muted">
        This value cannot be changed when ENExpress is enabled.
      </small>
    {{else}}
      <select name="long_code_duration" id="long-code-duration" class="form-control custom-select{{if $realm.ErrorsFor "LongCodeDurationSeconds"}} is-invalid{{end}}">
        {{$current := $realm.GetLongCodeDurationHours}}
        {{range $lch := .longCodeHours}}
          <option value="{{$lch}}" {{if (eq $lch $current)}}selected{{end}}>{{$lch}} hours</option>
        {{end}}
      </select>
      <small class="form-text text-muted">
        The long code can be valid between <code>1</code> and <code>24</code>
        hours.
      </small>
    {{end}}
  </div>

  <div class="form-label-group">
    <textarea name="sms_text_template" id="sms-text-template" class="form-control text-monospace{{if $realm.ErrorsFor "SMSTextTemplate"}} is-invalid{{end}}"
      rows="5" placeholder="SMS text template">{{$realm.SMSTextTemplate}}</textarea>
    <label for="sms-text-template">SMS text template</label>
    {{if $realm.ErrorsFor "SMSTextTemplate"}}
    <div class="invalid-feedback">
      {{joinStrings ($realm.ErrorsFor "SMSTextTemplate") ", "}}
    </div>
    {{end}}
    <small class="form-text text-muted">
      The SMS message will be constructed based on the template you provide. The overall
      length of of the SMS message should not exceed 160 characters, or your message will need to be split
      in transit and may not be joined correctly. There are some special strings that you can use
      to substitute items.
      {{if $realm.EnableENExpress}}
        Your SMS template <em>MUST</em> contain <code>[enslink]</code>.
        <ul>
          {{if eq "" .enxRedirectDomain}}
          <li><code>[enslink]</code> Inserts the required EN Express link of: <code>ens://v?r=[region]&c=[longcode]</code></li>
          {{else}}
          <li><code>[enslink]</code> Inserts the EN Express link of: <code>https://{{toLower $realm.RegionCode}}.{{.enxRedirectDomain}}/v?c=[longcode]</code>
            <ul>
              <li>This domain should be registered as a universal link for both your Android and iOS applications.</li>
              <li>Contact your server operator to verify the the verification EN Express redirect service is running and configurd correctly.</li>
            </ul>
          </li>
          {{end}}
          <li><code>[longexpires]</code>The number of hours until the long code expires (just the number, no units).</li>
        </ul>

        Here is an example SMS template using EN Express.

        <ul>
          <li>
            <p>Custom greeting before the EN Express link and showing expiration.</p>
            <p>
              <samp class="text-dark">
                State of Wonder DOH. Click to share anonymous data for exposure notifications [enslink] (mobile only) Expires in [longexpires] hours
              </samp>
            </p>
          </li>
          <li>
            <p>This results in a SMS message that looks like:</p>
            <p>
              <samp class="text-dark">
                {{if eq "" .enxRedirectDomain}}
                State of Wonder DOH. Click to share anonymous data for exposure notifications ens://v?r={{$realm.RegionCode}}&c=[longcode] (mobile only) Expires in 24 hours
                {{else}}
                State of Wonder DOH. Click to share anonymous data for exposure notifications https://{{toLower $realm.RegionCode}}.{{.enxRedirectDomain}}/v?c=[longcode] (mobile only) Expires in 24 hours
                {{end}}
              </samp>
            </p>
          </li>
        </ul>

      {{else}}
      Your SMS template <em>MUST</em> contain either the <code>[code]</code> or
      <code>[longcode]</code>.
      <ul>
        <li><code>[region]</code>The region setting (set on this page).</li>
        <li><code>[code]</code>The 'short' verification code.</li>
        <li><code>[expires]</code>The number of minutes until the short code expires (just the number, no units).</li>
        <li><code>[longcode]</code>The 'long' verification code</li>
        <li><code>[longexpires]</code>The number of hours until the long code expires (just the number, no units).</li>
      </ul>

      Here are some example SMS templates. The recommended usage is to include the long code in the SMS, and make
      it clickable by registering a customer URI handler for your app.
      <ul>
        <li>
          <p>Send short code in SMS (<code>104</code> characters with 8 digit codes and 60 minute expiration):</p>
          <p>
            <samp class="text-dark">
              State of Wonder Dept. of Health, your exposure
              notifications code is [code] and expires in [expires]
              minutes.
            </samp>
          </p>
        </li>
        <li>
          <p>Send long code with custom URI (<code>152</code> characters with 16 digit codes and 24 hour expiration).
            Here we assume that <code>verify.mypha.gov</code> is registred as a universal link for both your iOS
            and Android applications.
         </p>
          <p>
            <samp class="text-dark">
              You have tested positive for COVID-19. Click here to
              share anonymous data for exposure notifications
              https://verify.mypha.gov/v?c=[longcode] (Expires in [longexpires] hours)
            </samp>
          </p>
        </li>
      </ul>
      {{end}}
    </small>
  </div>

  <div class="mt-4">
    <input type="submit" class="btn btn-primary btn-block" value="Update verification codes settings" />
  </div>
</form>

{{end}}
