{{define "realmadmin/_form_sms"}}

{{$realm := .realm}}
{{$smsConfig := .smsConfig}}
{{$countries := .countries}}

<p class="mb-4">
  These are the settings for configuring the <a
  href="https://www.twilio.com">Twilio</a> SMS provider. If these values are
  blank, the system will not send SMS text message verification codes.
</p>

<form method="POST" action="/realm/settings#sms" class="floating-form">
  {{ .csrfField }}
  <input type="hidden" name="sms" value="1" />

  {{if $realm.CanUseSystemSMSConfig}}
    {{if $realm.UseSystemSMSConfig}}
      <div class="alert alert-danger">
        <strong>Warning!</strong> You are currently using the system-provided
        SMS configuration. Specifying values below will override the system
        configuration to use your supplied credentials.
      </div>
    {{end}}

    <div class="form-group form-check">
      <input type="checkbox" name="use_system_sms_config" id="use-system-sms-config" class="form-check-input" value="1" {{if $realm.UseSystemSMSConfig}} checked{{end}}
        data-toggle="collapse" data-target="#sms-form">
      <label class="form-check-label" for="use-system-sms-config">
        Use system SMS configuration
      </label>
    </div>
  {{end}}

  <div id="sms-form" class="collapse{{if not $realm.UseSystemSMSConfig}} show{{end}}">
    <div class="form-label-group">
      <input type="text" name="twilio_account_sid" id="twilio-account-sid" class="form-control text-monospace{{if $smsConfig.ErrorsFor "twilioAccountSid"}} is-invalid{{end}}"
        placeholder="Twilio account" value="{{if $smsConfig.TwilioAccountSid}}{{$smsConfig.TwilioAccountSid}}{{end}}" />
      <label for="twilio-account-sid">Twilio account</label>
      {{template "errorable" $smsConfig.ErrorsFor "twilioAccountSid"}}
      <small class="form-text text-muted">
        This is the Twilio Account SID. Get this value from the Twilio console.
      </small>
    </div>

    <div class="form-label-group">
      <input type="password" name="twilio_auth_token" id="twilio-auth-token" class="form-control text-monospace{{if $smsConfig.ErrorsFor "twilioAuthToken"}} is-invalid{{end}}" autocomplete="new-password"
        placeholder="Twilio auth token" value="{{if $smsConfig.TwilioAuthToken}}{{.passwordSentinel}}{{end}}">
      <label for="twilio-auth-token">Twilio auth token</label>
      {{template "errorable" $smsConfig.ErrorsFor "twilioAuthToken"}}
      <small class="form-text text-muted">
        This is the Twilio Auth Token. Get this value from the Twilio console.
      </small>
    </div>

    <div class="form-label-group">
      <input type="tel" name="twilio_from_number" id="twilio-from-number" class="form-control text-monospace{{if $smsConfig.ErrorsFor "twilioFromNumber"}} is-invalid{{end}}" autocomplete="new-password"
        placeholder="Twilio number" value="{{if $smsConfig.TwilioFromNumber}}{{$smsConfig.TwilioFromNumber}}{{end}}" />
      <label for="twilio-from-number">Twilio number</label>
      {{template "errorable" $smsConfig.ErrorsFor "twilioFromNumber"}}
      <small class="form-text text-muted">
        This is the Twilio From Number. Get this value from the Twilio console.
        If you plan on sending more than 100 codes per day, we <strong>strongly
        recommend</strong> acquiring a toll free number or SMS short code to
        reduce the chance that your message will be flagged as spam.
      </small>
    </div>
  </div>

  <div class="form-label-group">
    <select name="sms_country" id="sms_country" class="form-control custom-select">
      <option selected disabled>SMS country</option>
      {{range $name, $value := $countries}}
        <option value="{{$value}}"{{if eq $realm.SMSCountry $value}} selected{{end}}>{{$name}}</option>
      {{end}}
    </select>
    {{template "errorable" $realm.ErrorsFor "smsCountry"}}
    <small class="form-text text-muted">
      This is the default value for the country code to use for SMS numbers.
      Case workers will still be able to select a default value, but you should
      set this to your most common region.
    </small>
  </div>

  <div class="mt-4">
    <input type="submit" id="update-sms" class="btn btn-primary btn-block" value="Update SMS settings" />
  </div>
</form>

{{end}}
