{{define "realmadmin/show"}}

{{$currentRealm := .currentRealm}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body class="tab-content" id="realm-stats-show">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Realm stats</h1>
    <p>
      The data below shows realm statistics and visualizations.
    </p>

    <div class="card mb-3">
      <div class="card-header">
        <span class="oi oi-bar-chart mr-2 ml-n1"></span>
        Codes issued &amp; claimed
      </div>
      <div id="realm_chart" class="container d-flex h-100 w-100" style="min-height:400px;">
        <p class="justify-content-center align-self-center text-center font-italic w-100">Loading chart...</p>
      </div>
      <small class="card-footer d-flex justify-content-between text-muted">
        <a href="#" data-toggle="modal" data-target="#realm-modal">Learn more about this chart</a>
        <span>
          <span class="mr-1">Export as:</span>
          <a href="/realm/stats.csv" class="mr-1">CSV</a>
          <a href="/realm/stats.json">JSON</a>
        </span>
      </small>
    </div>

    <div class="modal fade" id="realm-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Codes issued &amp; claimed</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mb-n3">
            <p>
              This graph reflects the total number of codes issued and claimed
              for {{$currentRealm.Name}}, grouped by UTC day.
            </p>

            <strong>Issued</strong>
            <p>
              This line tracks the total number of codes issued. Codes can be
              issued via the web interface or via the API. Both types of codes
              are included in this count.
            </p>

            <strong>Claimed</strong>
            <p>
              This line tracks the total number of codes claimed. Codes can only
              be claimed by the end user using the API. Typically the iOS or
              Android application is responsible for claiming the code.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <span class="oi oi-bar-chart mr-2 ml-n1"></span>
        Daily active users
      </div>
      <div id="daily_active_users_chart" class="container d-flex h-100 w-100" style="min-height:400px;">
        <p class="justify-content-center align-self-center text-center font-italic w-100">Loading chart...</p>
      </div>
      <small class="card-footer d-flex justify-content-between text-muted">
        <a href="#" data-toggle="modal" data-target="#daily-active-users-modal">Learn more about this chart</a>
        <span>
          <span class="mr-1">Export as:</span>
          <a href="/realm/stats.csv" class="mr-1">CSV</a>
          <a href="/realm/stats.json">JSON</a>
        </span>
      </small>
    </div>

    <div class="modal fade" id="daily-active-users-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Daily active users</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mb-n3">
            <p>
              This graph reflects the total number of reported daily active
              users for {{$currentRealm.Name}}. You may need to alter your iOS
              and Android applications to publish this metric.
            </p>

            <p>
              See the
              <a
              href="https://github.com/google/exposure-notifications-verification-server/blob/main/docs/api.md#chaffing-requests"
              target="_BLANK" rel="noopener">API documentation</a> for
              information on how to populate these metrics from your
              application.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 pr-lg-2">
        <div class="card mb-3">
          <div class="card-header">
            <span class="oi oi-bar-chart mr-2 ml-n1"></span>
            Codes issued by user by day
          </div>
          <div id="per_user_table" class="overflow-auto" style="height:400px">
            <div class="container d-flex h-100 w-100">
              <p class="justify-content-center align-self-center text-center font-italic w-100">Loading data...</p>
            </div>
          </div>
          <small class="card-footer d-flex justify-content-between text-muted">
            <a href="#" data-toggle="modal" data-target="#per-user-table-modal">Learn more about this table</a>
            <span>
              <span class="mr-1">Export as:</span>
              <a href="/realm/stats.csv?scope=user" class="mr-1">CSV</a>
              <a href="/realm/stats.json?scope=user">JSON</a>
            </span>
          </small>
        </div>
      </div>

      <div class="modal fade" id="per-user-table-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Codes issued by user by day</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mb-n3">
              <p>
                This table reflects the number of codes issued each day, broken
                down by user. A user is a human with a username and password who
                authenticates to this server and issues verification codes.
                API.
              </p>

              <p>
                To see per user statistics for a given date, click on that date
                in the table. The row will expand to include information about
                the users that issued codes on that date.
              </p>

              <p>
                This graph does <u>not</u> include codes that were issued via
                the
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 pl-lg-2">
        <div class="card mb-3">
          <div class="card-header">
            <span class="oi oi-bar-chart mr-2 ml-n1"></span>
            Codes issued by external issuers
          </div>
          <div id="per_external_issuer_table" class="overflow-auto" style="height:400px">
            <div class="container d-flex h-100 w-100">
              <p class="justify-content-center align-self-center text-center font-italic w-100">Loading data...</p>
            </div>
          </div>
          <small class="card-footer d-flex justify-content-between text-muted">
            <a href="#" data-toggle="modal" data-target="#per-external-issuer-table-modal">Learn more about this table</a>
            <span>
              <span class="mr-1">Export as:</span>
              <a href="/realm/stats.csv?scope=external" class="mr-1">CSV</a>
              <a href="/realm/stats.json?scope=external">JSON</a>
            </span>
          </small>
        </div>
      </div>

      <div class="modal fade" id="per-external-issuer-table-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Codes issued by external issuers by day</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mb-n3">
              <p>
                This table reflects the number of codes issued each day, broken
                down by external issuer. An external issuer is an optional
                client-supplied string when issuing a code via the Admin API.
                See the <a
                href="https://github.com/google/exposure-notifications-verification-server/blob/main/docs/api.md#apiissue"
                target="_BLANK" rel="noopener">API documentation</a> for
                information on how to populate this value when issuing codes.
              </p>

              <p>
                To see per external issuer statistics for a given date, click on
                that date in the table. The row will expand to include
                information about the external issuers that issued codes on that
                date.
              </p>

              <p>
                This graph does <u>not</u> include codes that were issued via
                users who have logged into the web interface or codes that were
                issued via the API without an <code>external_issuer</code>
                value.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    let realmChartDiv = document.getElementById('realm_chart');
    let dailyUsersChartDiv = document.getElementById('daily_active_users_chart');
    let $perUserTable = $('#per_user_table');
    let $perExternalIssuerTable = $('#per_external_issuer_table');
    let dateFormatter;

    google.charts.load('current', {
      packages: ['corechart'],
      callback: function() {
        dateFormatter = new google.visualization.DateFormat({
          pattern: 'MMM dd',
        });

        drawCharts();
      },
    });

    function drawCharts() {
      drawRealmCharts();
      drawUsersTable();
      drawExternalIssuersTable();
    }

    // utcDate parses the given RFC-3339 date as a javascript date, then
    // converts it to a UTC date.
    function utcDate(str) {
      let d = new Date(str);
      let offset = d.getTimezoneOffset() * 60 * 1000;
      return new Date(d.getTime() + offset);
    }

    function drawRealmCharts() {
      $.ajax({
        url: '/realm/stats.json',
        dataType: 'json',
      })
      .done(function(data, status, xhr) {
        if (!data.statistics) {
          $(realmChartDiv).find('p').text('No data yet.');
          $(dailyUsersChartDiv).find('p').text('No data yet.');
          return;
        }

        // Code stats
        {
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn('date', 'Date');
          dataTable.addColumn('number', 'Issued');
          dataTable.addColumn('number', 'Claimed');

          data.statistics.reverse().forEach(function(row) {
            dataTable.addRow([utcDate(row.date), row.data.codes_issued, row.data.codes_claimed]);
          });

          dateFormatter.format(dataTable, 0);

          let options = {
            colors: ['#007bff', '#ff7b00'],
            chartArea: {
              left: 30, // leave room for y-axis labels
              width: '100%'
            },
            hAxis: { format: 'M/d' },
            legend: { position: 'top' },
            width: '100%'
          };

          let chart = new google.visualization.LineChart(realmChartDiv);
          chart.draw(dataTable, options);
        }

        // Daily actives
        {
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn('date', 'Date');
          dataTable.addColumn('number', 'Users');

          data.statistics.reverse().forEach(function(row) {
            dataTable.addRow([utcDate(row.date), row.data.daily_active_users]);
          });

          dateFormatter.format(dataTable, 0);

          let options = {
            colors: ['#007bff', '#ff7b00'],
            chartArea: {
              left: 30, // leave room for y-axis labels
              width: '100%'
            },
            hAxis: { format: 'M/d' },
            legend: 'none',
            width: '100%'
          };

          let chart = new google.visualization.LineChart(dailyUsersChartDiv);
          chart.draw(dataTable, options);
        }
      })
      .fail(function(xhr, status, err) {
        flash.error('Failed to render realm stats: ' + err);
      });
    }

    function drawUsersTable() {
      $.ajax({
        url: '/realm/stats.json',
        data: { scope: 'user' },
        dataType: 'json',
      })
      .done(function(data, status, xhr) {
        if (!data.statistics) {
          $perUserTable.find('p').text('There is no per-user data yet.')
          return;
        }

        $perUserTable.empty();

        let $listGroup = $('<div>');
          $listGroup.addClass('list-group');
          $listGroup.addClass('list-group-flush');
        $perUserTable.append($listGroup);

        data.statistics.forEach(function(row) {
          let date = utcDate(row.date);
          let id = `collapse-user-${date.getTime()}`;

          let $dateRow = $('<div>');
            $dateRow.addClass('list-group-item');
            $dateRow.addClass('list-group-item-action');
            $dateRow.attr('data-toggle', 'collapse');
            $dateRow.attr('data-target', `#${id}`);
            $dateRow.attr('aria-expanded', false);
            $dateRow.attr('aria-controls', id);
            $dateRow.text(date.toLocaleDateString());
          $listGroup.append($dateRow);

          let $issuerData = $('<div>');
            $issuerData.attr('id', id);
            $issuerData.addClass('collapse');
            $issuerData.addClass('list-group-item');
            $issuerData.addClass('p-0 pl-3');
            $issuerData.data('parent', '#per_user_table');
          $listGroup.append($issuerData);

          let $table = $('<table>');
            $table.addClass('table');
            $table.addClass('table-bordered');
            $table.addClass('table-striped');
            $table.addClass('table-fixed');
            $table.addClass('table-inner-border-only');
            $table.addClass('border-left');
            $table.addClass('mb-0');
          $issuerData.append($table);

          let $thead = $('<thead>');
          $table.append($thead)

          let $trhead = $('<tr>');
            $trhead.append(
              $('<th>').text('Name'),
              $('<th>').text('Email'),
              $('<th width="80">').text('Issued'));
          $thead.append($trhead);

          let $tbody = $('<tbody>');
          $table.append($tbody);

          row.issuer_data.forEach(function(issuer) {
            let $name = $('<td>').text(issuer.name);
            let $email = $('<td>').text(issuer.email);
            let $codes_issued = $('<td align="right">').text(issuer.codes_issued);

            let $tr = $('<tr>');
              $tr.append($name, $email, $codes_issued);
              $tbody.append($tr);
          });
        });
      })
      .fail(function(xhr, status, err) {
        flash.error('Failed to render user stats: ' + err);
      });
    }

    function drawExternalIssuersTable() {
      $.ajax({
        url: '/realm/stats.json',
        data: { scope: 'external' },
        dataType: 'json',
      })
      .done(function(data, status, xhr) {
        if (!data.statistics) {
          $perExternalIssuerTable.find('p').text('There is no external issuing data yet.')
          return;
        }

        $perExternalIssuerTable.empty();

        let $listGroup = $('<div>');
          $listGroup.addClass('list-group');
          $listGroup.addClass('list-group-flush');
        $perExternalIssuerTable.append($listGroup);

        data.statistics.forEach(function(row) {
          let date = utcDate(row.date);
          let id = `collapse-external-${date.getTime()}`;

          let $dateRow = $('<div>');
            $dateRow.addClass('list-group-item');
            $dateRow.addClass('list-group-item-action');
            $dateRow.attr('data-toggle', 'collapse');
            $dateRow.attr('data-target', `#${id}`);
            $dateRow.attr('aria-expanded', false);
            $dateRow.attr('aria-controls', id);
            $dateRow.text(date.toLocaleDateString());
          $listGroup.append($dateRow);

          let $issuerData = $('<div>');
            $issuerData.attr('id', id);
            $issuerData.addClass('collapse');
            $issuerData.addClass('list-group-item');
            $issuerData.addClass('p-0 pl-3');
            $issuerData.data('parent', '#per_user_table');
          $listGroup.append($issuerData);

          let $table = $('<table>');
            $table.addClass('table');
            $table.addClass('table-bordered');
            $table.addClass('table-striped');
            $table.addClass('table-fixed');
            $table.addClass('table-inner-border-only');
            $table.addClass('border-left');
            $table.addClass('mb-0');
          $issuerData.append($table);

          let $thead = $('<thead>');
          $table.append($thead)

          let $trhead = $('<tr>');
            $trhead.append(
              $('<th>').text('ID'),
              $('<th width="80">').text('Issued'));
          $thead.append($trhead);

          let $tbody = $('<tbody>');
          $table.append($tbody);

          row.issuer_data.forEach(function(issuer) {
            let $name = $('<td>').text(issuer.issuer_id);
            let $codes_issued = $('<td align="right">').text(issuer.codes_issued);

            let $tr = $('<tr>');
              $tr.append($name, $codes_issued);
              $tbody.append($tr);
          });
        });
      })
      .fail(function(xhr, status, err) {
        flash.error('Failed to render external issuer stats: ' + err);
      });
    }
  </script>
</body>
</html>
{{end}}
