{{define "realmadmin/stats"}}

{{$currentMembership := .currentMembership}}
{{$realm := $currentMembership.Realm}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
  <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body id="realmadmin-stats" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Realm stats</h1>
    <p>
      The data below shows realm statistics and visualizations.
    </p>

    {{template "realmadmin/_stats_codes" .}}

    <div class="row">
      <div class="col-lg-6 pr-lg-2">
        {{template "realmadmin/_stats_users" .}}
      </div>

      <div class="col-lg-6 pl-lg-2">
        {{template "realmadmin/_stats_external_issuers" .}}
      </div>
    </div>

    {{template "realmadmin/_stats_tokens" .}}

    {{if .hasKeyServerStats}}
    {{template "realmadmin/_stats_keyserver" .}}
    {{end}}
  </main>

  <script type="text/javascript">
  var redrawCharts = [];

  $(function() {
    let redrawPending = false;
    let windowWidth = 0;
    $(window).resize(function() {
      let w = $(window).width();
      if (w != windowWidth) {
        windowWidth = w;
      } else {
        return;
      }

      if (!redrawPending) {
        redrawPending = true;
        setTimeout(function(){
          redraw();
          redrawPending = false;
        }, 300);
      }
    });

    function redraw(){
      let c
      for (c of redrawCharts) {
        if (c.options) {
          c.options.animation = null;
        }
        c.chart.draw(c.data, c.options)
      }
    }
  });
  </script>
</body>
</html>
{{end}}
