{{define "realmadmin/stats"}}

{{$currentMembership := .currentMembership}}
{{$realm := $currentMembership.Realm}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
  <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body id="realmadmin-stats" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Realm stats</h1>
    <p>
      The data below shows realm statistics and visualizations.
    </p>

    {{template "realmadmin/_stats_codes" .}}

    <div class="row">
      <div class="col-lg-6 pr-lg-2">
        {{template "realmadmin/_stats_users" .}}
      </div>

      <div class="col-lg-6 pl-lg-2">
        {{template "realmadmin/_stats_external_issuers" .}}
      </div>
    </div>

    {{template "realmadmin/_stats_tokens" .}}

    {{if .hasKeyServerStats}}
    {{template "realmadmin/_stats_keyserver" .}}
    {{end}}
  </main>
</body>
</html>
{{end}}
