{{define "loginscripts"}}
<script type="text/javascript">
  firebase.auth().onAuthStateChanged(function(user) {
    if (!user) {
      return
    }
    setSession(user)
  });

  function setSession(user) {
    user.getIdToken().then(idToken => {
      $.ajax({
        type: 'POST',
        url: '/session',
        data: {
          idToken: idToken,
        },
        headers: { 'X-CSRF-Token': '{{.csrfToken}}' },
        contentType: 'application/x-www-form-urlencoded',
        {{if not .currentUser}}
        success: function(returnData) {
          // The user successfully signed in, redirect to realm selection.
          window.location.assign('/login/select-realm');
        },
        {{end}}
        error: function(xhr, status, e) {
          // There was an error finding the user. Redirect to the
          // sign-out page to clear the firebase cookie and any session
          // data.
          //
          // The flash data may have more detailed error messages, which
          // will be displayed on the signout page.
          window.location.assign("/signout");
        }
      })
    });
  }
</script>
{{end}}

{{define "login/pindiv"}}
<div class="card shadow-sm d-none" id="sms-code-div">
  <div class="card-header">
    SMS confirmation code
    <button type="button" class="close" aria-label="Close" id="sms-code-close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form id="sms-code-form" class="floating-form" action="/" method="POST">
      <div class="form-label-group">
        <input type="text" id="sms-code" name="sms-code" class="form-control" placeholder="Code" autocomplete="one-time-code" required autofocus />
        <label for="sms-code">Code</label>
        <div class='w-100'>
          <small class="text-muted">
            Please enter the numerical code that was sent via SMS.
          </small>
        </div>
        <small class="text-muted" id='code-text'></small>
      </div>

      <button type="submit" id="sms-code-submit" class="btn btn-primary btn-block">Confirm code</button>
      <div class="btn-block">
        <a id="sms-code-resend" class="card-link disabled" disabled>Resend SMS</a>
        <a id="sms-change" class="card-link d-none" href="#">Change login factor</a>
      </div>
    </form>
  </div>
</div>
{{end}}

{{define "login/factorsdiv"}}
<div class="card shadow-sm mb-3 d-none" id="registered-div">
  <div class="card-header">Registered factors</div>
  <div class="card-body">
    <div id="factors" class="list-group list-group-flush">
    </div>
  </div>
</div>
{{end}}

{{define "login/pwd-validate"}}
<p class="card-text ml-4">
  <small class="form-text text-muted">
    {{if .requirements.HasRequirements}}
    <span class="row">Password should be:</span>
    {{if gt .requirements.Length 0}}
    <span class="row ml-1" id="length-req">
      <span id="icon" aria-hidden="true"></span>At least {{.requirements.Length}} characters long
    </span>
    {{end}}
    {{if gt .requirements.Uppercase 0}}
    <span class="row ml-1" id="upper-req">
      <span id="icon" aria-hidden="true"></span>Contain {{.requirements.Uppercase}} uppercase letter
    </span>
    {{end}}
    {{if gt .requirements.Lowercase 0}}
    <span class="row ml-1" id="lower-req">
      <span id="icon" aria-hidden="true"></span>Contain {{.requirements.Lowercase}} lowercase letter
    </span>
    {{end}}
    {{if gt .requirements.Number 0}}
    <span class="row ml-1" id="num-req">
      <span id="icon" aria-hidden="true"></span>Contain {{.requirements.Number}} number
    </span>
    {{end}}
    {{if gt .requirements.Special 0}}
    <span class="row ml-1" id="special-req">
      <span id="icon" aria-hidden="true"></span>Contain {{.requirements.Special}} special character
    </span>
    {{end}}
    {{end}}
    <span class="row ml-1" id="retyped">
      <span id="icon" aria-hidden="true"></span>Retyped password must match password
    </span>
  </small>
</p>
{{end}}

{{define "login/requirements"}}
  {{- if .requirements.HasRequirements}}
  let requirements = {
    'Length': {{.requirements.Length}},
    'Uppercase': {{.requirements.Uppercase}},
    'Lowercase': {{.requirements.Lowercase}},
    'Number': {{.requirements.Number}},
    'Special': {{.requirements.Special}},
  };
  {{else}}
  let requirements = null;
  {{end}}
{{end}}
