{{define "loginscripts"}}
<script type="text/javascript">
  firebase.auth().onAuthStateChanged(function(user) {
    if (!user) {
      return
    }
    setSession(user)
  });

  function setSession(user) {
    user.getIdToken().then(idToken => {
      $.ajax({
        type: 'POST',
        url: '/session',
        data: {
          idToken: idToken,
        },
        headers: { 'X-CSRF-Token': '{{.csrfToken}}' },
        contentType: 'application/x-www-form-urlencoded',
        {{if not .currentUser}}
        success: function(returnData) {
          // The user successfully signed in, redirect to realm selection.
          window.location.assign('/login/select-realm');
        },
        {{end}}
        error: function(xhr, status, e) {
          // There was an error finding the user. Redirect to the
          // sign-out page to clear the firebase cookie and any session
          // data.
          //
          // The flash data may have more detailed error messages, which
          // will be displayed on the signout page.
          window.location.assign("/signout");
        }
      })
    });
  }
</script>
{{end}}

{{define "login/pindiv"}}
<div class="card shadow-sm d-none" id="sms-code-div">
  <div class="card-header">
    SMS confirmation code
    <button type="button" class="close" aria-label="Close" id="sms-code-close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form id="sms-code-form" class="floating-form" action="/" method="POST">
      <div class="form-label-group">
        <input type="text" id="sms-code" name="sms-code" class="form-control" placeholder="Code" autocomplete="one-time-code" required autofocus />
        <label for="sms-code">Code</label>
        <div class='w-100'>
          <small class="text-muted">
            Please enter the numerical code that was sent via SMS.
          </small>
        </div>
        <small class="text-muted" id='code-text'></small>
      </div>

      <button type="submit" id="sms-code-submit" class="btn btn-primary btn-block">Confirm code</button>
      <div class="btn-block">
        <a id="sms-code-resend" class="card-link disabled" disabled>Resend SMS</a>
        <a id="sms-change" class="card-link d-none" href="#">Change login factor</a>
      </div>
    </form>
  </div>
</div>
{{end}}

{{define "login/factorsdiv"}}
<div class="card shadow-sm mb-3 d-none" id="registered-div">
  <div class="card-header">Registered factors</div>
  <div class="card-body">
    <div id="factors" class="list-group list-group-flush">
    </div>
  </div>
</div>
{{end}}

{{define "login/pwd-validate"}}
<p class="card-text ml-4">
  <small class="form-text text-muted">
    {{if .requirements.HasRequirements}}
    <span class="row">Password should be:</span>
    {{if gt .requirements.Length 0}}
    <span class="row ml-1" id="length-req">
      <span id="icon" aria-hidden="true"></span>At least {{.requirements.Length}} characters long
    </span>
    {{end}}
    {{if gt .requirements.Uppercase 0}}
    <span class="row ml-1" id="upper-req">
      <span id="icon" aria-hidden="true"></span>Contain {{.requirements.Uppercase}} uppercase letter
    </span>
    {{end}}
    {{if gt .requirements.Lowercase 0}}
    <span class="row ml-1" id="lower-req">
      <span id="icon" aria-hidden="true"></span>Contain {{.requirements.Lowercase}} lowercase letter
    </span>
    {{end}}
    {{if gt .requirements.Number 0}}
    <span class="row ml-1" id="num-req">
      <span id="icon" aria-hidden="true"></span>Contain {{.requirements.Number}} number
    </span>
    {{end}}
    {{if gt .requirements.Special 0}}
    <span class="row ml-1" id="special-req">
      <span id="icon" aria-hidden="true"></span>Contain {{.requirements.Special}} special character
    </span>
    {{end}}
    {{end}}
    <span class="row ml-1" id="retyped">
      <span id="icon" aria-hidden="true"></span>Retyped password must match password
    </span>
  </small>
</p>
{{end}}

{{define "login/pwd-validate-js"}}
let $retyped = $('#retyped');
{{- if .requirements.HasRequirements}}
let $lenReq = $('#length-req');
let $upperReq = $('#upper-req');
let $lowerReq = $('#lower-req');
let $numReq = $('#num-req');
let $specialReq = $('#special-req');
{{end}}

function checkPasswordValid(pwd) {
  {{if .requirements.HasRequirements}}
  let upper = 0;
  let lower = 0;
  let digit = 0;
  let special = 0;
  let specialPattern = new RegExp(/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/);
  for (let i = 0; i < pwd.length; i++) {
    let c = pwd.charAt(i);
    if (!isNaN(parseInt(c, 10))) {
      digit++;
    } else if (specialPattern.test(c)) {
      special++;
    } else if (c == c.toUpperCase()) {
      upper++;
    } else if (c == c.toLowerCase()) {
      lower++;
    }
  }

  let errClass = "oi oi-circle-x pr-1";
  let checkClass = "oi oi-circle-check pr-1";
  let valid = true

  {{if gt .requirements.Length 0}}
  if (pwd.length < {{.requirements.Length}}) {
    $lenReq.find("#icon").attr("class", errClass)
    $lenReq.addClass("text-danger");
    $lenReq.removeClass("text-muted");
    valid = false;
  } else {
    $lenReq.find("#icon").attr("class", checkClass)
    $lenReq.addClass("text-muted");
    $lenReq.removeClass("text-danger");
  }
  {{end}}

  {{if gt .requirements.Uppercase 0}}
  if (upper < {{.requirements.Uppercase}}) {
    $upperReq.find("#icon").attr("class", errClass);
    $upperReq.addClass("text-danger");
    $upperReq.removeClass("text-muted");
    valid = false;
  } else {
    $upperReq.find("#icon").attr("class", checkClass);
    $upperReq.addClass("text-muted");
    $upperReq.removeClass("text-danger");
  }
  {{end}}

  {{if gt .requirements.Lowercase 0}}
  if (lower < {{.requirements.Lowercase}}) {
    $lowerReq.find("#icon").attr("class", errClass);
    $lowerReq.addClass("text-danger");
    $lowerReq.removeClass("text-muted");
    valid = false;
  } else {
    $lowerReq.find("#icon").attr("class", checkClass);
    $lowerReq.addClass("text-muted");
    $lowerReq.removeClass("text-danger");
  }
  {{end}}

  {{if gt .requirements.Number 0}}
  if (digit < {{.requirements.Number}}) {
    $numReq.find("#icon").attr("class", errClass);
    $numReq.addClass("text-danger");
    $numReq.removeClass("text-muted");
    valid = false;
  } else {
    $numReq.find("#icon").attr("class", checkClass);
    $numReq.addClass("text-muted");
    $numReq.removeClass("text-danger");
  }
  {{end}}

  {{if gt .requirements.Special 0}}
  if (special < {{.requirements.Special}}) {
    $specialReq.find("#icon").attr("class", errClass);
    $specialReq.addClass("text-danger");
    $specialReq.removeClass("text-muted");
    valid = false;
  } else {
    $specialReq.find("#icon").attr("class", checkClass);
    $specialReq.addClass("text-muted");
    $specialReq.removeClass("text-danger");
  }
  {{end}}

  if (pwd != $retype.val()) {
    $retyped.find("#icon").attr("class", errClass);
    $retyped.addClass("text-danger");
    $retyped.removeClass("text-muted");
    valid = false;
  } else {
    $retyped.find("#icon").attr("class", checkClass);
    $retyped.addClass("text-muted");
    $retyped.removeClass("text-danger");
  }

  {{end}}
  return valid;
}
{{end}}

{{define "login/login-js"}}
let $loginDiv = $('#login-div');
let $submit = $('#submit');
let $email = $('#email');
let $password = $('#password');

let $pinDiv = $('#sms-code-div');
let $pinText = $('#code-text');
let $pinClose = $('#sms-code-close');
let $pinForm = $('#sms-code-form');
let $pin = $('#sms-code');
let $submitPin = $('#sms-code-submit');
let $resendPin = $('#sms-code-resend');
let $smsChange = $('#sms-change');

let $registeredDiv = $('#registered-div');
let $factors = $('#factors');

let verId = "";
let selectedFactorIndex = 0;

window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
  'submit', {
    'size': 'invisible',
    'callback': (response) => onSignInSubmit(),
  });

window.recaptchaVerifier.render()
  .then(function(widgetId) {
    window.recaptchaWidgetId = widgetId;
  });

$pinForm.on('submit', function(event) {
  event.preventDefault();

  // Disable the submit button so we only attempt once.
  $submitPin.prop('disabled', true);

  // Ask user for the SMS verification code.
  let cred = firebase.auth.PhoneAuthProvider.credential(verId, $pin.val().trim());
  let multiFactorAssertion = firebase.auth.PhoneMultiFactorGenerator.assertion(cred);
  // Complete sign-in.
  resolver.resolveSignIn(multiFactorAssertion)
    .then(function(userCredential) {
        loginSuccess();
    }).catch(function(err) {
      flash.clear();
      flash.error(err.message);
      grecaptcha.reset(window.recaptchaWidgetId);
      $submitPin.prop('disabled', false);
    });
});

$pinClose.on('click', function(event) {
  grecaptcha.reset(window.recaptchaWidgetId);
  event.preventDefault();
  $submit.prop('disabled', false);
  $factors.empty();
  $loginDiv.show();
  $pinDiv.addClass('d-none');
});

$resendPin.on('click', function(event) {
  event.preventDefault();
  resendPin();
});

$smsChange.on('click', function(event) {
  event.preventDefault();
  $pinDiv.addClass('d-none');
  $registeredDiv.removeClass('d-none');
});

function onSignInSubmit() {
// Disable the submit button so we only attempt once.
$submit.prop('disabled', true);

{{if .currentUser}}
let credentials = firebase.auth.EmailAuthProvider.credential($email.val().trim(),$password.val());
firebase.auth().currentUser.reauthenticateWithCredential(credentials)
{{else}}
firebase.auth().signInWithEmailAndPassword($email.val(), $password.val())
{{end}}
  .then(function(userCredential) {
    loginSuccess();
  }).catch(function(error) {
    if (error.code == 'auth/multi-factor-auth-required') {
      resolver = error.resolver;
      populatePinText(resolver.hints);
      populateFactors(resolver.hints);
      if (resolver.hints[selectedFactorIndex].factorId === firebase.auth.PhoneMultiFactorGenerator.FACTOR_ID) {
        let phoneInfoOptions = {
          multiFactorHint: resolver.hints[selectedFactorIndex],
          session: resolver.session
        };
        let phoneAuthProvider = new firebase.auth.PhoneAuthProvider();
        let appVerifier = window.recaptchaVerifier;
        return phoneAuthProvider.verifyPhoneNumber(phoneInfoOptions, appVerifier)
          .then(function(verificationId) {
            verId = verificationId;
            setTimeout(function() { $resendPin.removeClass('disabled'); }, 15000);
            $submitPin.prop('disabled', false);
            $loginDiv.hide();
            $pinDiv.removeClass('d-none');
          }).catch(function(error) {
            grecaptcha.reset(window.recaptchaWidgetId);
            flash.clear();
            flash.error(error);
            $submit.prop('disabled', false);
          });
      } else {
        flash.clear();
        flash.error('Unsupported 2nd factor authentication type.');
      }
    } else if (error.code == 'auth/too-many-requests'){
      grecaptcha.reset(window.recaptchaWidgetId);
      flash.clear();
      flash.error(error.message);
      $submit.prop('disabled', false);
    } else {
      grecaptcha.reset(window.recaptchaWidgetId);
      console.error(error);
      flash.clear();
      flash.error("Sign-in failed. Please try again.");
      $submit.prop('disabled', false);
    }
  });
}

function resendPin() {
  $resendPin.addClass('disabled');
  setTimeout(function() { $resendPin.removeClass('disabled'); }, 15000);

  let phoneInfoOptions = {
    multiFactorHint: resolver.hints[selectedFactorIndex],
    session: resolver.session
  };
  populatePinText(resolver.hints)
  let phoneAuthProvider = new firebase.auth.PhoneAuthProvider();
  let appVerifier = window.recaptchaVerifier;
  phoneAuthProvider.verifyPhoneNumber(phoneInfoOptions, appVerifier)
    .then(function(verificationId) {
      verId = verificationId;
    }).catch(function(error) {
      grecaptcha.reset(window.recaptchaWidgetId);
      flash.clear();
      flash.error(error.message);
      $submit.prop('disabled', false);
    });
}

function populatePinText(hints) {
  let $displayName = $('<span/>');
  $displayName.addClass('text-info');
  $displayName.text(hints[selectedFactorIndex].displayName);

  $pinText.empty();
  $pinText.text('Code sent to ');
  $pinText.append($displayName);
}

function populateFactors(hints) {
  if (hints.length > 0) {
    for (i = 0; i < hints.length; i++) {
      appendAuthFactor(hints[i], i);
    }
  }
  if (hints.length > 1) {
    $smsChange.removeClass("d-none");
  }
}

function appendAuthFactor(factor, i) {
  let $li = $('<a/>');
  $li.addClass('list-group-item list-group-item-action');
  if (i == 0) {
    $li.addClass('bg-light');
    $li.attr('id', 'selected-factor');
  }
  let $row = $('<div/>').text(factor.displayName);
  $li.append($row);

  let $icon = $('<span/>');
  $icon.addClass('oi oi-phone mr-1');
  $icon.attr('aria-hidden', 'true');
  $row.prepend($icon);

  let $time = $('<small/>');
  $time.addClass('row text-muted ml-1')
  $time.text(`Phone number: ${factor.phoneNumber}`);
  $row.append($time);

  $li.on('click', function(event) {
    $registeredDiv.addClass('d-none');
    $pinDiv.removeClass('d-none');
    if (selectedFactorIndex == i) {
      return;
    }

    $('#selected-factor').removeClass('bg-light');
    $li.addClass('bg-light');
    $li.attr('id', 'selected-factor');
    selectedFactorIndex = i;
    resendPin();
  });

  $factors.append($li);
}
{{end}}
