{{define "account"}}

{{$user := .currentUser}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body class="bg-light">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>My Account</h1>
    <p>Information and settings for your account</p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Details</div>
      <div class="card-body">
        <h6 class="card-title">Name</h6>
        <div class="card-text mb-3">
          {{$user.Name}}
        </div>

        <h6 class="card-title">Email</h6>
        <div class="card-text mb-3">
          {{$user.Email}}
        </div>

        <h6 class="card-title">System admin</h6>
        <div class="card-text">
          {{$user.Admin}}
        </div>
      </div>
    </div>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Authentication</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="card-text" id="email-verified"></div>
          <a href="/login/verify-email" class="card-link">Verify email</a>
        </li>
        <li class="list-group-item">
          <div class="card-text" id="phone-registered"></div>
          <a href="/login/register-phone" class="card-link">Register phone</a>
        </li>
        <li class="list-group-item">
          <div class="card-text">Password was last changed {{$user.PasswordAgeString}} ago</div>
          <a href="/login/change-password" class="card-link">Reset password</a>
        </li>
      </ul>
    </div>

    <div class="card mb-3 shadow-sm">
      <div class="card">
        <div class="card-header">Member of realms</div>
        <ul class="list-group list-group-flush">
          {{range $realm := $user.Realms}}
          <li class="list-group-item">{{$realm.Name}}</li>
          {{end}}
        </ul>
      </div>
    </div>

    {{if gt (len $user.AdminRealms) 0}}
    <div class="card mb-3 shadow-sm">
      <div class="card">
        <div class="card-header">Admin of Realms</div>
        <ul class="list-group list-group-flush">
          {{range $realm := $user.AdminRealms}}
          <li class="list-group-item">{{$realm.Name}}</li>
          {{end}}
        </ul>
      </div>
    </div>
    {{end}}
  </main>

  {{template "scripts" .}}
  <script type="text/javascript">
    $(function() {
      let $emailVer = $('#email-verified');
      let $phoneReg = $('#phone-registered');

      firebase.auth().onAuthStateChanged(function(user) {
        if (!user) {
          return
        }

        if (user.multiFactor.enrolledFactors.length > 0) {
          $phoneReg.html('Phone number registered');
        } else {
          $phoneReg.html('No 2nd auth factor registered');
          $phoneReg.addClass("text-danger")
        }

        if (user.emailVerified) {
          $emailVer.html('Email address is verified');
        } else {
          $emailVer.html('Email address is <strong>not</strong> verified');
          $emailVer.addClass("text-danger")
        }
      });
    });
  </script>
</body>

</html>
{{end}}
