{{define "login/change-password"}}
<!doctype html>
<html lang="en">

<head>
  {{template "floatingform" .}}
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="col-sm-6">
          <div class="card shadow-sm">
            <div class="card-header">Change password</div>
            <div class="card-body">
              <form id="passwordForm" class="floating-form" action="/login/change-password" method="POST">
                {{.csrfField}}
                <div class="form-label-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                  value="{{.currentUser.Email}}" required autofocus disabled/>
                  <label for="email">Email address</label>
                </div>

                <div class="form-label-group mb-2">
                  <input type="password" id="password" class="form-control" placeholder="Password"
                    autocomplete="new-password" required />
                  <label for="password">Password</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="retype" class="form-control" placeholder="Retype password"
                    autocomplete="new-password" required />
                  <label for="retype">Retype password</label>
                </div>

                {{template "login/pwd-validate" .}}

                <button type="submit" id="submit" class="btn btn-primary btn-block" disabled>Set password</button>
              </form>
              <a class="float-right mt-3 card-link" href="/account">Account settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{template "scripts" .}}
  <script type="text/javascript">
    $(function() {
      let $form = $('#passwordForm');
      let $submit = $('#submit');
      let $email = $('#email');
      let $password = $('#password');
      let $retype = $('#retype');

      firebase.auth().onAuthStateChanged(function(user) {
          if (!user) {
            window.location.assign("/signout");
            return;
          }

          $submit.prop('disabled', false);
        });

      $password.on("change keyup paste", function() {
        $submit.prop('disabled', !checkPasswordValid($password.val()));
      });
      $retype.on("change keyup paste", function() {
        $submit.prop('disabled', !checkPasswordValid($password.val()));
      });

      $form.on('submit', function(event) {
        try {
          return changePassword();
        } catch(e) {
          flash.clear();
          flash.error(error);
        }
      });

      function changePassword() {
        let email = $email.val().trim();
        let pwd = $password.val();
        if (pwd != $retype.val()) {
          flash.error("Password and retyped passwords must match.");
          return false;
        }

        if (!checkPasswordValid(pwd)) {
          return false;
        }

        // Disable the submit button so we only attempt once.
        $submit.prop('disabled', true);

        return firebase.auth().currentUser.updatePassword(pwd)
          .then(function() {
            return true;
          }).catch(function(error) {
            if (err.code == 'auth/requires-recent-login') {
              window.location.assign('/login?redir=login/change-password');
            }

            flash.clear();
            flash.error(error);
            $submit.prop('disabled', false);
            return false;
          });
      }

      {{template "login/pwd-validate-js" .}}
    });
  </script>
</body>

</html>
{{end}}
