{{define "login/create"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}

  {{template "firebase" .}}
</head>

<body class="bg-light">
  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="col-sm-6">
          <div class="card shadow-sm">
            <div class="card-header">Create New User</div>
            <div class="card-body">
              <form id="loginForm" action="/" method="POST">
                <div class="form-group mb-2">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                    required />
                </div>

                <div class="form-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required />
                </div>

                <button type="submit" id="submit" class="btn btn-primary btn-block">Create user</button>
              </form>
            </div>
            <div class="card-body">
              <a class="card-link" href="/">&larr; Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{template "scripts" .}}

  <script>
    $(function () {
      let $form = $('#loginForm');
      let $submit = $('#submit');
      let $email = $('#email');
      let $password = $('#password');

      let auth = firebase.auth()

      $form.on('submit', function (event) {
        event.preventDefault();

        // Disable the submit button so we only attempt once.
        $submit.prop('disabled', true);

        let email = $email.val();
        let pwd = $password.val();
        auth.createUserWithEmailAndPassword(email, pwd)
          .then(function (userCredential) {
            clearExistingFlash();
            return auth.signInWithEmailAndPassword(email, pwd);
          })
          .catch(function (error) {
            clearExistingFlash();
            flash(error.message, "danger")
            $submit.prop('disabled', false);
          });
      });

      firebase.auth().onAuthStateChanged(function (user) {
        if (!user) {
          return
        }
        setSession(user)
      });
    });
  </script>
</body>

</html>
{{end}}
