{{define "legacylogin"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}

  {{template "firebase" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div id="firebaseui-auth-container"></div>
  </main>

  {{template "scripts" .}}

  <script type="text/javascript">
    var uiConfig = {
      'callbacks': {
        // Called when the user has been successfully signed in.
        'signInSuccess': function (user, credential, redirectUrl) {
          setSession(user)
          return false
        }
      },
      'credentialHelper': firebaseui.auth.CredentialHelper.NONE,
      'signInOptions': [
        firebase.auth.EmailAuthProvider.PROVIDER_ID
      ],

      // tosUrl and privacyPolicyUrl accept either url string or a callback
      // function. You should update these to point to your Terms of Service and
      // Privacy Policy accordingly.
      'tosUrl': '{{.firebase.TermsOfServiceURL}}',
      'privacyPolicyUrl': '{{.firebase.PrivacyPolicyURL}}',
    };

    // Initialize the FirebaseUI Widget using Firebase.
    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)
    var ui = new firebaseui.auth.AuthUI(firebase.auth());

    function getCookie(name) {
      var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return v ? v[2] : null;
    }

    $(window).on('load', function () {
      ui.start('#firebaseui-auth-container', uiConfig);
    });
  </script>
</body>

</html>
{{end}}
