{{define "login"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}

  {{template "firebase" .}}
</head>

<body class="bg-light">
  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="col-sm-6">
          <div class="card shadow-sm">
            <div class="card-header">Login</div>
            <div class="card-body">
              <form id="loginForm" action="/" method="POST">
                <div class="form-group mb-2">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                    required />
                </div>

                <div class="form-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required />
                </div>

                <button type="submit" id="submit" class="btn btn-primary btn-block">Login</button>
              </form>
              <div class="card-body">
                <a class="card-link" href="legacylogin">New user</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  {{template "scripts" .}}

  <script>
    $(function () {
      let $form = $('#loginForm');
      let $submit = $('#submit');
      let $email = $('#email');
      let $password = $('#password');

      $form.on('submit', function (event) {
        event.preventDefault();

        // Disable the submit button so we only attempt once.
        $submit.prop('disabled', true);

        firebase.auth().signInWithEmailAndPassword($email.val(), $password.val())
          .then(function (userCredential) {
            clearExistingFlash();
          })
          .catch(function (error) {
            clearExistingFlash();
            flash(error.message, "danger")
            $submit.prop('disabled', false);
          });
      });

      firebase.auth().onAuthStateChanged(function (user) {
        if (!user) {
          return
        }

        flash("Welcome, " + user.email, "success")
        user.getIdToken().then(idToken => {
          $.ajax({
            type: 'POST',
            url: '/session',
            data: { idToken: idToken },
            headers: { 'X-CSRF-Token': '{{.csrfToken}}' },
            contentType: 'application/x-www-form-urlencoded',
            success: function (returnData) {
              // The user successfully signed in, redirect to realm selection.
              window.location.assign('/realm');
            },
            error: function (xhr, status, e) {
              // There was an error finding the user. Redirect to the
              // signout page to clear the firebase cookie and any session
              // data.
              //
              // The flash data may have more detailed error messages, which
              // will be displayed on the signout page.
              window.location.assign("/signout");
            }
          })
        });
      });
    });
  </script>
</body>

</html>
{{end}}
