{{define "login"}}

{{$currentUser := .currentUser}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="login" class="tab-content">
  {{if $currentUser}}
    {{template "navbar" .}}
  {{end}}
  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="col-sm-6">
          <div class="card shadow-sm" id="login-div">
            {{if $currentUser}}
              <div class="card-header">Refresh authentication</div>
            {{else}}
              <div class="card-header">COVID-19 test verification</div>
            {{end}}

            <div class="card-body">
              <form id="login-form" class="floating-form" action="/" method="POST">
                <div class="form-label-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                  autocomplete="username" required autofocus {{if $currentUser}}disabled value="{{$currentUser.Email}}"{{end}}/>
                  <label for="email">Email address</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                  autocomplete="password" required />
                  <label for="password">Password</label>
                </div>

                <button type="submit" id="submit" class="btn btn-primary btn-block">Login</button>
                <a class="card-link btn-block" href="/login/reset-password">Forgot password</a>
              </form>
            </div>
          </div>

          {{template "login/pindiv" .}}
          {{template "login/factorsdiv" .}}

          {{if .loginRedirect}}
            <div class="card-body">
              <a class="card-link" href="/{{.loginRedirect}}">&larr; Back</a>
            </div>
          {{end}}

          <div class="d-flex justify-content-center pt-2">
            <small><a class="text-muted" target="_blank" href="https://www.google.com/covid19/exposurenotifications">About exposure notifications</a></small>
          </div>
        </div>
      </div>
    </div>

    <div id="recaptcha-container" class="center-block"></div>
  </main>

  {{template "loginscripts" .}}

  <script type="text/javascript">
    $(function() {
      let fn = function loginSuccess() {
        {{if .loginRedirect}}
          window.location.assign('{{.loginRedirect}}');
        {{else}}
        {{if $currentUser}}
          flash.alert('Successfully refreshed auth credentials.');
        {{end}}
        {{end}}
      }

      let hasCurrentUser ={{if $currentUser}}true{{else}}false{{end}};
      loginScripts(hasCurrentUser, fn);
    });
  </script>
</body>

</html>
{{end}}
