{{define "login/register-phone"}}

{{$currentRealm := .currentRealm}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "floatingform" .}}
  {{template "firebase" .}}
</head>

<body class="bg-light">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Configure enhanced security</h1>
    <p class="mb-3">
      Use the form below to configure advanced security settings for your
      account on {{$currentRealm.Name}}.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Multi-factor authentication</div>
      <div class="card-body">
        <p class="mb-3">
          {{$currentRealm.Name}} {{if eq .currentRealm.MFAModeString "required"}}requires{{else}}recommends{{end}}
          enhanced security via SMS-based 2-factor authentication. Please
          provide your information below.
        </p>

        <form id="registerForm" class="floating-form" action="/" method="POST">
          <div class="form-label-group">
            <input type="tel" id="phone" name="phone" class="form-control" placeholder="Phone number" required autofocus />
            <label for="phone">Phone number</label>
            <small class="form-text text-muted">
              Fully qualified phone number beginning with '+'. Standard SMS rates may apply.
            </small>
          </div>

          <div class="form-label-group">
            <input type="text" id="display" name="display" class="form-control" placeholder="Display name" />
            <label for="display">Display name</label>
            <small class="form-text text-muted">
              Name for this phone.
            </small>
          </div>

          <button type="submit" id="register" class="btn btn-primary btn-block">Register</button>
        </form>

        {{if ne .currentRealm.MFAModeString "required"}}
          <a id="skip" class="float-right mt-3 text-muted" href="/home">Skip for now</a>
        {{end}}
      </div>
    </div>

    <div id="recaptcha-container" class="center-block"></div>
  </main>

  {{template "scripts" .}}

  <script>
    {{if eq .currentRealm.MFAModeString "required"}}
    flash("This realm requires multi-factor authorization.","warning")
    {{end}}

    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
      'recaptcha-container',
      { 'size': 'invisible' }
    );

    recaptchaVerifier.render()
      .then(function (widgetId) {
        window.recaptchaWidgetId = widgetId;
      });

    $(function () {
      let $displayName = $('#display');
      let $submit = $('#register');
      let $phone = $('#phone');
      let $form = $('#registerForm');
      let $skip = $('#skip');

      $form.on('submit', function (event) {
        event.preventDefault();

        // Disable the submit button so we only attempt once.
        $submit.prop('disabled', true);

        let user = firebase.auth().currentUser
        user.multiFactor.getSession().then(function (multiFactorSession) {
          // Specify the phone number and pass the MFA session.
          var phoneInfoOptions = {
            phoneNumber: $phone.val(),
            session: multiFactorSession
          };
          var phoneAuthProvider = new firebase.auth.PhoneAuthProvider();
          // Send SMS verification code.
          return phoneAuthProvider.verifyPhoneNumber(
            phoneInfoOptions, window.recaptchaVerifier);
        }).then(function (verificationId) {
          var verificationCode = window.prompt('Please enter the verification ' +
            'code that was sent to your mobile device.');
          var cred = firebase.auth.PhoneAuthProvider.credential(verificationId, verificationCode);
          var multiFactorAssertion = firebase.auth.PhoneMultiFactorGenerator.assertion(cred);
          // Complete enrollment.
          return user.multiFactor.enroll(multiFactorAssertion, $displayName.val());
        }).then(function () {
          clearExistingFlash();
          flash("SMS authentication enrolled successfully.", "success");
          $skip.text("Continue")
        }).catch(function (err) {
          clearExistingFlash();
          flash(err.message, "danger");
          $submit.prop('disabled', false);
        }
        );
      });
    });
  </script>
</body>

</html>
{{end}}
