{{define "login/reset-password"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body id="reset-password" class="tab-content">
  {{if .currentUser}}
  {{template "navbar" .}}
  {{end}}
  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="col-sm-6">
          <div class="card shadow-sm">
            <div class="card-header">
              Reset password
              <a href="/" type="button" class="close" aria-label="Close" id="pinClose">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="card-body">
              <form class="floating-form" action="/login/reset-password" method="POST">
                {{ .csrfField }}
                <div class="form-label-group mb-2">
                  <input type="email" name="email" class="form-control"
                    placeholder="Email address" value="{{.email}}" required autofocus />
                  <label for="email">Email address</label>
                  <small class="form-text text-muted">
                    A reset link will be sent to this address.
                  </small>
                </div>

                <a href="#"
                  data-submit-form
                  data-confirm="Are you sure you want to reset your password?"
                  class="btn btn-primary btn-block">Send reset email</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
{{end}}
