{{define "login/select-password"}}
<!doctype html>
<html lang="en">

<head>
  {{template "floatingform" .}}
  {{template "head" .}}
</head>

<body class="tab-content">
  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="col-sm-6">
          <div class="card shadow-sm">
            <div class="card-header">Select new password</div>
            <div class="card-body">
              <form id="loginForm" class="floating-form" action="/login/manage-account?mode=resetPassword&oobCode={{.code}}" method="POST">
                {{.csrfField}}
                <div class="form-label-group">
                  <input type="email" name="email" class="form-control" placeholder="Email address" value="{{.email}}"
                  required readonly/>
                  <label for="email">Email address</label>
                </div>

                <div class="form-label-group mb-2">
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                    autocomplete="new-password" required {{if .codeInvalid}}disabled{{end}}/>
                  <label for="password">Password</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="retype" class="form-control" placeholder="Retype password"
                    autocomplete="new-password" required {{if .codeInvalid}}disabled{{end}}/>
                  <label for="retype">Retype password</label>
                </div>

                {{template "login/pwd-validate" .}}

                <button type="submit" id="submit" class="btn btn-primary btn-block mb-3"{{if .codeInvalid}}disabled{{end}}>
                  Set password
                </button>

                {{if .codeInvalid}}
                <a class="card-link" href="/login/reset-password">
                  Resend password reset email
                </a>
                {{end}}
              </form>
            </div>
            <div class="card-body">
              <a class="card-link" href="/">&larr; Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{template "scripts" .}}
  <script type="text/javascript">
    $(function() {
      let $form = $('#loginForm');
      let $submit = $('#submit');
      let $password = $('#password');
      let $retype = $('#retype');

      $password.on("change keyup paste", function() {
        $submit.prop('disabled', !checkPasswordValid($password.val()));
      });
      $retype.on("change keyup paste", function() {
        $submit.prop('disabled', !checkPasswordValid($password.val()));
      });

      $form.on('submit', function(event) {
        try {
          return selectPassword();
        } catch(error) {
          flash.clear();
          flash.error(error);
          return false;
        }
      });

      function selectPassword() {
        let pwd = $password.val();
        if (pwd != $retype.val()) {
          flash.clear();
          flash.error("Password and retyped passwords must match.");
          return false;
        }

        if (!checkPasswordValid(pwd)) {
          return false;
        }

        // Disable the submit button so we only attempt once.
        $submit.prop('disabled', true);
        return true;
      }

      {{template "login/pwd-validate-js" .}}
    });
  </script>
</body>

</html>
{{end}}
