{{define "login/select-password"}}
<!doctype html>
<html lang="en">

<head>
  {{template "floatingform" .}}
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body class="tab-content">
  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="col-sm-6">
          <div class="card shadow-sm">
            <div class="card-header">Select new password</div>
            <div class="card-body">
              <form id="loginForm" class="floating-form" action="/login/select-password" method="POST">
                {{.csrfField}}
                <input type="hidden" id="code" name="code" />
                <div class="form-label-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required
                    autofocus />
                  <label for="email">Email address</label>
                </div>

                <div class="form-label-group mb-2">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    autocomplete="new-password" required />
                  <label for="password">Password</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="retype" class="form-control" placeholder="Retype password"
                    autocomplete="new-password" required />
                  <label for="retype">Retype password</label>
                </div>

                {{if .requirements.HasRequirements}}
                <p class="card-text ml-4">
                  <small class="form-text text-muted">
                    <span class="row">Password should be:</span>
                    {{if gt .requirements.Length 0}}
                    <span class="row ml-1" id="length-req">
                      <span id="icon"></span>At least {{.requirements.Length}} characters long
                    </span>
                    {{end}}
                    {{if gt .requirements.Uppercase 0}}
                    <span class="row ml-1" id="upper-req">
                      <span id="icon"></span>Contain {{.requirements.Uppercase}} uppercase letter
                    </span>
                    {{end}}
                    {{if gt .requirements.Lowercase 0}}
                    <span class="row ml-1" id="lower-req">
                      <span id="icon"></span>Contain {{.requirements.Lowercase}} lowercase letter
                    </span>
                    {{end}}
                    {{if gt .requirements.Number 0}}
                    <span class="row ml-1" id="num-req">
                      <span id="icon"></span>Contain {{.requirements.Number}} number
                    </span>
                    {{end}}
                    {{if gt .requirements.Special 0}}
                    <span class="row ml-1" id="special-req">
                      <span id="icon"></span>Contain {{.requirements.Special}} special character
                    </span>
                    {{end}}
                  </small>
                </p>
                {{end}}

                <button type="submit" id="submit" class="btn btn-primary btn-block">Set password</button>
              </form>
            </div>
            <div class="card-body">
              <a class="card-link" href="/">&larr; Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{template "scripts" .}}
  <script type="text/javascript">
    $(function() {
      let $form = $('#loginForm');
      let $submit = $('#submit');
      let $email = $('#email');
      let $password = $('#password');
      let $retype = $('#retype');

      let urlVars = getUrlVars();
      let code = urlVars["oobCode"];
      if (!code) {
        code = "";
      }

      firebase.auth().verifyPasswordResetCode(code)
        .then(function(email) {
          $email.val(email);
          $('#code').val(code);
        }).catch(function(error) {
          flash.error("Invalid password reset code. "
            + "The code may be malformed, expired, or has already been used.");
           $submit.prop('disabled', true);
        });

      $password.keyup(function() {
        $submit.prop('disabled', !checkPasswordValid($password.val()));
      });

      $form.on('submit', function(event) {
        try {
          return selectPassword();
        } catch(error) {
          flash.clear();
          flash.error(error);
          return false;
        }
      });

      function selectPassword() {
        let email = $email.val();
        let pwd = $password.val();
        if (pwd != $retype.val()) {
          flash.clear();
          flash.error("Password and retyped passwords must match.");
          return false;
        }

        if (!checkPasswordValid(pwd)) {
          return false;
        }

        // Disable the submit button so we only attempt once.
        $submit.prop('disabled', true);

        return true;
      }

      {{template "login/pwd-validate-js" .}}
    });

    function getUrlVars() {
      let vars = [], hash;
      let queryParams = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for (var i = 0; i < queryParams.length; i++) {
        v = queryParams[i].split('=');
        vars.push(v[0]);
        vars[v[0]] = v[1];
      }
      return vars;
    }
  </script>
</body>

</html>
{{end}}
