{{define "signout"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}

  {{template "firebase" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div id="auth-container">
      <p id="signout">Signing out...</p>
    </div>
  </main>

  {{template "scripts" .}}

  <script type="text/javascript">
    window.addEventListener('load', function() {
      firebase.auth().signOut().then(function() {
        if ($('#alerts-container').children().length == 0) {
          window.location.assign("/");
        } else {
          $('#signout').text("Redirecting to login...")
          window.setTimeout(function() {
            window.location.assign("/");
          }, 3000);
        }
      }).catch(function(error) {
        flash.error('Error signing out, close browser window.');
      });
    });
  </script>
</body>

</html>
{{end}}
