{{define "signout"}}
<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}

  {{template "firebase" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div id="firebaseui-auth-container">
      <p id="signout">Signing out...</p>
    </div>
  </main>

  {{template "scripts" .}}

  <script type="text/javascript">
    window.addEventListener('load', function() {
      firebase.auth().signOut().then(function() {
        document.getElementById('signout').textContent = 'You are logged out.';
      }).catch(function(error) {
        document.getElementById('signout').textContent = 'Error signing out, close browser window.';
      });
    });
  </script>
</body>
</html>
{{end}}
