{{define "login/verifyemail"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}

  {{template "firebase" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card mb-3">
      <div class="card-body">
        <h1>Email verification</h1>
        <p id="subtitle">Use this page to verify your login email address</p>

        <div class="row form-group">
          <div class="col-sm-9">
            <button id="verify" class="btn btn-primary btn-block" disabled>Send verification email</button>
          </div>
        </div>

        <a id="skip" class="card-link" href="/">Continue</a>
      </div>
    </div>
  </main>

  {{template "scripts" .}}

  <script>
    let $verify = $('#verify');
    let $subtitle = $('#subtitle');
    let $skip = $('#skip');

    $(function () {
      $verify.on('click', function (event) {
        let user = firebase.auth().currentUser
        if (!user.emailVerified) {
          user.sendEmailVerification().then(function () {
            clearExistingFlash();
            flash("Verification email sent.", "success");
            $verify.prop('disabled', true);
          }
          );
        }
      });
    });

    firebase.auth().onAuthStateChanged(function (user) {
      if (!user) {
        // TODO(whaught): we we seem to get here on first login.
        // Investigate why the user is not populated properly
        window.location.assign("/signout");
        return
      }

      if (user.emailVerified) {
        $subtitle.text("Welcome, " + user.email + ". Your email has already been verified.");
        $skip.text("Continue")
      } else {
        $subtitle.text("Welcome, " + user.email + ". Please verify your email to continue.");
        $verify.prop('disabled', false);
      }
    });
  </script>
</body>

</html>
{{end}}
