{{define "login/verify-email-check"}}
<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="d-flex vh-100">
      <div class="d-flex w-100 justify-content-center">
        <div class="col-sm-6">

          <div class="card mb-3 shadow-sm">
            <div class="card-header">Email verification</div>
            <div class="card-body">
              <p>Verifying email address ownership.</p>
              <a class="card-link" href="/">&larr; Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{template "scripts" .}}
  <script type="text/javascript">
  $(function() {
    let urlVars = getUrlVars();
    let code = urlVars["oobCode"];
    if (!code) {
      code = "";
    }

    firebase.auth().applyActionCode(code)
    .then(function(resp) {
      window.location.assign("/login/manage-account?mode=verifyEmail");
    }).catch(function(error) {
      flash.error("Invalid email verification code. "
        + "The code may be malformed, expired, or has already been used.");
    });
  });

  function getUrlVars() {
    let vars = [], hash;
    let queryParams = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for (var i = 0; i < queryParams.length; i++) {
      v = queryParams[i].split('=');
      vars.push(v[0]);
      vars[v[0]] = v[1];
    }
    return vars;
  }
</script>
</body>
</html>
{{end}}
