{{define "401"}}
<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body id="unauthorized">
  <main role="main" class="container mt-5">
    <h1>Unauthorized</h1>
    <p>
      You are not authorized to perform that action!
    </p>
    <div class="d-flex justify-content-between">
      <a href="#" onclick="history.go(-1); return false;">&larr; Go back</a>
      <a href="/signout">Sign out</a>
    </div>
  </main>
</body>
</html>
{{end}}
