{{define "flash"}}

{{if .flash}}
  <div id="alerts-container">
    <div id="alert-template" class="alert d-none" role="alert">
      <div class="d-flex align-items-center">
        <span class="oi mr-3" aria-hidden="true"></span>
        <span class="alert-message"></span>
      </div>
    </div>

    {{range $message := .flash.Errors}}
      <div class="alert alert-danger" role="alert">
        <div class="d-flex align-items-center">
          <span class="oi oi-warning mr-3" aria-hidden="true"></span>
          <span class="alert-message">{{$message}}</span>
        </div>
      </div>
    {{end}}

    {{range $message := .flash.Warnings}}
      <div class="alert alert-warning" role="alert">
        <div class="d-flex align-items-center">
          <span class="oi oi-warning mr-3" aria-hidden="true"></span>
          <span class="alert-message">{{$message}}</span>
        </div>
      </div>
    {{end}}

    {{range $message := .flash.Alerts}}
      <div class="alert alert-success" role="alert">
        <div class="d-flex align-items-center">
          <span class="oi oi-check mr-3" aria-hidden="true"></span>
          <span class="alert-message">{{$message}}</span>
        </div>
      </div>
    {{end}}
  </div>
{{end}}

{{end}}
