{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="build-id" content="{{.buildID}}">
<meta name="build-tag" content="{{.buildTag}}">

<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?{{.buildID}}">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?{{.buildID}}">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?{{.buildID}}">
<link rel="manifest" href="/static/site.webmanifest?{{.buildID}}">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg?{{.buildID}}" color="#d85140">
<link rel="shortcut icon" href="/static/favicon.ico?{{.buildID}}">
<meta name="msapplication-TileColor" content="#d85140">
<meta name="msapplication-config" content="/static/browserconfig.xml?{{.buildID}}">
<meta name="theme-color" content="#ffffff">
{{.csrfMeta}}

{{if eq (printf "%s" $.textDirection) "rtl"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
  integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
{{else}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{{end}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
  integrity="sha384-EvBWSlnoFgZlXJvpzS+MAUEjvN7+gcCwH+qh7GRFOGgZO0PuwOFro7qPOJnLfe7l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css"
  integrity="sha384-+0L34NtZQE8CdqKYXA1psEH5gRnPhYm5Yrfl6+zHBC9rK+SuCkyS99e/a4wRIf3B" crossorigin="anonymous">
{{ cssIncludeTag }}

<script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js"
  integrity="sha384-lZ7BQV5Pg5PjeG4uM5qkYztFBL5dtUWhiAtkcz6j/vj1tjZFA+3zhwsiGUmsqulm" crossorigin="anonymous"></script>
{{ jsIncludeTag }}

<title>{{if .title}}{{.title}}{{else}}Exposure Notifications Verification Server{{end}}</title>
{{end}}

{{/* defines the top navigation bar */}}
{{define "navbar"}}
{{$currentMembership := .currentMembership}}

{{with $v := .systemNotice}}
  <div class="alert alert-warning border-0 rounded-0 m-0" role="alert">
    <div class="container">
      <div class="d-flex align-items-center">
        <i class="bi bi-exclamation-square-fill me-3"></i>
        <span class="alert-message">{{$v | safeHTML}}</span>
      </div>
    </div>
  </div>
{{end}}

<header class="mb-3">
  {{if $currentMembership}}
    {{$currentRealm := $currentMembership.Realm}}
    <div class="d-block px-3 py-2 text-center text-bold text-white bg-primary">
      {{$currentRealm.Name}}{{if $currentRealm.RegionCode}} - {{$currentRealm.RegionCode}}{{end}}
    </div>
  {{end}}

  {{if .currentPath}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav me-auto">
            {{if $currentMembership.Can rbac.CodeIssue}}
              <li class="nav-item pe-3">
                <a class="nav-link {{if .currentPath.IsDir "/codes/issue"}}active{{end}}" href="/codes/issue">
                  {{t $.locale "nav.issue-code"}}
                </a>
              </li>
            {{end}}
            {{if and $currentMembership.Realm.AllowBulkUpload ($currentMembership.Can rbac.CodeBulkIssue)}}
              <li class="nav-item pe-3">
                <a class="nav-link {{if .currentPath.IsDir "/codes/bulk-issue"}}active{{end}}" href="/codes/bulk-issue">
                  {{t $.locale "nav.bulk-issue-codes"}}
                </a>
              </li>
            {{end}}
            {{if $currentMembership.Can rbac.CodeRead}}
              <li class="nav-item pe-3">
                <a class="nav-link {{if .currentPath.IsDir "/codes/status"}}active{{end}}" href="/codes/status">
                  {{t $.locale "nav.check-code-status"}}
                </a>
              </li>
            {{end}}
          </ul>
          {{template "navdropdown" .}}
        </div>
      </div>
    </nav>
  {{end}}
</header>

{{if $currentMembership}}
  {{$realm := $currentMembership.Realm}}

  {{if $.features.EnableEmailer}}
  {{if and (not $realm.ContactEmailAddresses) ($currentMembership.Can rbac.SettingsWrite)}}
    <div class="container">
      <div class="alert alert-warning" role="alert">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i class="bi bi-exclamation-square-fill me-3"></i>
            <span class="alert-message">
              Please configure at least one contact email address to receive
              system notifications.
            </span>
          </div>
          <div>
            <a href="/realm/settings#general" class="text-reset py-3 ps-2">
              <i class="bi bi-arrow-right-square-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  {{end}}
  {{end}}

  {{if and $realm.CodesClaimedRatioAnomalous ($currentMembership.Can rbac.StatsRead)}}
    <div class="container">
      <div class="alert alert-warning" role="alert">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i class="bi bi-exclamation-square-fill me-3"></i>
            <span class="alert-message">
              {{t $.locale "codes.codes-claimed-ratio-anomalous" ($realm.LastCodesClaimedRatio | toPercent) ($realm.CodesClaimedRatioMean | toPercent)}}
            </span>
          </div>
          <div>
            <a href="/realm/stats" class="text-reset py-3 ps-2">
              <i class="bi bi-arrow-right-square-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  {{end}}
{{end}}

{{end}}

{{/* defines the user dropdown menu */}}
{{define "navdropdown"}}
{{$currentUser := .currentUser}}
{{$currentMembership := .currentMembership}}
{{$currentMemberships := .currentMemberships}}
<ul class="navbar-nav">
  {{if $currentUser}}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="profile-menu"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-person-fill"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profile-menu">
        {{if $currentMembership}}
          {{$showRealmMenu := false}}
          {{if $currentMembership.Can rbac.APIKeyRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/apikeys"}}active{{end}}" href="/realm/apikeys">
              {{t $.locale "nav.api-keys"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.MobileAppRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/mobile-apps"}}active{{end}}" href="/realm/mobile-apps">
              {{t $.locale "nav.mobile-apps"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.AuditRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/events"}}active{{end}}" href="/realm/events">
              {{t $.locale "nav.event-log"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.SettingsRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/keys"}}active{{end}}" href="/realm/keys">
              {{t $.locale "nav.signing-keys"}}
            </a>
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/sms-keys"}}active{{end}}" href="/realm/sms-keys">
              {{t $.locale "nav.authenticated-sms"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.StatsRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/stats"}}active{{end}}" href="/realm/stats">
              {{t $.locale "nav.statistics"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.UserRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/users"}}active{{end}}" href="/realm/users">
              {{t $.locale "nav.users"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.SettingsRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/settings"}}active{{end}}" href="/realm/settings#general">
              {{t $.locale "nav.settings"}}
            </a>
          {{end}}
          {{if $showRealmMenu}}
            <div class="dropdown-divider"></div>
          {{end}}
        {{end}}

        {{if hasMany $currentMemberships}}
          <a class="dropdown-item {{if .currentPath.IsDir "/login/select-realm"}}active{{end}}" href="/login/select-realm">
            {{t $.locale "nav.change-realm"}}
          </a>
          <div class="dropdown-divider"></div>
        {{end}}

        {{if $currentUser.SystemAdmin}}
          <a class="dropdown-item {{if .currentPath.IsDir "/admin"}}active{{end}}" href="/admin/realms">{{t $.locale "nav.system-admin"}}</a>
          <div class="dropdown-divider"></div>
        {{end}}

        <h6 class="dropdown-header">{{$currentUser.Name}}</h6>
        <a class="dropdown-item {{if .currentPath.IsDir "/account"}}active{{end}}" href="/account">{{t $.locale "nav.my-account"}}</a>
        <a class="dropdown-item" href="/signout">{{t $.locale "nav.sign-out"}}</a>
      </div>
    </li>
  {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/">Sign in</a>
    </li>
  {{end}}
</ul>
{{end}}

{{define "clippy"}}
<a href="#" class="input-group-text" data-bs-toggle="tooltip" title="Copy to clipboard" data-copy data-copy-target="{{.}}">
  <i class="bi bi-clipboard"></i>
</a>
{{end}}

{{define "errorable"}}
{{if .}}
<div class="invalid-feedback">
  {{joinStrings . ", "}}
</div>
{{end}}
{{end}}

{{define "errorSummary"}}
{{if $errs := .Errors}}
  <div class="alert alert-danger mb-3" role="alert">
    <div class="d-flex align-items-center mb-2">
      <i class="bi bi-exclamation-circle-fill me-2"></i>
      <span>The following errors occurred:</span>
    </div>

    <ul class="list-unstyled mb-0">
      {{range $k, $v := $errs}}
        {{range $e := $v}}
          <li><strong>{{$k}}</strong> {{$e}}</li>
        {{end}}
      {{end}}
    </ul>
  </div>
{{end}}
{{end}}

{{define "beta-notice"}}
<div class="alert alert-warning" role="alert">
  <div class="d-flex align-items-center">
    <i class="bi bi-cone-striped me-3"></i>
    <span class="alert-message">
      This feature is still under active development.
    </span>
  </div>
</div>
{{end}}
