{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta data-build-id="{{.buildID}}" data-build-tag="{{.buildTag}}">

<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?{{.buildID}}">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?{{.buildID}}">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?{{.buildID}}">
<link rel="manifest" href="/static/site.webmanifest?{{.buildID}}">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg?{{.buildID}}" color="#5bbad5">
<link rel="shortcut icon" href="/static/favicon.ico?{{.buildID}}">
<meta name="msapplication-TileColor" content="#ff0554">
<meta name="msapplication-config" content="/static/browserconfig.xml?{{.buildID}}">
<meta name="theme-color" content="#ffffff">
{{.csrfMeta}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
  integrity="sha384-wWci3BOzr88l+HNsAtr3+e5bk9qh5KfjU6gl/rbzfTYdsAVHBEbxB33veLYmFg/a" crossorigin="anonymous">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css"
  integrity="sha384-+0L34NtZQE8CdqKYXA1psEH5gRnPhYm5Yrfl6+zHBC9rK+SuCkyS99e/a4wRIf3B" crossorigin="anonymous">
<link rel="stylesheet"
  href="/static/css/application.css?{{.buildID}}" crossorigin="anonymous" />

<script defer src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
  integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js"
  integrity="sha384-lZ7BQV5Pg5PjeG4uM5qkYztFBL5dtUWhiAtkcz6j/vj1tjZFA+3zhwsiGUmsqulm" crossorigin="anonymous"></script>
<script defer src="/static/js/application.js?{{.buildID}}" crossorigin="anonymous"></script>

<title>{{if .title}}{{.title}}{{else}}Exposure Notifications Verification Server{{end}}</title>
{{end}}

{{/* defines the top navigation bar */}}
{{define "navbar"}}
{{$currentMembership := .currentMembership}}
<header class="mb-3">
  {{with $v := .systemNotice}}
    <div class="d-block px-3 py-2 text-center text-bold bg-warning mb-n3">
      {{$v | safeHTML}}
    </div>
  {{end}}

  {{if $currentMembership}}
    {{$currentRealm := $currentMembership.Realm}}
    <div href="/" class="d-block px-3 py-2 text-center text-bold text-white bg-primary">
      {{$currentRealm.Name}}{{if $currentRealm.RegionCode}} - {{$currentRealm.RegionCode}}{{end}}
    </div>
  {{end}}

  {{if .maintenanceMode}}
    <div class="alert alert-danger" role="alert">
      The server is undergoing maintenance and is read-only. Requests to issue new codes will fail.
    </div>
  {{end}}

  {{if .currentPath}}
    <nav class="nav nav-tabs navbar-expand-md navbar-light bg-light">
      <div class="container">
        {{template "navtoggle" .}}

        <div class="collapse navbar-collapse mt-2" id="navbar">
          <ul class="nav mr-auto flex-column flex-md-row">
            {{if $currentMembership.Can rbac.CodeIssue}}
              <li class="nav-item">
                <a class="nav-link {{if .currentPath.IsDir "/codes/issue"}}active{{end}}" href="/codes/issue">
                  {{t $.locale "nav.issue-code"}}
                </a>
              </li>
            {{end}}
            {{if and $currentMembership.Realm.AllowBulkUpload ($currentMembership.Can rbac.CodeBulkIssue)}}
              <li class="nav-item">
                <a class="nav-link {{if .currentPath.IsDir "/codes/bulk-issue"}}active{{end}}" href="/codes/bulk-issue">
                  {{t $.locale "nav.bulk-issue-codes"}}
                </a>
              </li>
            {{end}}
            {{if $currentMembership.Can rbac.CodeRead}}
              <li class="nav-item">
                <a class="nav-link {{if .currentPath.IsDir "/codes/status"}}active{{end}}" href="/codes/status">
                  {{t $.locale "nav.check-code-status"}}
                </a>
              </li>
            {{end}}
          </ul>

          {{template "navdropdown" .}}
        </div>
      </div>
    </nav>
  {{end}}
</header>
{{end}}

{{/* defines the hamburger menu toggle for mobile */}}
{{define "navtoggle"}}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
{{end}}

{{/* defines the user dropdown menu */}}
{{define "navdropdown"}}
{{$currentUser := .currentUser}}
{{$currentMembership := .currentMembership}}
{{$currentMemberships := .currentMemberships}}
<ul class="navbar-nav ml-3">
  {{if $currentUser}}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="profile-menu"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="oi oi-person"></span>
      </a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-menu">
        {{if $currentMembership}}
          {{$showRealmMenu := false}}
          {{if $currentMembership.Can rbac.APIKeyRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/apikeys"}}active{{end}}" href="/realm/apikeys">
              {{t $.locale "nav.api-keys"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.MobileAppRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/mobile-apps"}}active{{end}}" href="/realm/mobile-apps">
              {{t $.locale "nav.mobile-apps"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.AuditRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/events"}}active{{end}}" href="/realm/events">
              {{t $.locale "nav.event-log"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.SettingsRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/keys"}}active{{end}}" href="/realm/keys">
              {{t $.locale "nav.signing-keys"}}
            </a>
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/sms-keys"}}active{{end}}" href="/realm/sms-keys">
              {{t $.locale "nav.authenticated-sms"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.StatsRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/stats"}}active{{end}}" href="/realm/stats">
              {{t $.locale "nav.statistics"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.UserRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/users"}}active{{end}}" href="/realm/users">
              {{t $.locale "nav.users"}}
            </a>
          {{end}}
          {{if $currentMembership.Can rbac.SettingsRead}}
            {{$showRealmMenu = true}}
            <a class="dropdown-item {{if .currentPath.IsDir "/realm/settings"}}active{{end}}" href="/realm/settings#general">
              {{t $.locale "nav.settings"}}
            </a>
          {{end}}
          {{if $showRealmMenu}}
            <div class="dropdown-divider"></div>
          {{end}}
        {{end}}

        {{if hasMany $currentMemberships}}
          <a class="dropdown-item {{if .currentPath.IsDir "/login/select-realm"}}active{{end}}" href="/login/select-realm">
            {{t $.locale "nav.change-realm"}}
          </a>
          <div class="dropdown-divider"></div>
        {{end}}

        {{if $currentUser.SystemAdmin}}
          <a class="dropdown-item {{if .currentPath.IsDir "/admin"}}active{{end}}" href="/admin/realms">{{t $.locale "nav.system-admin"}}</a>
          <div class="dropdown-divider"></div>
        {{end}}

        <h6 class="dropdown-header">{{$currentUser.Name}}</h6>
        <a class="dropdown-item {{if .currentPath.IsDir "/account"}}active{{end}}" href="/account">{{t $.locale "nav.my-account"}}</a>
        <a class="dropdown-item" href="/signout">{{t $.locale "nav.sign-out"}}</a>
      </div>
    </li>
  {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/">Sign in</a>
    </li>
  {{end}}
</ul>
{{end}}

{{define "clippy"}}
<div class="input-group-append">
  <a class="input-group-text" data-toggle="tooltip" title="Copy to clipboard" data-copy data-copy-target="{{.}}">
    <span class="oi oi-clipboard" aria-hidden="true"></span>
  </a>
</div>
{{end}}

{{define "errorable"}}
{{if .}}
<div class="invalid-feedback">
  {{joinStrings . ", "}}
</div>
{{end}}
{{end}}

{{define "errorSummary"}}
{{if $errs := .Errors}}
  <div class="alert alert-danger mb-4" role="alert">
    <p>
      The following errors occurred:
    </p>

    <ul class="mb-1">
      {{range $k, $v := $errs}}
        {{range $e := $v}}
          <li><strong>{{$k}}</strong> {{$e}}</li>
        {{end}}
      {{end}}
    </ul>
  </div>
{{end}}
{{end}}

{{define "beta-notice"}}
<div class="alert alert-warning">
  <span class="oi oi-beaker"></span> This feature is still under active
  development.
</div>
{{end}}
