{{define "users/_form"}}

{{$user := .user}}
{{$userMembership := .userMembership}}
{{$permissions := .permissions}}

{{$currentMembership := .currentMembership}}

{{if $user.ID}}
<form method="POST" id="user-form" action="/realm/users/{{$user.ID}}">
  <input type="hidden" name="_method" value="PATCH">
  {{else}}
  <form method="POST" action="/realm/users">
    {{end}}

    {{ .csrfField }}

    <div class="form-label-group">
      <input type="text" id="name" name="name" class="form-control{{if $user.ErrorsFor "name"}} is-invalid{{end}}"
        value="{{$user.Name}}" placeholder="Name" required autofocus />
      <label for="name">Name</label>
      {{template "errorable" $user.ErrorsFor "name"}}
    </div>

    <div class="form-label-group">
      <input type="email" id="email" name="email" class="form-control{{if $user.ErrorsFor "email"}} is-invalid{{end}}"
        value="{{$user.Email}}" placeholder="Email address" {{if $user.ID}}disabled{{else}}required{{end}} />
      <label for="email">Email address</label>
      {{template "errorable" $user.ErrorsFor "email"}}
    </div>

    <hr />

    <h6>Permissions</h6>
    <div id="permissions-list" class="mb-3">
      {{if (eq $currentMembership.UserID $userMembership.UserID)}}
        <small class="form-text mb-3">
          You cannot edit your own permissions.
        </small>
      {{end}}
      {{range $name, $permission := $permissions}}
        <div class="custom-control custom-checkbox py-3">
          <input type="checkbox" name="permissions" id="permission-{{$permission.Value}}"
            class="custom-control-input" value="{{$permission.Value}}"
            {{checkedIf ($userMembership.Can $permission)}}
            {{disabledIf (eq $currentMembership.UserID $userMembership.UserID)}}
            {{readonlyIf (eq $currentMembership.UserID $userMembership.UserID)}}>
          <label class="custom-control-label w-100" for="permission-{{$permission.Value}}">
            {{$name}}
            <small class="form-text text-muted">
              Can {{$permission.Description}}.
            </small>
          </label>
        </div>
      {{end}}
    </div>

    <button type="submit" class="btn btn-primary btn-block">
      {{if $user.ID}}
        Update user
      {{else}}
        Create user
      {{end}}
    </button>
  </form>
{{end}}
