{{define "users/import"}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
</head>

<body id="users-import" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Import users</h1>
    <p>Bulk import a list of users to <strong>{{.currentRealm.Name}}</strong>.</p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Import</div>
      <div class="card-body">
        {{template "beta-notice" .}}
        <div class="alert alert-warning">
          <span class="oi oi-warning"></span>
          Work with a system admin to temporarily raise quota before importing batches of users >100.
        </div>

        <p>
          Use this form to import a list of users. The server will create them in batches.
        </p>

        <pre>Example file contents:
          <code>
          email@example.com, Anne
          another@example.com, Bob
          </code>
        </pre>
        <form id="form">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="csv" accept=".csv" required>
            <label class="custom-file-label" for="csv" id="fileLabel">Select a CSV file</label>
          </div>
          <button class="btn btn-primary" type="submit" id="import" disabled>Import users</button>
          <button class="btn btn-danger" id="cancel" disabled>Cancel</button>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="sendInvites" id="sendInvites" checked>
            <label class="form-check-label" for="sendInvites">Send invitations</label>
          </div>
        </form>
      </div>

      <div class="card-body">
        <div class="progress d-none" id="progress-div" style="display:none;">
          <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <table class="table table-bordered" id="csv-table">
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody id="csv-table-body"></tbody>
        </table>
      </div>
    </div>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Import</div>
      <div class="card-body">
        <p>
          Use the following link to export a list of users.
        </p>
        <a class="card=link" href="/realm/users/export.csv" target="_blank">export.csv</a>
      </div>
    </div>

    <a class=" card-link" href="/realm/users">&larr; All users</a>
  </main>

  <script type="text/javascript">
    $(function() {
      let $form = $('#form');
      let $csv = $('#csv');
      let $fileLabel = $('#fileLabel');
      let $import = $('#import');
      let $cancel = $('#cancel');
      let $table = $('#csv-table');
      let $tableBody = $('#csv-table-body');
      let $progressDiv = $('#progress-div');
      let $progress = $('#progress');
      let $sendInvites = $('#sendInvites');

      let totalUsersCreated = 0;
      let upload = readFile();

      $table.hide();

      if (typeof (FileReader) == "undefined") {
        flash.error("Your browser does not support the required HTML5 file reader.");
      } else {
        $csv.prop('disabled', false);
      }

      $csv.change(function(file) {
        let fileName = file.target.files[0].name;
        $fileLabel.html(fileName);
        $import.prop('disabled', false);
      });

      $cancel.on('click', function(event) {
        upload.cancel();
        flash.error("Canceled batch upload.");
      })

      $form.on('submit', function(event) {
        event.preventDefault();
        $import.prop('disabled', true);
        $cancel.prop('disabled', false);

        $table.show(100);
        $progressDiv.removeClass('d-none');

        var reader = new FileReader();
        reader.onload = upload.start;
        reader.readAsText($csv[0].files[0]);
      });

      const batchSize = 10;

      function readFile() {
        // State for managing cleanup and canceling
        let cancelUpload = false;
        let cancel = () => {
          cancelUpload = true;
        };

        let start = async function(e) {
          let checked = $sendInvites.is(":checked")
          let rows = e.target.result.split("\n");
          let batch = [];
          totalUsersCreated = 0;
          $tableBody.empty();
          let i = 0;
          for (; i < rows.length && !cancelUpload; i++) {
            if (rows[i].trim() != "") {
              if (batch.length >= batchSize) {
                $tableBody.empty();
                batch = [];
              }

              let user = {};
              let cols = rows[i].split(",");
              user["email"] = cols[0].trim();
              user["name"] = (cols.length > 1) ? cols[1].trim() : "";

              let row = "<tr><td>" + user["email"] + "</td><td>" + user["name"] + "</td></tr>";
              $tableBody.append(row);

              batch.push(user);
            }

            if (batch.length >= batchSize || i == rows.length - 1) {
              await uploadBatch(batch, checked).catch(err => { });
              if (cancelUpload) {
                flash.warning("Successfully created " + totalUsersCreated + " new users."
                  + (rows.length - i) + " remaining.");
                break;
              }

              let percent = Math.floor((i + 1) * 100 / rows.length) + "%";
              $progress.width(percent);
              $progress.html(percent);
            }
          }

          if (!cancelUpload) {
            flash.alert("Successfully created " + totalUsersCreated + " new users.");
          }
          $table.fadeOut(400);
          $import.prop('disabled', false);
          $cancel.prop('disabled', true);
        };

        return { start, cancel };
      }
    });

    function uploadBatch(data, sendInvites) {
      return $.ajax({
        type: 'POST',
        url: '/realm/users/import',
        data: JSON.stringify({
          "users": data,
          "sendInvites": sendInvites,
       }),
        headers: { 'X-CSRF-Token': '{{.csrfToken}}' },
        contentType: 'application/json',
        success: function(result) {
          totalUsersCreated += result.newUsers.length;
          if (result.error) {
            flash.error(result.error, "danger");
          }
        },
        error: function(xhr, status, e) {
          flash.error(e, "danger");
        },
      });
    }
  </script>
</body>

</html>
{{end}}
