{{define "users/import"}}

{{$csrfField := .csrfField}}
{{$currentUser := .currentUser}}
{{$currentRealm := .currentRealm}}
{{$users := .users}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body class="bg-light">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Import users</h1>
    <p>Bulk import a list of users to <strong>{{.currentRealm.Name}}</strong>.</p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Import</div>
      <div class="card-body">
        <div class="alert alert-warning">
          <span class="oi oi-beaker"></span> This feature is still under
          active development.
        </div>

        <form id="form">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="csv" accept=".csv" required>
            <label class="custom-file-label" for="csv" id="fileLabel">Select a CSV file</label>
          </div>
          <button class="btn btn-primary" type="submit" id="import" disabled>Import users</button>
        </form>
      </div>

      <div class="card-body">
        <div class="progress">
          <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <table class="table table-bordered" id="csvtable" style="display:none;">
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody id="csvtablebody"></tbody>
        </table>
      </div>
    </div>
    <a class=" card-link" href="/users">&larr; All users</a>
  </main>

  {{template "scripts" .}}
  <script type="text/javascript">
    $(function() {
      let $form = $('#form');
      let $csv = $('#csv');
      let $fileLabel = $('#fileLabel');
      let $import = $('#import');
      let $table = $('#csvtable');
      let $tableBody = $('#csvtablebody');
      let $progress = $('#progress');

      if (typeof (FileReader) == "undefined") {
        flash("Your browser does not support the required HTML5 file reader.", "danger");
      } else {
        $csv.prop('disabled', false);
      }

      $csv.change(function(file) {
        let fileName = file.target.files[0].name;
        $fileLabel.html(fileName);
        $import.prop('disabled', false);
      });

      $form.on('submit', function(event) {
        event.preventDefault();
        $import.prop('disabled', true);

        $table.show(400);

        var reader = new FileReader();
        reader.onload = readCSV
        reader.readAsText($csv[0].files[0]);
      });

      const batchSize = 20

      async function readCSV(e) {
        let rows = e.target.result.split("\n");
        let batch = [];
        for (let i = 0; i < rows.length; i++) {
          if (rows[i].trim() != "") {
            if (batch.length >= batchSize) {
              $tableBody.empty();
              batch = []
            }

            let user = {};
            let cols = rows[i].split(",");
            user["email"] = cols[0].trim();
            user["name"] = (cols.length > 1) ? cols[1].trim() : "";

            let row = "<tr><td>" + user["email"] + "</td><td>" + user["name"] + "</td></tr>";
            $tableBody.append(row);

            batch.push(user);
          }

          if (batch.length >= batchSize || i == rows.length - 1) {
            let percent = Math.floor((i + 1) * 100 / rows.length) + "%"
            $progress.width(percent);
            $progress.html(percent)
            uploadBatch(batch);
          }
        }
        $table.hide(400);
        $import.prop('disabled', false);
      }
    });

    function uploadBatch(data) {
      $.ajax({
        type: 'POST',
        url: '/users/import',
        data: JSON.stringify({ "users": data }),
        headers: { 'X-CSRF-Token': '{{.csrfToken}}' },
        contentType: 'application/json',
        success: function(result) {
          for (user of result.newUsers) {
            let pwd = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
            firebase.auth().createUserWithEmailAndPassword(user.email, pwd)
              .then(function(userCredential) {
                return firebase.auth().sendPasswordResetEmail(user.email);
              }).catch(function(error) {
                flash(error.message, "danger")
              });
          }
        },
        error: function(xhr, status, e) {
          flash(status + " " + e, "danger")
        }
      });
    }
  </script>
</body>

</html>
{{end}}
