{{define "users/index"}}

{{$csrfField := .csrfField}}
{{$currentUser := .currentUser}}
{{$currentRealm := .currentRealm}}
{{$users := .users}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
</head>

<body id="users-index" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card mt-4 mb-3">
      <div class="card-header">
        <span class="oi oi-person mr-2 ml-n1" aria-hidden="true"></span>
        Users
        <a href="/realm/users/new" class="float-right mr-n1 text-secondary" data-toggle="tooltip" title="New user">
          <span class="oi oi-plus small" aria-hidden="true"></span>
        </a>
        <a href="/realm/users/import" class="float-right mr-3 text-secondary" data-toggle="tooltip" title="Bulk import users">
          <span class="oi oi-data-transfer-upload" aria-hidden="true"></span>
        </a>
      </div>

      <div class="card-body">
        <form method="GET" action="/realm/users" id="search-form">
          <div class="input-group">
            <span class="input-group-prepend">
              <div class="input-group-text bg-transparent">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
              </div>
            </span>
            <input type="search" name="q" id="search" value="{{.query}}" placeholder="Search"
              autocomplete="off" class="form-control" />
          </div>
        </form>
      </div>

      {{if $users}}
        <table class="table table-bordered table-striped table-fixed table-inner-border-only border-top mb-0">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col" width="300">Email</th>
              <th scope="col" width="40"></th>
            </tr>
          </thead>
          <tbody>
            {{range $users}}
            <tr id="user-{{.ID}}">
              <td>
                <a href="/realm/users/{{.ID}}">{{.Name}}</a>
                {{if .CanAdminRealm $currentRealm.ID}}
                  <span class="ml-1 badge badge-pill badge-primary">Admin</span>
                {{end}}
              </td>
              <td>
                {{.Email}}
              </td>
              <td class="text-center">
                {{if not (eq .ID $currentUser.ID)}}
                {{- /* cannot delete yourself */ -}}
                <a href="/realm/users/{{.ID}}" class="d-block text-danger" data-method="DELETE"
                  data-confirm="Are you sure you want to remove '{{.Name}}'?" data-toggle="tooltip"
                  title="Remove this user">
                  <span class="oi oi-trash" aria-hidden="true"></span>
                </a>
                {{end}}
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      {{else}}
        <p class="card-body text-center mb-0">
          <em>There are no users{{if .query}} that match the query{{end}}.</em>
        </p>
      {{end}}
    </div>

    {{template "shared/pagination" .}}
  </main>
</body>

</html>
{{end}}
