{{define "users/new"}}

{{$user := .user}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
  {{template "floatingform" .}}
  {{if .created}}
  {{template "firebase" .}}
  {{end}}
</head>

<body class="bg-light">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>New user</h1>
    <p>
      Use the form below to create a new user.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">User details</div>
      <div class="card-body">
        {{template "users/_form" .}}
      </div>
    </div>
    <a class="card-link {{if .created}}disabled{{end}}" href="/users" id="all-users">&larr; All users</a>
  </main>

  {{template "scripts" .}}
  {{if .created}}
  <script type="text/javascript">
  $(function() {
    let email = {{.user.Email}};
    let $allUsers = $('#all-users');
    let $submit = $('#submit-user');

    firebase.auth().sendPasswordResetEmail(email)
      .then(function() {
        flash("Successfully created user '" + {{.user.Name}} + "'.", "success");
      }).catch(function(error) {
        flash(error.message, "danger")
      }).then(function() {
        $submit.prop('disabled', false);
        $allUsers.removeClass('disabled');
      });
  });
  </script>
  {{end}}
</body>

</html>
{{end}}
