{{define "users/show"}}

{{$currentRealm := .currentRealm}}
{{$currentUser := .currentUser}}
{{$user := .user}}
{{$stats := .stats}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body id="users-show" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>{{$user.Name}}</h1>
    <p class="float-right">
      <a href="/users/{{$user.ID}}/edit">Edit</a>
    </p>
    <p>
      Here is information about the user.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Details</div>
      <div class="card-body">
        <strong>Name</strong>
        <div class="mb-3">
          {{$user.Name}}
        </div>

        <strong>Email</strong>
        <div class="mb-3">
          {{$user.Email}}
        </div>

        {{if $user.Admin}}
        <strong>System admin</strong>
        <div class="card-text text-success mb-3">Enabled</div>
        {{end}}

        <strong>Admin</strong>
        <div class="mb-3">
          {{if $user.CanAdminRealm $currentRealm.ID}}
          <div class="card-text text-success mb-3">Enabled</div>
          {{else}}
          <div class="card-text mb-3">Disabled</div>
          {{end}}
        </div>

        <a href="/users/{{$user.ID}}/reset-password" data-method="POST" class="btn btn-primary btn-block">Send password reset</a>
      </div>
    </div>

    {{if $currentUser.Admin}}
    <div class="card mb-3 shadow-sm">
      <div class="card-header">System admin</div>
      <div class="card-body">
        <div class="alert alert-warning">
          <span class="oi oi-warning"></span>
          System admin actions apply across realms.
        </div>

        <div class="card-header">Member of realms</div>
        <ul class="list-group list-group-flush">
          {{range $realm := $user.Realms}}
          <li class="list-group-item">
            {{$realm.Name}}

            {{range $admin := $user.AdminRealms}}
            {{if eq $admin.ID $realm.ID}}
            <span class="badge badge-primary">Admin</span>
            {{end}}
            {{end}}

            <a href="/users/{{.ID}}" class="d-block text-danger float-right" data-method="DELETE"
              data-confirm="Are you sure you want to remove {{$user.Name}} from {{.Name}}?">
              <span class="oi oi-account-logout" aria-hidden="true"></span>
              Remove from realm
            </a>
          </li>
          {{end}}
        </ul>


        <a href="/users/{{$user.ID}}/disable-user" data-method="POST" class="btn btn-danger btn-block"
        data-confirm="Are you sure you want to disable all access for {{$user.Email}}?">
        Disable user
        </a>
        <small class="form-text text-muted">
          Disabling the user account will prevent the user from logging in.
          This may be used to stop an abusive user from accessing the system entirely.
        </small>
      </div>
    </div>
    {{end}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Statistics</div>
      <div class="card-body table-responsive">
        {{if $stats}}
        <div id="chart" class="mb-3" style="height: 300px;">
          <span>Loading chart...</span>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" width="125px">Date</th>
              <th scope="col">Keys issued</th>
            </tr>
          </thead>
          <tbody>
            {{range $stat := $stats}}
            <tr>
              <td>{{$stat.Date.Format "2006-01-02"}}</td>
              <td>{{$stat.CodesIssued}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
        <div class="font-italic">
          This data is refreshed every 5 minutes.
        </div>
        {{else}}
          <p>This user has not recently issued any codes.</p>
        {{end}}
      </div>
    </div>

    <a class="card-link" href="/users">&larr; All users</a>
  </main>

  {{if $stats}}
  <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['line']});
    google.charts.setOnLoadCallback(drawChart)

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Date', 'Codes issued'],
        {{range $stat := $stats}}
        ['{{$stat.Date.Format "Jan 2"}}', {{$stat.CodesIssued}}],
        {{end}}
      ]);

      var options = {
        colors: ['#007bff'],
        legend: {position: 'none'},
        tooltip: {trigger: 'focus'},
      };

      var chart = new google.charts.Line(document.getElementById('chart'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
  {{end}}
</body>
</html>
{{end}}
