{{define "users/show"}}

{{$currentRealm := .currentRealm}}
{{$user := .user}}
{{$stats := .stats}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
  {{template "firebase" .}}
</head>

<body class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>{{$user.Name}}</h1>
    <p class="float-right">
      <a href="/users/{{$user.ID}}/edit">Edit</a>
    </p>
    <p>
      Here is information about the user.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Details</div>
      <div class="card-body">
        <strong>Name</strong>
        <div class="mb-3">
          {{$user.Name}}
        </div>

        <strong>Email</strong>
        <div class="mb-3">
          {{$user.Email}}
        </div>

        <strong>Admin</strong>
        <div class="mb-3">
          {{$user.CanAdminRealm $currentRealm.ID}}
        </div>

        <form class="floating-form" action="/users/{{$user.ID}}" method="POST">
          {{ .csrfField }}
          <input type="hidden" name="email" value="{{$user.Email}}"/>
          <button type="password-reset" id="submit" class="btn btn-primary btn-block">Send password reset</button>
        </form>
      </div>
    </div>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Statistics</div>
      <div class="card-body table-responsive">
        {{if $stats}}
        <div id="chart" class="mb-3" style="height: 300px;">
          <span>Loading chart...</span>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" width="125px">Date</th>
              <th scope="col">Keys issued</th>
            </tr>
          </thead>
          <tbody>
            {{range $stat := $stats}}
            <tr>
              <td>{{$stat.Date.Format "2006-01-02"}}</td>
              <td>{{$stat.CodesIssued}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
        <div class="font-italic">
          This data is refreshed every 5 minutes.
        </div>
        {{else}}
          <p>This user has not recently issued any codes.</p>
        {{end}}
      </div>
    </div>

    <a class="card-link" href="/users">&larr; All users</a>
  </main>

  {{template "scripts" .}}

  {{if $stats}}
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages: ['line']});
    google.charts.setOnLoadCallback(drawChart)

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Date', 'Codes issued'],
        {{range $stat := $stats}}
        ['{{$stat.Date.Format "Jan 2"}}', {{$stat.CodesIssued}}],
        {{end}}
      ]);

      var options = {
        colors: ['#007bff'],
        legend: {position: 'none'},
        tooltip: {trigger: 'focus'},
      };

      var chart = new google.charts.Line(document.getElementById('chart'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
  {{end}}
</body>
</html>
{{end}}
