{{define "mobileapps/_app"}}

{{$app := .app}}

<div class="form-label-group">
  <input type="text" name="name" id="name" class="form-control{{if $app.ErrorsFor "name"}} is-invalid{{end}}" value="{{$app.Name}}"
    placeholder="Application name" autofocus>
  <label for="name">Application name</label>
  {{template "errorable" $app.ErrorsFor "name"}}
</div>

<div class="form-label-group">
  <input type="text" name="url" id="url" class="form-control{{if $app.ErrorsFor "url"}} is-invalid{{end}}" value="{{$app.URL}}"
    placeholder="AppStore URL" autofocus>
  <label for="name">AppStore URL</label>
  {{template "errorable" $app.ErrorsFor "url"}}
</div>

<div class="form-group">
  <select name="os" id="os" class="form-control custom-select{{if $app.ErrorsFor "os"}} is-invalid{{end}}">
    <option selected disabled>Choose platform...</option>
    <option value="{{.iOS}}" {{if (eq $app.OS .iOS)}}selected{{end}}>iOS</option>
    <option value="{{.android}}" {{if (eq $app.OS .android)}}selected{{end}}>Android</option>
  </select>
  {{template "errorable" $app.ErrorsFor "os"}}
</div>

<div id="app-id-group" class="form-label-group d-none">
  <input type="text" name="app_id" id="app-id" class="form-control text-monospace{{if $app.ErrorsFor "app_id"}} is-invalid{{end}}" value="{{$app.AppID}}">
  <label for="app-id" id="app-id-label"></label>
  {{template "errorable" $app.ErrorsFor "app_id"}}
</div>

<div id="sha-group" class="form-label-group d-none">
  <textarea name="sha" id="sha" class="form-control text-monospace{{if $app.ErrorsFor "sha"}} is-invalid{{end}}"
    placeholder="SHA256s (one per line)" rows="5">{{$app.SHA}}</textarea>
  <label for="sha">SHA256 from the app signing certificate (one per line) </label>
  {{template "errorable" $app.ErrorsFor "sha"}}
  <small class="form-text text-muted">
    SHAs are unique fingerprints of Android applications from their signing
    certificate. We support multiple SHA256s for different versions of the app
    (e.g. development and production). SHA256s should be 95 characters and of the
    form: <code>AA:BB:CC:..</code>. You can generate a SHA with the following
    command:
    <pre class="mt-3 mb-4 ml-3"><code>keytool -list -v -keystore my-release-key.keystore</code></pre>
  </small>
</div>

<script type="text/javascript">
  $(function() {
    let $selectOS = $('select#os');
    let $appID = $('#app-id');
    let $appIDGroup = $('#app-id-group');
    let $appIDLabel = $('#app-id-label');
    let $sha = $('#sha');
    let $shaGroup = $('#sha-group');

    function processChange() {
      $appIDGroup.addClass('d-none');

      let val = $selectOS.children('option:selected').val();
      if (val === '{{.iOS}}') {
        $appID.attr('placeholder', 'Application ID');
        $appIDLabel.html('Application ID');
        $shaGroup.addClass('d-none');
        $appIDGroup.removeClass('d-none');
      } else if (val === '{{.android}}') {
        $appID.attr('placeholder', 'Package name');
        $appIDLabel.html('Package name');
        $shaGroup.removeClass('d-none');
        $appIDGroup.removeClass('d-none');
      }
    }

    $selectOS.change(processChange);
    processChange();
  });
</script>

{{end}}
