{{define "mobileapps/edit"}}

{{$app := .app}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body id="mobileapps-edit" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Edit mobile app</h1>
    <p>
      Use the form below to edit the app.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Details</div>
      <div class="card-body">
        <form method="POST" action="/realm/mobile-apps/{{$app.ID}}" class="floating-form">
          <input type="hidden" name="_method" value="PATCH">
          {{ .csrfField }}

          {{template "mobileapps/_app" .}}

          <button type="submit" class="btn btn-primary btn-block">Update mobile app</button>
        </form>
      </div>
    </div>

    <a href="/realm/mobile-apps">&larr; Back to all mobile apps</a>
  </main>
</body>
</html>
{{end}}
