{{define "admin/navbar"}}
<header class="mb-3">
  <div href="/" class="d-block px-3 py-2 text-center text-bold text-white admin-header">
    System Admin
  </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          {{if .currentRealm}}
          <li class="nav-item">
            <a class="nav-link" href="/home">&larr; Back to {{.currentRealm.Name}} </a>
          </li>
          {{end}}
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profile-menu" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{.currentUser.Name}}
            </a>

            <div class="dropdown-menu" aria-labelledby="profile-menu">
              <h6 class="dropdown-header">System admin</h6>
              <a class="dropdown-item" href="/admin/realms">Realms</a>
              <a class="dropdown-item" href="/admin/users">Admins</a>
              <div class="dropdown-divider"></div>

              <h6 class="dropdown-header">Actions</h6>
              <a class="dropdown-item" href="/login/select-realm">{{if .currentRealm}}Change realm{{else}}Select realm{{end}}</a>
              <a class="dropdown-item" href="/signout">Sign out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<ul class="nav nav-pills justify-content-center mb-3">
  <li class="nav-item">
    <a class="nav-link{{if stringContains .currentPath "/admin/realms"}} active{{end}}" href="/admin/realms">Realms</a>
  </li>

  <li class="nav-item">
    <a class="nav-link{{if stringContains .currentPath "/admin/users"}} active{{end}}" href="/admin/users">System admins</a>
  </li>

  <li class="nav-item">
    <a class="nav-link{{if stringContains .currentPath "/admin/info"}} active{{end}}" href="/admin/info">Info</a>
  </li>
</ul>
{{end}}
