{{define "admin/info"}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body id="admin-info" class="tab-content">
  {{template "admin/navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Info</div>
      <div class="card-body">
        <dl>
          <dt>Build ID</dt>
          <dd>{{.buildID}}</dd>

          <dt>Build Tag</dt>
          <dd>{{.buildTag}}</dd>
        </dl>
      </div>
    </div>
  </main>
</body>
</html>
{{end}}
