{{define "users/_form"}}

{{$currentMembership := .currentMembership}}

{{$user := .user}}
{{$userMembership := .userMembership}}
{{$permissions := .permissions}}

{{$currentMembership := .currentMembership}}

{{if $user.ID}}
<form method="POST" id="users-form" action="/realm/users/{{$user.ID}}">
  <input type="hidden" name="_method" value="PATCH">
{{else}}
  <form method="POST" id="users-form" action="/realm/users">
{{end}}

    {{ .csrfField }}

    <div class="row g-3">
      <div class="col-lg-12">
        <div class="form-floating">
          <input type="text" id="name" name="name" class="form-control{{if $user.ErrorsFor "name"}} is-invalid{{end}}"
            value="{{$user.Name}}" placeholder="Name" autofocus />
          <label for="name">Name</label>
          {{template "errorable" $user.ErrorsFor "name"}}
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-floating">
          <input type="email" id="email" name="email" class="form-control{{if $user.ErrorsFor "email"}} is-invalid{{end}}"
            value="{{$user.Email}}" placeholder="Email address" {{disabledIf (ne $user.ID 0)}} />
          <label for="email">Email address</label>
          {{template "errorable" $user.ErrorsFor "email"}}
        </div>
      </div>
    </div>

    <div class="bg-light border rounded p-3 mt-3">
      <div class="d-flex justify-content-between">
        <h5 class="mb-3">Permissions</h5>
        <small>
          <a href="#" data-bs-toggle="modal" data-bs-target="#permissions-help">Learn more</a>
        </small>
      </div>

      <div class="modal fade" id="permissions-help" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">About permissions</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                Permissions are fine-grained controls that determine what actions
                a user can take in the system. There is a detailed description
                under each permission which describes the set of accesses that
                permission grants.
              </p>

              <p>
                Some permissions automatically imply other permissions. For
                example, the <code>UserWrite</code> permission implies the
                <code>UserRead</code> permission. In general, you cannot grant
                permission to write to a resource without also granting permission
                to read it.
              </p>

              <p>
                Finally, you can only grant a permission if you also have that
                permission on your account. You can remove permissions that you do
                not have, but you will not be able to add them back.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="permissions-list">
        {{if (eq $currentMembership.UserID $userMembership.UserID)}}
          <small class="form-text mb-3">
            You cannot edit your own permissions.
          </small>
        {{else}}
          <span id="permission-implied-warning" class="bi bi-exclamation-square-fill small py-1 px-1 d-none"
            data-bs-toggle="tooltip" data-placement="top" data-offset="75"></span>

          {{range $name, $permission := $permissions}}
            <div class="form-check py-2">
              <input type="checkbox" name="permissions" id="permission-{{$permission.String}}"
                class="form-check-input" value="{{$permission.Value}}"
                data-permission-name="{{$permission.String}}"
                data-implied-permissions="{{joinStrings $permission.Implied ","}}"
                {{checkedIf ($userMembership.Can $permission)}}
                {{disabledIf ($currentMembership.Cannot $permission)}}
                {{readonlyIf ($currentMembership.Cannot $permission)}}
                >
              <label class="form-check-label w-100" id="permission-{{$permission.String}}-label"
                for="permission-{{$permission.String}}">
                <div>
                  {{$name}}
                  {{if $currentMembership.Cannot $permission}}
                    <span class="bi bi-x-circle-fill small py-1 px-1"
                      data-bs-toggle="tooltip" data-placement="top" data-offset="75" title="You lack this permission"></span>
                  {{end}}
                </div>
                <div class="small text-muted">
                  Can {{$permission.Description}}.
                  {{if $implied := $permission.Implied}}
                    Granting this permission will also grant {{toSentence $implied "and"}}.
                  {{end}}
                </div>
              </label>
            </div>
          {{end}}
        </div>
      {{end}}
    </div>

    <div class="card-footer cheating-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
      <button type="submit" class="btn btn-primary">
        {{if $user.ID}}
          Update user
        {{else}}
          Create user
        {{end}}
      </button>
      <div class="d-grid d-lg-inline">
        {{if $user.ID}}
          <a href="/realm/users/{{$user.ID}}" class="btn btn-danger mt-2 mt-lg-0">
            Cancel
          </a>
        {{else}}
          <a href="/realm/users" class="btn btn-danger mt-2 mt-lg-0">
            Cancel
          </a>
        {{end}}
      </div>
    </div>
  </form>
{{end}}
