{{define "users/edit"}}
<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body id="users-edit" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Edit user</h1>
    <p>
      Use the form below to edit the user.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Details</div>
      <div class="card-body">
        {{template "errorSummary" .user}}
        {{template "errorSummary" .userMembership}}
        {{template "users/_form" .}}
      </div>
    </div>
  </main>
</body>
</html>
{{end}}
