{{define "users/show"}}

{{$user := .user}}
{{$userMembership := .userMembership}}
{{$stats := .stats}}
{{$permissions := .permissions}}

{{$currentMembership := .currentMembership}}
{{$canWrite := $currentMembership.Can rbac.UserWrite}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
  <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body id="users-show" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>{{$user.Name}}</h1>
    <p>Here is information about the user.</p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <span class="oi oi-person mr-2 ml-n1" aria-hidden="true"></span>
        Details about {{$user.Name}}

        {{if $canWrite}}
          <a href="/realm/users/{{$user.ID}}/edit" class="float-right mr-n1 text-body" id="edit" data-toggle="tooltip" title="Edit this user">
            <span class="oi oi-pencil" aria-hidden="true"></span>
          </a>
        {{end}}
      </div>
      <div class="card-body mb-n3">
        <h6 class="card-title">Name</h6>
        <div id="user-name" class="mb-3 mt-n2">
          {{$user.Name}}
        </div>

        <h6 class="card-title">Email</h6>
        <div id="user-email" class="mb-3 mt-n2">
          {{$user.Email}}
        </div>

        {{if $canWrite}}
          <h6 class="card-title">Password</h6>
          <div class="mb-3 mt-n2">
            <a href="/realm/users/{{$user.ID}}/reset-password"
              data-method="POST"
              data-confirm="Are you sure you want to reset this user's password?">
              Send password reset
            </a>
          </div>
        {{end}}

        <h6 class="card-title">Permissions</h6>
        <div class="mb-3 mt-n2">
          <ul class="list-unstyled">
            {{range $name, $permission := $permissions}}
              <li class="small py-1">
                {{if $userMembership.Can $permission}}
                  <span class="sr-only">{{$user.Name}} can {{$name}}</span>
                  <span class="oi oi-circle-check text-success mr-1" aria-hidden="true"></span>
                {{else}}
                  <span class="sr-only">{{$user.Name}} cannot {{$name}}</span>
                  <span class="oi oi-circle-x text-muted mr-1" aria-hidden="true"></span>
                {{end}}
                {{$name}} -
                <span class="text-muted">
                  {{$permission.Description}}
                </span>
              </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>

    <div class="card mb-3 shadow-sm mb-3">
      <div class="card-header">
        <span class="oi oi-bar-chart mr-2 ml-n1"></span>
        Statistics
      </div>
      <div id="user_stats_chart" class="container d-flex h-100 w-100" style="min-height:300px;">
        <p class="justify-content-center align-self-center text-center font-italic w-100">Loading chart...</p>
      </div>
      <small class="card-footer d-flex justify-content-between text-muted">
        <span>
          This data is refreshed every 30 minutes.
          <a href="#" data-toggle="modal" data-target="#user-stats-modal">Learn more</a>
        </span>
        <span>
          <span class="mr-1">Export as:</span>
          <a href="/stats/realm/users/{{$user.ID}}.csv" class="mr-1">CSV</a>
          <a href="/stats/realm/users/{{$user.ID}}.json" target="_blank">JSON</a>
        </span>
      </small>
    </div>

    <div class="modal fade" id="user-stats-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Codes issued by {{$user.Name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mb-n3">
            <p>
              This chart reflects the number of codes issued by {{$user.Name}}
              ({{$user.Email}}) for {{$currentMembership.Realm.Name}}.
            </p>
            <p>
              This chart does <u>not</u> include codes that were issued via the
              API, codes that were issued by other users of the system, or codes
              that were issued by this user against a different realm.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script type="text/javascript">
    var chartData = [];
    $(() => redrawCharts(chartData, 300));

    google.charts.load('current', {
      packages: ['corechart'],
      callback: drawRealmCharts,
    });

    function drawRealmCharts() {
      $.ajax({
        url: '/stats/realm/users/{{$user.ID}}.json',
        dataType: 'json',
      })
      .done(function(data, status, xhr) {
        let $userStatsChart = $('#user_stats_chart');

        if (!data.statistics) {
          $userStatsChart.find('p').text('No data yet.');
          return;
        }

        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('date', 'Date');
        dataTable.addColumn('number', 'Issued');

        data.statistics.reverse().forEach(function(row) {
          dataTable.addRow([utcDate(row.date), row.data.codes_issued]);
        });

        let dateFormatter = new google.visualization.DateFormat({
          pattern: 'MMM dd',
        });
        dateFormatter.format(dataTable, 0);

        let options = {
          colors: ['#007bff', '#ff7b00'],
          chartArea: {
            left: 40, // leave room for y-axis labels
            right: 20,
            width: '100%'
          },
          hAxis: { format: 'M/d' },
          legend: 'none',
          width: '100%'
        };

        let chart = new google.visualization.LineChart($userStatsChart.get(0));
        chart.draw(dataTable, options);
        chartData.push({
          chart: chart,
          data: dataTable,
          options: options,
        });
      })
      .fail(function(xhr, status, err) {
        flash.error('Failed to render realm stats: ' + err);
      });
    }
  </script>
</body>
</html>
{{end}}
