{{define "realmadmin/_form_security"}}

{{$realm := .realm}}

<p class="mb-4">
  These are the security settings for {{$realm.Name}}.
</p>

<form method="POST" id="security" action="/realm/settings#security">
  {{ .csrfField }}
  <input type="hidden" name="security" value="1" />

  <div class="bg-light border rounded p-3 mb-3">
    <h5 class="mb-3">Account management</h5>

    <div class="row g-3">
      <div class="col-lg-12">
        <div class="form-floating">
          <select name="email_verified_mode" id="email-verified-mode" class="form-control form-select">
            <option value="1" {{if eq $realm.EmailVerifiedMode.String "required"}}selected{{end}}>Required</option>
            <option value="0" {{if eq $realm.EmailVerifiedMode.String "prompt"}}selected{{end}}>Prompt after login</option>
            <option value="2" {{if eq $realm.EmailVerifiedMode.String "optional"}}selected{{end}}>Optional</option>
          </select>
          <label for="email-verified-mode">Email verification</label>
          {{template "errorable" $realm.ErrorsFor "emailVerifiedMode"}}
          <small class="form-text text-muted">
            Email verification requires users to verify their email address before
            using the system.
          </small>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-floating">
          <select name="mfa_mode" id="mfa-mode" class="form-control form-select">
            <option value="1" {{if eq $realm.MFAMode.String "required"}}selected{{end}}>Required</option>
            <option value="0" {{if eq $realm.MFAMode.String "prompt"}}selected{{end}}>Prompt after login</option>
            <option value="2" {{if eq $realm.MFAMode.String "optional"}}selected{{end}}>Optional</option>
          </select>
          <label for="mfa-mode">Multi factor authentication</label>
          {{template "errorable" $realm.ErrorsFor "mfaMode"}}
          <small class="form-text text-muted">
            Multi-factor authentication requires users to supply a second factor (e.g.
            a code via an SMS text message) when authenticating to the system.
          </small>
        </div>
      </div>

      <div class="col-lg-12 {{if ne $realm.MFAMode.String "required"}}d-none{{end}}">
        <div id="grace-div" class="form-floating">
          <select name="mfa_grace_period" id="mfa-grace-period" class="form-control form-select" {{if ne $realm.MFAMode.String "required"}}disabled{{end}}>
            {{$current := $realm.MFARequiredGracePeriod}}
            {{range $prd := .mfaGracePeriod}}
            <option value="{{$prd}}" {{if eq $prd $current.Days}}selected{{end}}>
              {{if (eq $prd 0)}}Immediately{{else}}After {{$prd}} days{{end}}
            </option>
            {{end}}
          </select>
          <label for="mfa-grace-period">Require MFA</label>
          {{template "errorable" $realm.ErrorsFor "mfaMode"}}
          <small class="form-text text-muted">
            Allows users to continue without registering multi-factor authentication for a period of time. This can be
            less burdensome to new users or short-term users.
          </small>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-floating">
          <select name="password_rotation_period_days" id="password-rotation-period-days" class="form-control form-select">
            {{$current := $realm.PasswordRotationPeriodDays}}
            {{range $prd := .passwordRotateDays}}
            <option value="{{$prd}}" {{if (eq $prd $current)}}selected{{end}}>{{if (eq $prd 0)}}Off{{else}}Every {{$prd}} days{{end}}</option>
            {{end}}
          </select>
          <label for="password-rotation-period-days">Require password rotation</label>
          {{template "errorable" $realm.ErrorsFor "passwordRotationPeriodDays"}}
          <small class="form-text text-muted">
            If enabled, users will be required to change their password after this
            number of days elapse since their last password change.
          </small>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-floating">
          <select name="password_rotation_warning_days" id="password-rotation-warning-days" class="form-select{{if $realm.ErrorsFor "passwordWarn"}} is-invalid{{end}}">
            {{$current := $realm.PasswordRotationWarningDays}}
            {{range $pwd := .passwordWarnDays}}
            <option value="{{$pwd }}" {{if (eq $pwd $current)}}selected{{end}}>{{if (eq $pwd 0)}}Off{{else}}{{$pwd}} days before{{end}}</option>
            {{end}}
          </select>
          <label for="password-rotation-warning-days">Password rotation warning</label>
          {{template "errorable" $realm.ErrorsFor "passwordRotationWarningDays"}}
          <small class="form-text text-muted">
            If enabled, users will be warned to change their password within this
            number of days before expiration.
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light border rounded p-3">
    <h5 class="mb-3">Firewall</h5>

    <div class="row g-3">
      <div class="col-lg-12">
        <div class="form-floating">
          <textarea name="allowed_cidrs_adminapi" id="allowed-cidrs-adminapi" class="form-control font-monospace{{if $realm.ErrorsFor "allowedCIDRsAdminAPI"}} is-invalid{{end}}"
            rows="5" placeholder="Allowed CIDRs (Admin API)">{{joinStrings $realm.AllowedCIDRsAdminAPI "\n"}}</textarea>
          <label for="allowed-cidrs-adminapi">Allowed CIDRs (Admin API)</label>
          {{template "errorable" $realm.ErrorsFor "allowedCIDRsAdminAPI"}}
          <small class="form-text text-muted">
            An optional list of CIDR blocks from which to allow traffic to the
            <strong>Admin API</strong> which can be used to generate codes. If blank,
            all traffic is allowed from all IPs. These should be of <a
            href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
            rel="noopener noreferrer"
            target="_blank">CIDR notation</a>
            of the format (e.g. <code>192.1.2.0/24</code>). This is only enforced
            post-authentication.
          </small>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-floating">
          <textarea name="allowed_cidrs_apiserver" id="allowed-cidrs-apiserver" class="form-control font-monospace{{if $realm.ErrorsFor "allowedCIDRsAPIServer"}} is-invalid{{end}}"
            rows="5" placeholder="Allowed CIDRs (Device API)">{{joinStrings $realm.AllowedCIDRsAPIServer "\n"}}</textarea>
          <label for="allowed-cidrs-apiserver">Allowed CIDRs (Device API)</label>
          {{template "errorable" $realm.ErrorsFor "allowedCIDRsAPIServer"}}
          <small class="form-text text-muted">
            An optional list of CIDR blocks from which to allow traffic to the
            <strong>Device API</strong> which is where devices exchange their code for
            a certificate. It is highly recommended that you <strong>leave this
            service publicly accessible</strong>. If blank, all traffic is allowed
            from all IPs. These should be of <a
            href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
            rel="noopener noreferrer"
            target="_blank">CIDR notation</a>
            of the format (e.g. <code>192.1.2.0/24</code>). This is only enforced
            post-authentication.
          </small>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-floating">
          <textarea name="allowed_cidrs_server" id="allowed-cidrs-server" class="form-control font-monospace{{if $realm.ErrorsFor "allowedCIDRsServer"}} is-invalid{{end}}"
            rows="5" placeholder="Allowed CIDRs (UI server)">{{joinStrings $realm.AllowedCIDRsServer "\n"}}</textarea>
          <label for="allowed-cidrs-server">Allowed CIDRs (UI server)</label>
          {{template "errorable" $realm.ErrorsFor "allowedCIDRsServer"}}
          <small class="form-text text-muted">
            An optional list of CIDR blocks from which to allow traffic to the
            <strong>UI server</strong> (this server). If blank, all traffic is allowed
            from all IPs. These should be of <a
            href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
            rel="noopener noreferrer"
            target="_blank">CIDR notation</a>
            of the format (e.g. <code>192.1.2.0/24</code>). This is only enforced
            post-authentication.
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer cheating-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
    <button type="submit" class="btn btn-primary">
      Update security settings
    </button>
  </div>
</form>

<script type="text/javascript">
  window.addEventListener('load', (event) => {
    let form = document.querySelector('form#security');
    let inputGracePeriod = form.querySelector('select#mfa-grace-period');
    let inputMFAMode = form.querySelector('select#mfa-mode');
    let divGrace = form.querySelector('div#grace-div');

    inputMFAMode.addEventListener('change', (event) => {
      if (event.target.value == 1) {
        inputGracePeriod.disabled = false;
        divGrace.classList.remove('d-none');
      } else {
        inputGracePeriod.disabled = true;
        divGrace.classList.add('d-none');
      }
    })
  });
</script>

{{end}}
