{{define "realmadmin/_stats_keyserver"}}

{{$realm := .currentMembership.Realm}}

<h1>Key server stats</h1>
<p>
  The data below shows realm statistics and visualizations gathered from the key server.
</p>

{{if .keyServerOverride}}
  <p>Stats sourced from: "{{.keyServerOverride}}}</p>
{{end}}

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    Total publish requests (by device operating system)
  </div>

  <div id="keyserver_os_dashboard_div">
    <div id="keyserver_os_chart_div" class="h-100 w-100" style="min-height:325px;" data-realm-allows-user-report="{{$realm.AllowsUserReport}}">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="keyserver_os_filter_div" class="text-end" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#publish-by-os-modal">Learn more about this chart</a>
    <span>
      <span class="me-1">Export as:</span>
      <a href="/stats/realm/key-server.csv" class="me-1">CSV</a>
      <a href="/stats/realm/key-server.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    Total TEKs Published
  </div>
  <div id="keyserver_dashboard_div">
    <div id="keyserver_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="keyserver_filter_div" class="text-end" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#keyserver-stats-modal">Learn more about this chart</a>
    <span>
      <span class="me-1">Export as:</span>
      <a href="/stats/realm/key-server.csv" class="me-1">CSV</a>
      <a href="/stats/realm/key-server.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    EN days active before upload <span class="sum-title">(7 day sum)</span>
  </div>
  <div id="keyserver_tek_chart_div" class="h-100 w-100" style="min-height:325px;">
    <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
  </div>
  <div class="slidecontainer ps-5 pe-5">
    <input type="range" class="form-range w-100" id="tek_slider" list="tek_slide_ticks" step="1">
    <datalist id="tek_slide_ticks"></datalist>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#tek-age-modal">Learn more about this chart</a>
    <span>
      <span class="me-1">Export as:</span>
      <a href="/stats/realm/key-server.csv" class="me-1">CSV</a>
      <a href="/stats/realm/key-server.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    Onset-to-upload distribution <span class="sum-title">(7 day sum)</span>
  </div>
  <div id="keyserver_onset_chart_div" class="h-100 w-100" style="min-height:325px;">
    <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
  </div>
  <div class="slidecontainer ps-5 pe-5">
    <input type="range" class="form-range w-100" id="onset_slider" list="onset_slide_ticks" step="1" />
    <datalist id="onset_slide_ticks"></datalist>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#onset-to-upload-modal">Learn more about this chart</a>
    <span>
      <span class="me-1">Export as:</span>
      <a href="/stats/realm/key-server.csv" class="me-1">CSV</a>
      <a href="/stats/realm/key-server.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="modal fade" id="keyserver-stats-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Total TEKs Published</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph reflects data from the key-server for this realm,
          grouped by UTC day.
        </p>
        <p>
          An individual day will not show any statistics until there are
          at least <em>10</em> successful publish requests on that day or
          until 48 hours past the end of that day (UTC time zone).
        </p>

        <strong>Total # TEKs published</strong>
        <p>
          This line tracks the total number of TEKs published to the key-server.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="publish-by-os-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Publish requests (by device operating system)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph shows counts of the number of publish requests broken down by the request operating system.
          Hover over columns to see the percentage for each OS segment.
        </p>
        <p>The <em>total</em> overlay line shows the number of publish requests (sum of stacked bars)</p>
        <p>The <em>missing onset date</em> overlay line shows the number of publish requests where
          there was no symptom onset date or test date provided in the publish request.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tek-age-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">EN days active before upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph shows a distribution of the ages of temporary exposure keys by how many days old each TEK is.
          Move the slider to see how the distribution has changed over time.

          Each bar shows the number of keys that are greater than N days old but less than than the next bar.
          Eg. "4" shows keys between 4 and 5 days old.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="onset-to-upload-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Onset-to-upload distribution</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph reflects the distribution of the time between the TEK's symptom onset time and when the key was uploaded.
          Move the slider to see how the distribution has changed over time.

          Each bar shows the number of keys whose symptom onset-to-upload is greater than N days old but less than than the next bar.
          Eg. "4" shows symptom-onset between 4 and 5 days old.
        </p>
      </div>
    </div>
  </div>
</div>

{{end}}
