{{define "realmadmin/_stats_codes"}}

{{$realm := .currentMembership.Realm}}

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    {{if $realm.AllowsUserReport}}Total codes{{else}}Codes{{end}} issued &amp; usage
  </div>
  <div id="dashboard_div">
    <div id="realm_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="filter_div" class="text-end" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#realm-codes-modal">Learn more about this chart</a>
    <span>
      <span class="me-1">Export as:</span>
      {{if .hasKeyServerStats}}
      <a href="/stats/realm/composite.csv" class="me-1">CSV</a>
      <a href="/stats/realm/composite.json" target="_blank">JSON</a>
      {{else}}
      <a href="/stats/realm.csv" class="me-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
      {{end}}
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    Invalid codes by OS
  </div>
  <div id="invalid_dashboard_div">
    <div id="invalid_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="invalid_filter_div" class="text-end" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#invalid-modal">Learn more about this chart</a>
    <span>
      <span class="me-1">Export as:</span>
      {{if .hasKeyServerStats}}
      <a href="/stats/realm/composite.csv" class="me-1">CSV</a>
      <a href="/stats/realm/composite.json" target="_blank">JSON</a>
      {{else}}
      <a href="/stats/realm.csv" class="me-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
      {{end}}
    </span>
  </small>
</div>

{{if $realm.AllowsUserReport}}
<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    User report codes &amp; usage
  </div>
  <div id="user_issued_dashboard_div">
    <div id="user_issued_realm_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="user_issued_realm_filter_div" class="text-end" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#realm-user-codes-modal">Learn more about this chart</a>
    <span>
      <a href="/stats/realm.csv" class="me-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    Manual / automated code issue &amp; user report
  </div>
  <div id="comparison_dashboard_div">
    <div id="comparison_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="comparison_filter_div" class="text-end" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#comparison-codes-modal">Learn more about this chart</a>
    <span>
      <a href="/stats/realm.csv" class="me-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
    </span>
  </small>
</div>
{{end}}

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    Time until code claimed <span class="sum-title">(7 day sum)</span>
  </div>
  <div id="issue_age_dist_chart_div" class="h-100 w-100" style="min-height:325px;">
    <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
  </div>
  <div class="slidecontainer ps-5 pe-5">
    <input type="range" class="form-range w-100" id="issue_age_slider" list="issue_age_ticks" step="1">
    <datalist id="issue_age_ticks"></datalist>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#issue-claim-dist-modal">Learn more about this chart</a>
    <span>
      <span class="me-1">Export as:</span>
      <a href="/stats/realm.csv" class="me-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <i class="bi bi-graph-up me-2"></i>
    Mean time until code claimed
  </div>
  <div id="mean_claim_age_div">
    <div id="mean_claim_age_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="mean_claim_age_filter_div" class="text-end" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-bs-toggle="modal" data-bs-target="#issue-claim-mean-modal">Learn more about this chart</a>
    <span>
      <span class="me-1">Export as:</span>
      <a href="/stats/realm.csv" class="me-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="modal fade" id="realm-user-codes-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">User report codes &amp; usage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph reflects the total number of codes issued and used
          that are the result of a <strong>user initiated report</strong>
          for this realm, grouped by UTC day.
        </p>

        <strong>User Report Codes Issued</strong>
        <p>
          This line tracks the total number of codes issued by user report.
        </p>

        <strong>User Report Codes Claimed</strong>
        <p>
          This line tracks the total number of user report codes claimed.
          Codes can only be claimed by the end user using the API.
          Typically the iOS or  Android application is responsible for claiming the code.
        </p>

        <strong>User Report Tokens Claimed</strong>
        <p>
          This line tracks the total number of users who initiated a user report
          and then successfully
          claimed a verification code and then consented to key release.
        </p>

        <strong>User Report Device Mismatch</strong>
        <p>
          This line indicates that a code was requested but not sent to the same
          device that requested the code. This could indicate attempted system abuse.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="invalid-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invalid codes by OS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph breaks down the number of invalid code claim attempts
          by operating system.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comparison-codes-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manual / automated code issue &amp; user report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph reflects the total number of tokens claimed using stacked area.
          This can help you determine what the ratio between user reported uploads
          and uploads where your public health authority initiated the code.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="realm-codes-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Codes issued &amp; usage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph reflects the total number of codes issued and usage
          of those codes for this realm, grouped by UTC day.
          {{if $realm.AllowsUserReport}}
          This includes both PHA (manual or automated) codes issued and
          user reported cases together in the same chart.
          {{end}}
        </p>

        <strong>Codes Issued</strong>
        <p>
          This line tracks the total number of codes issued. Codes can be
          issued via the web interface or via the API. Both types of codes
          are included in this count.
        </p>

        <strong>Codes Claimed</strong>
        <p>
          This line tracks the total number of codes claimed. Codes can only
          be claimed by the end user using the API. Typically the iOS or
          Android application is responsible for claiming the code.
        </p>

        <strong>Invalid Codes</strong>
        <p>
          This line tracks the total number of codes that were rejected by the
          system. This includes codes that were incorrectly entered
          (typographical error) and codes that have expired.
        </p>


        <strong>Tokens Claimed</strong>
        <p>
          This line tracks the total number of users that successfully
          claimed a verification code and then consented to key release.
        </p>

        {{if .hasKeyServerStats}}
        <strong>Publish Requests</strong>
        <p>
          The number of users that followed the flow all the way through
          and successfully completed uploading of temporary exposure keys.
        </p>
        {{end}}

        <hr>

        <strong>Inferring this data</strong>
        <p><em>All statistics are captured on a best effort basis.</em></p>
        <ul>
          <li>
            <em>Issued codes</em> does not necessarily correspond to the number
            of patients notified. A single patient could be notified multiple
            times, while another patient could never receive their notification
            due to an SMS error.
          </li>
          <li>
            A large number of <em>invalid codes</em> likely corresponds to short
            codes expiring. You should increase the short code timeout or switch
            to long codes.
          </li>
          <li>
            The delta between <em>codes issued</em> and <em>codes claimed</em>
            can be used as a rudimentary measure of adoption.
          </li>
          <li>
            The delta between codes claimed and tokens claimed indicates users
            that enter a valid verification code but don't get through the consent
            to share data screen.
          </li>
          {{if .hasKeyServerStats}}
          <li>
            The delta between tokens claimed and publish requests indicates that
            a user got past the consent screen but keys were not uploaded. Note
            that an iOS device that has previously published based on a confirmed
            report and subsequently attempts a self-report will claim a token but
            fail to publish.
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="issue-claim-dist-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Time until code claimed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph reflects the distribution of time between issuance of a new code to
          the user claiming the code for a token.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="issue-claim-mean-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mean time until code claimed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This graph reflects the average time between issuance of a new code to
          the user claiming the code for a token.
        </p>
      </div>
    </div>
  </div>
</div>

{{end}}
