{{define "realmadmin/_stats_codes"}}

{{$realm := .currentMembership.Realm}}

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <span class="oi oi-bar-chart mr-2 ml-n1"></span>
    {{if $realm.AllowsUserReport}}Total codes{{else}}Codes{{end}} issued &amp; usage
  </div>
  <div id="dashboard_div">
    <div id="realm_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="filter_div" class="text-right" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-toggle="modal" data-target="#realm-codes-modal">Learn more about this chart</a>
    <span>
      <span class="mr-1">Export as:</span>
      {{if .hasKeyServerStats}}
      <a href="/stats/realm/composite.csv" class="mr-1">CSV</a>
      <a href="/stats/realm/composite.json" target="_blank">JSON</a>
      {{else}}
      <a href="/stats/realm.csv" class="mr-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
      {{end}}
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <span class="oi oi-bar-chart mr-2 ml-n1"></span>
    Invalid codes by OS
  </div>
  <div id="invalid_dashboard_div">
    <div id="invalid_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="invalid_filter_div" class="text-right" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-toggle="modal" data-target="#invalid-modal">Learn more about this chart</a>
    <span>
      <span class="mr-1">Export as:</span>
      {{if .hasKeyServerStats}}
      <a href="/stats/realm/composite.csv" class="mr-1">CSV</a>
      <a href="/stats/realm/composite.json" target="_blank">JSON</a>
      {{else}}
      <a href="/stats/realm.csv" class="mr-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
      {{end}}
    </span>
  </small>
</div>

{{if $realm.AllowsUserReport}}
<div class="card shadow-sm mb-3">
  <div class="card-header">
    <span class="oi oi-bar-chart mr-2 ml-n1"></span>
    User report codes &amp; usage
  </div>
  <div id="user_issued_dashboard_div">
    <div id="user_issued_realm_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="user_issued_realm_filter_div" class="text-right" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-toggle="modal" data-target="#realm-user-codes-modal">Learn more about this chart</a>
    <span>
      <a href="/stats/realm.csv" class="mr-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <span class="oi oi-bar-chart mr-2 ml-n1"></span>
    Manual / automated code issue &amp; user report
  </div>
  <div id="comparison_dashboard_div">
    <div id="comparison_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="comparison_filter_div" class="text-right" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-toggle="modal" data-target="#comparison-codes-modal">Learn more about this chart</a>
    <span>
      <a href="/stats/realm.csv" class="mr-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
    </span>
  </small>
</div>
{{end}}

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <span class="oi oi-bar-chart mr-2 ml-n1"></span>
    Time until code claimed <span class="sum-title">(7 day sum)</span>
  </div>
  <div id="issue_age_dist_chart_div" class="h-100 w-100" style="min-height:325px;">
    <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
  </div>
  <div class="slidecontainer pl-5 pr-5">
    <input type="range" class="slider w-100" id="issue_age_slider" list="issue_age_ticks">
    <datalist id="issue_age_ticks"></datalist>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-toggle="modal" data-target="#issue-claim-dist-modal">Learn more about this chart</a>
    <span>
      <span class="mr-1">Export as:</span>
      <a href="/stats/realm.csv" class="mr-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-header">
    <span class="oi oi-bar-chart mr-2 ml-n1"></span>
    Mean time until code claimed
  </div>
  <div id="mean_claim_age_div">
    <div id="mean_claim_age_chart_div" class="h-100 w-100" style="min-height:325px;">
      <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
    </div>
    <div id="mean_claim_age_filter_div" class="text-right" style="height: 75px;"></div>
  </div>
  <small class="card-footer d-flex justify-content-between text-muted">
    <a href="#" data-toggle="modal" data-target="#issue-claim-mean-modal">Learn more about this chart</a>
    <span>
      <span class="mr-1">Export as:</span>
      <a href="/stats/realm.csv" class="mr-1">CSV</a>
      <a href="/stats/realm.json" target="_blank">JSON</a>
    </span>
  </small>
</div>

<div class="modal fade" id="realm-user-codes-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">User report codes &amp; usage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-n3">
        <p>
          This graph reflects the total number of codes issued and used
          that are the result of a <strong>user initiated report</strong>
          for this realm, grouped by UTC day.
        </p>

        <strong>User Report Codes Issued</strong>
        <p>
          This line tracks the total number of codes issued by user report.
        </p>

        <strong>User Report Codes Claimed</strong>
        <p>
          This line tracks the total number of user report codes claimed.
          Codes can only be claimed by the end user using the API.
          Typically the iOS or  Android application is responsible for claiming the code.
        </p>

        <strong>User Report Tokens Claimed</strong>
        <p>
          This line tracks the total number of users who initiated a user report
          and then successfully
          claimed a verification code and then consented to key release.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="invalid-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invalid codes by OS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-n3">
        <p>
          This graph breaks down the number of invalid code claim attempts
          by operating system.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comparison-codes-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manual / automated code issue &amp; user report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-n3">
        <p>
          This graph reflects the total number of tokens claimed using stacked area.
          This can help you determine what the ratio between user reported uploads
          and uploads where your public health authority initiated the code.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="realm-codes-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Codes issued &amp; usage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-n3">
        <p>
          This graph reflects the total number of codes issued and usage
          of those codes for this realm, grouped by UTC day.
          {{if $realm.AllowsUserReport}}
          This includes both PHA (manual or automated) codes issued and
          user reported cases together in the same chart.
          {{end}}
        </p>

        <strong>Codes Issued</strong>
        <p>
          This line tracks the total number of codes issued. Codes can be
          issued via the web interface or via the API. Both types of codes
          are included in this count.
        </p>

        <strong>Codes Claimed</strong>
        <p>
          This line tracks the total number of codes claimed. Codes can only
          be claimed by the end user using the API. Typically the iOS or
          Android application is responsible for claiming the code.
        </p>

        <strong>Invalid Codes</strong>
        <p>
          This line tracks the total number of codes that were rejected by the
          system. This includes codes that were incorrectly entered
          (typographical error) and codes that have expired.
        </p>


        <strong>Tokens Claimed</strong>
        <p>
          This line tracks the total number of users that successfully
          claimed a verification code and then consented to key release.
        </p>

        {{if .hasKeyServerStats}}
        <strong>Publish Requests</strong>
        <p>
          The number of users that followed the flow all the way through
          and successfully completed uploading of temporary exposure keys.
        </p>
        {{end}}

        <hr>

        <strong>Inferring this data</strong>
        <p><em>All statistics are captured on a best effort basis.</em></p>
        <ul>
          <li>
            <em>Issued codes</em> does not necessarily correspond to the number
            of patients notified. A single patient could be notified multiple
            times, while another patient could never receive their notification
            due to an SMS error.
          </li>
          <li>
            A large number of <em>invalid codes</em> likely corresponds to short
            codes expiring. You should increase the short code timeout or switch
            to long codes.
          </li>
          <li>
            The delta between <em>codes issued</em> and <em>codes claimed</em>
            can be used as a rudimentary measure of adoption.
          </li>
          <li>
            The delta between codes claimed and tokens claimed indicates users
            that enter a valid verification code but don't get through the consent
            to share data screen.
          </li>
          {{if .hasKeyServerStats}}
          <li>
            The delta between tokens claimed and publish requests indicates that
            a user got past the consent screen but keys were not uploaded.
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="issue-claim-dist-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Time until code claimed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-n3">
        <p>
          This graph reflects the distribution of time between issuance of a new code to
          the user claiming the code for a token.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="issue-claim-mean-modal" data-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mean time until code claimed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-n3">
        <p>
          This graph reflects the average time between issuance of a new code to
          the user claiming the code for a token.
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.addEventListener('load', (event) => {
    let claimStats;
    let smoothing = 7;
    let $issueAgeSlider = $('#issue_age_slider');

    let $smoothDrop = $('#smooth-drop');
    $smoothDrop.on('change', (event) => {
      smoothing = $smoothDrop.val();
      let max = $issueAgeSlider.attr('max');
      let min = Math.min(smoothing, max);

      $issueAgeSlider.attr('min', min);
      $issueAgeSlider.val(max);
      $issueAgeSlider.trigger("input");
    });

    let chartData = [];
    $(() => redrawCharts(chartData, 300));

    google.charts.load('current', {
      packages: ['corechart', 'controls'],
      callback: drawRealmCharts,
    });

    function drawRealmCharts() {
      $.ajax({
        url: '/stats/realm/composite.json',
        dataType: 'json',
      })
      .done(function(data, status, xhr) {
        if (data.statistics) {
          $issueAgeSlider.attr('min', Math.min(smoothing, data.statistics.length));
          $issueAgeSlider.attr('max', data.statistics.length);
          $issueAgeSlider.val(data.statistics.length);
        }

        let $ageTicks = $("#issue_age_ticks");
        $ageTicks.empty();
        for (i = 0; i < data.statistics.length; i++) {
          let $opt = $('<option/>');
          $opt.val(i);
          $ageTicks.append($opt);
        }


        drawClaimChart(data);
        drawMeanClaimAgeChart(data);
        drawClaimAgeChart(data);
      }).fail(function(xhr, status, err) {
        flash.error('Failed to render realm stats: ' + err);
      });
    }

    function drawClaimChart(data) {
      charts = [
        {
          chartType: 'LineChart',
          chartDiv: 'realm_chart_div',
          dashboardDiv: 'dashboard_div',
          filterDiv: "filter_div",
          headerFunc: function(dataTable, hasKeyServerStats) {
            dataTable.addColumn('date', 'Date');
            dataTable.addColumn('number', 'Codes Issued');
            dataTable.addColumn('number', 'Codes Claimed');
            dataTable.addColumn('number', 'Invalid Codes');
            dataTable.addColumn('number', 'Tokens Claimed');
            if (hasKeyServerStats) {
              dataTable.addColumn('number', 'Publish Requests');
            }
          },
          rowFunc: function(dataTable, row, hasKeyServerStats) {
            if (hasKeyServerStats) {
              dataTable.addRow([utcDate(row.date), row.data.codes_issued, row.data.codes_claimed, row.data.codes_invalid, row.data.tokens_claimed, row.data.total_publish_requests]);
            } else {
              dataTable.addRow([utcDate(row.date), row.data.codes_issued, row.data.codes_claimed, row.data.codes_invalid, row.data.tokens_claimed]);
            }
          },
        },
        {
          chartType: 'LineChart',
          chartDiv: 'user_issued_realm_chart_div',
          dashboardDiv: 'user_issued_dashboard_div',
          filterDiv: "user_issued_realm_filter_div",
          headerFunc: function(dataTable, hasKeyServerStats) {
            dataTable.addColumn('date', 'Date');
            dataTable.addColumn('number', 'User Report Codes Issued');
            dataTable.addColumn('number', 'User Report Codes Claimed');
            dataTable.addColumn('number', 'User Report Tokens Claimed');
          },
          rowFunc: function(dataTable, row, hasKeyServerStats) {
            dataTable.addRow([utcDate(row.date), row.data.user_reports_issued, row.data.user_reports_claimed, row.data.user_report_tokens_claimed]);
          },
        },
        {
          chartType: 'AreaChart',
          chartDiv: 'comparison_chart_div',
          dashboardDiv: 'comparison_dashboard_div',
          filterDiv: "comparison_filter_div",
          headerFunc: function(dataTable, hasKeyServerStats) {
            dataTable.addColumn('date', 'Date');
            dataTable.addColumn('number', 'System Issued Tokens Claimed');
            dataTable.addColumn('number', 'User Report Tokens Claimed');
          },
          rowFunc: function(dataTable, row, hasKeyServerStats) {
            dataTable.addRow([utcDate(row.date), row.data.tokens_claimed-row.data.user_report_tokens_claimed, row.data.user_report_tokens_claimed]);
          },
        },
        {
          chartType: 'AreaChart',
          chartDiv: 'invalid_chart_div',
          dashboardDiv: 'invalid_dashboard_div',
          filterDiv: "invalid_filter_div",
          headerFunc: function(dataTable, hasKeyServerStats) {
            dataTable.addColumn('date', 'Date');
            dataTable.addColumn('number', 'Unknown');
            dataTable.addColumn('number', 'iOS');
            dataTable.addColumn('number', 'Android');
          },
          rowFunc: function(dataTable, row, hasKeyServerStats) {
            dataTable.addRow([utcDate(row.date), row.data.codes_invalid_by_os.unknown_os, row.data.codes_invalid_by_os.ios, row.data.codes_invalid_by_os.android]);
          },
        }
      ]

      if (!data.statistics) {
        for (i = 0; i < charts.length; i++) {
          $("#" + charts[i].chartDiv).find('p').text('No data yet.');
        }
        return;
      }

      for (i = 0; i < charts.length; i++) {
        let $realmChartDiv = $("#" + charts[i].chartDiv);

        let hasKeyServerStats = data.has_key_server_stats;
        let tenDaysAgo = new Date(data.statistics[data.statistics.length-10].date);

        let dataTable = new google.visualization.DataTable();
        charts[i].headerFunc(dataTable, hasKeyServerStats);

        data.statistics.reverse().forEach(function(row) {
          charts[i].rowFunc(dataTable, row, hasKeyServerStats)
        });

        let dateFormatter = new google.visualization.DateFormat({
          pattern: 'MMM dd',
        });
        dateFormatter.format(dataTable, 0);

        let dashboard = new google.visualization.Dashboard(document.getElementById(charts[i].dashboardDiv));

        let filter = new google.visualization.ControlWrapper({
          controlType: 'ChartRangeFilter',
          containerId: charts[i].filterDiv,
          state: {
            range: {
              start: tenDaysAgo,
            },
          },
          options: {
            filterColumnIndex: 0,
            series: {
              0: {
                opacity: 0,
              }
            },
            ui: {
              chartType: 'LineChart',
              chartOptions: {
                colors: ['#dddddd'],
                chartArea: {
                  width: '100%',
                  height: '100%',
                  top: 0,
                  right: 40,
                  bottom: 20,
                  left: 60,
                },
                isStacked: true,
                hAxis: { format: 'M/d' },
              },
              chartView: {
                columns: [0,1],
              },
              minRangeSize: 86400000, // ms for 1 day
            },
          },
        });

        let realmChart = new google.visualization.ChartWrapper({
          chartType: charts[i].chartType,
          containerId: charts[i].chartDiv,
          options: {
            colors: ['#007bff', '#28a745', '#dc3545', '#6c757d', '#ee8c00'],
            chartArea: {
              left: 60,
              right: 40,
              bottom: 5,
              top: 40,
              width: '100%',
              height: '300',
            },
            isStacked: true,
            hAxis: { textPosition: 'none' },
            legend: { position: 'top' },
            width: '100%',
          },
        });

        dashboard.bind(filter, realmChart);
        dashboard.draw(dataTable);
        chartData.push({
          chart: dashboard,
          data: dataTable,
        });
      }
    }

    function drawMeanClaimAgeChart(data) {
      let $realmChartDiv = $('#mean_claim_age_chart_div');

      if (!data.statistics) {
        $realmChartDiv.find('p').text('No data yet.');
        return;
      }

      let tenDaysAgo = new Date(data.statistics[data.statistics.length-10].date);

      let dataTable = new google.visualization.DataTable();
      dataTable.addColumn('date', 'Date');
      dataTable.addColumn('number', 'Mean code claim time');

      data.statistics.reverse().forEach(function(row) {
        // convert seconds to minutes
        dataTable.addRow([utcDate(row.date), row.data.code_claim_mean_age_seconds/60.0]);
      });

      let dateFormatter = new google.visualization.DateFormat({
        pattern: 'MMM dd',
      });
      dateFormatter.format(dataTable, 0);

      let dashboard = new google.visualization.Dashboard(document.getElementById('mean_claim_age_chart_div'));

      let filter = new google.visualization.ControlWrapper({
          controlType: 'ChartRangeFilter',
          containerId: 'mean_claim_age_filter_div',
          state: {
            range: {
              start: tenDaysAgo,
            },
          },
          options: {
            filterColumnIndex: 0,
            series: {
              0: {
                opacity: 0,
              }
            },
            ui: {
              chartType: 'LineChart',
              chartOptions: {
                colors: ['#dddddd'],
                chartArea: {
                  width: '100%',
                  height: '100%',
                  top: 0,
                  right: 40,
                  bottom: 20,
                  left: 60,
                },
                hAxis: { format: 'M/d' },
              },
              chartView: {
                columns: [0,1],
              },
              minRangeSize: 86400000, // ms for 1 day
            },
          },
        });

      let realmChart = new google.visualization.ChartWrapper({
        chartType: 'LineChart',
        containerId: 'mean_claim_age_chart_div',
        options: {
          colors: ['#007bff'],
          chartArea: {
            left: 60,
            right: 40,
            bottom: 5,
            top: 40,
            width: '100%',
            height: '300',
          },
          hAxis: { textPosition: 'none' },
          vAxis: { title: 'Minutes' },
          legend: { position: 'top' },
          width: '100%',
        },
      });

      dashboard.bind(filter, realmChart);
      dashboard.draw(dataTable);
      chartData.push({
        chart: dashboard,
        data: dataTable,
      });
    }

    let ageChart;
    let ageOptions;
    let ageData;
    let ageVMax = 1;
    function drawClaimAgeChart(data) {
      let $div = $('#issue_age_dist_chart_div');

      if (!data.statistics || !data.statistics[0].data.code_claim_age_distribution) {
        $div.find('p').text('No data yet.');
        return;
      }
      claimStats = data.statistics

      for (i = 0; i < claimStats.length - smoothing; i++) {
        getClaimAgeDataTable(i);
      }

      ageOptions = {
        colors: ['#316395'],
        chartArea: {
          left: 60,
          right: 40,
          bottom: 40,
          top: 40,
          width: '100%',
          height: '300',
        },
        legend: { position: 'none' },
        hAxis: {
          title: 'Time from issue to claim',
          gridlines: { color: 'transparent' },
          ticks: [{v:1, f:'<1m'}, {v:2, f:'5m'}, {v:3, f:'15m'}, {v:4, f:'30m'}, {v:5, f:'1h'},
            {v:6, f:'2h'}, {v:7, f:'3h'}, {v:8, f:'6h'}, {v:9, f:'12h'}, {v:10, f:'24h'}],
          showTextEvery: 1,
        },
        vAxis: {
          minValue: 0,
          maxValue: ageVMax,
        },
        titlePosition: "out",
        title: `${smoothing} days from ` + claimStats[0].date.split("T")[0],
        tooltip: {isHtml: true},
      };

      ageChart = new google.visualization.ColumnChart($div.get(0));
      ageData = getClaimAgeDataTable(0);
      ageChart.draw(ageData, ageOptions);
      chartData.push({
        chart: ageChart,
        data: ageData,
        options: ageOptions,
      });
    }

    let ageCache = new Map();
    function getClaimAgeDataTable(dateIndex) {
      let key = "s" + smoothing + "i" + dateIndex;
      if (ageCache.has(key)) {
        return ageCache.get(key);
      }

      let dataTable = new google.visualization.DataTable();
      dataTable.addColumn('number', 'days');
      dataTable.addColumn('number', 'count');
      dataTable.addColumn({type:'string', role:'style'})
      dataTable.addColumn({type:'string', role:'annotation'})
      dataTable.addColumn({type:'string', role:'tooltip', p: {html: true}})

      // sum over last ${smoothing} days
      let table = new Array(claimStats[dateIndex].data.code_claim_age_distribution.length).fill(0);
      let i;
      let total = 0;
      for (i = dateIndex; i < dateIndex + smoothing && i < claimStats.length; i++) {
        let row = claimStats[i].data;
        let j;
        for (j = 0; j < row.code_claim_age_distribution.length; j++) {
          let codes = parseInt(row.code_claim_age_distribution[j])
          table[j] += codes;
          total += codes;
        }
      }

      for (i = 0; i < table.length; i++) {
        if (table[i] > ageVMax) {
          ageVMax = table[i]
        }
        let r = [i+1, table[i],"","",""]
        if (i == 9) {
          r[2] = "#6c757d";
          r[3] = ">1 day";
        }

        r[4] =
          "<ul class='chart-tooltip'>"+
            "<li>Count: " + r[1] + "</li>" +
            "<li>Percent: " + (r[1] / total * 100).toPrecision(3) + "%</li></ul>";

        dataTable.addRow(r);
      }
      ageCache.set(key, dataTable);
      return dataTable;
    }

    $issueAgeSlider.on("input", function(event) {
      if (!claimStats) {
        return
      }
      let indx = claimStats.length - $issueAgeSlider.val();
      ageOptions.title = `${smoothing} days from ` + claimStats[indx].date.split("T")[0];
      ageOptions.animation = {
        startup: false,
        duration: 500,
        easing: 'inAndOut',
      };

      ageData = getClaimAgeDataTable(indx);
      ageChart.draw(ageData, ageOptions);
    });
  });
</script>

{{end}}
