{{define "realmadmin/edit"}}

{{$realm := .realm}}
{{$smsConfig := .smsConfig}}
{{$emailConfig := .emailConfig}}
{{$testTypes := .testTypes}}

{{$currentMembership := .currentMembership}}
{{$canWrite := $currentMembership.Can rbac.SettingsWrite}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Realm settings</h1>
    <p>
      Find or edit the settings for <strong>{{$realm.Name}}</strong> below.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          {{if not $realm.EnableENExpress}}
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="express-tab" data-toggle="tab" href="#express" role="tab" aria-controls="express" aria-selected="true">ENX</a>
            </li>
          {{end}}
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="codes-tab" data-toggle="tab" href="#codes" role="tab" aria-controls="codes" aria-selected="false">Codes</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="sms-tab" data-toggle="tab" href="#sms" role="tab" aria-controls="sms" aria-selected="false">SMS</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">Email</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab" aria-controls="security" aria-selected="false">Security</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="abuse-prevention-tab" data-toggle="tab" href="#abuse-prevention" role="tab" aria-controls="abuse-prevention" aria-selected="false">Abuse prevention</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        {{template "errorSummary" $realm}}
        {{template "errorSummary" $smsConfig}}
        {{template "errorSummary" $emailConfig}}

        <div class="tab-content">
          {{if not $realm.EnableENExpress}}
          <div class="tab-pane" id="express" role="tabpanel" aria-labelledby="express-tab">
            {{template "realmadmin/_form_express" .}}
          </div>
          {{end}}
          <div class="tab-pane active" id="general" role="tabpanel" aria-labelledby="general-tab">
            {{template "realmadmin/_form_general" .}}
          </div>
          <div class="tab-pane" id="codes" role="tabpanel" aria-labelledby="codes-tab">
            {{template "realmadmin/_form_codes" .}}
          </div>
          <div class="tab-pane" id="sms" role="tabpanel" aria-labelledby="sms-tab">
            {{template "realmadmin/_form_sms" .}}
          </div>
          <div class="tab-pane" id="email" role="tabpanel" aria-labelledby="email-tab">
            {{template "realmadmin/_form_email" .}}
          </div>
          <div class="tab-pane" id="security" role="tabpanel" aria-labelledby="security-tab">
            {{template "realmadmin/_form_security" .}}
          </div>
          <div class="tab-pane" id="abuse-prevention" role="tabpanel" aria-labelledby="abuse-prevention-tab">
            {{template "realmadmin/_form_abuse_prevention" .}}
          </div>
        </div>
      </div>
    </div>

    {{if $realm.EnableENExpress}}
      <p class="text-center">
        <a href="#advanced-settings" class="text-muted small" data-toggle="collapse">
          Advanced settings
        </a>
      </p>

      <div id="advanced-settings" class="card mb-3 shadow-sm collapse">
        <div class="card-header">
          Advanced settings
        </div>
        <div class="card-body">
          {{template "realmadmin/_form_express" .}}
        </div>
      </div>
    {{end}}
  </main>

  <script defer type="text/javascript">
    window.addEventListener('load', (event) => {
      {{if not $canWrite}}
        {{/*

          This is a little bit hacky, since technically the user could disable
          javascript, but we do server-side validation to prevent actual data
          mutation without permission.

          We specifically do this before changing tabs to reduce the FOUT.

        */}}
        $('body').find('input, button, select, textarea, a.btn')
          .addClass('disabled')
          .addClass('readonly')
          .prop('disabled', true)
          .prop('readonly', true);
      {{end}}

      changeTab(window.location.hash);

      $('.nav-tabs a').on('click', function(event) {
        changeTab(this.hash);
      });

      function changeTab(hash) {
        $(`ul.nav a[href="${hash}"]`).tab('show');
        let mem = $('body').scrollTop() || $('html').scrollTop();
        window.location.hash = hash;
        $('html,body').scrollTop(mem);
      }
    });
  </script>
</body>
</html>
{{end}}
