{{define "systemkeys"}}
{{/* This is only shown if the realm is NOT set to use per-realm signing keys */}}
<div class="card mb-3 shadow-sm">
  <div class="card-header">
    <i class="bi bi-file-earmark-lock2 me-2"></i>
    System verification certificate
  </div>

  <div class="card-body">
    <p>
      Share this information with your <em>key server</em> operator so they can
      add your certificate to the trust store.
    </p>

    <div class="row g-3">
      <div class="col-lg-12">
        <div class="form-label-group">
          <div class="input-group">
            <input type="text" id="systemiss" class="form-control font-monospace"
              placeholder="Issuer (iss)" value="{{.systemCertIssuer}}" readonly />
            <label for="systemiss">Issuer (iss)</label>
            {{template "clippy" "systemiss"}}
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-label-group">
          <div class="input-group">
            <input type="text" id="systemaud" class="form-control font-monospace"
              placeholder="Audience (aud)" value="{{.systemCertAudience}}" readonly />
            <label for="systemaud">Audience (aud)</label>
            {{template "clippy" "systemaud"}}
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-label-group">
          <div class="input-group">
            <input type="text" id="certDuration" class="form-control font-monospace"
              placeholder="Certificate duration" value="{{.systemCertDuration}}" readonly />
            <label for="certDuration">Certificate duration</label>
            {{template "clippy" "certDuration"}}
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-label-group">
          <div class="input-group">
            <input type="text" id="systemCertKeyID" class="form-control font-monospace"
              placeholder="Key ID (kid)" value="{{.systemCertKeyID}}" readonly />
            <label for="systemCertKeyID">Key ID (kid)</label>
            {{template "clippy" "systemCertKeyID"}}
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-label-group">
          <div class="input-group">
            <textarea class="form-control form-control-sm font-monospace{{if .systemCertPublicKeyError}} is-invalid{{end}}" rows="4" id="systemPublicKey" readonly>{{.systemCertPublicKey | trimSpace}}</textarea>
            <label for="systemPublicKey">Public key</label>
            {{template "clippy" "systemPublicKey"}}
            {{if .systemCertPublicKeyError}}
            <div class="invalid-feedback">
              {{.systemCertPublicKeyError}}
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}



{{define "realmadmin/keys"}}

{{$realm := .realm}}
{{$publicKeys := .publicKeys}}
{{$csrfField := .csrfField}}

{{$currentMembership := .currentMembership}}
{{$canWrite := $currentMembership.Can rbac.SettingsWrite}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body id="keys" class="tab-content {{if not $canWrite}}disabled-controls{{end}}">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    {{template "errorSummary" $realm}}

    {{if not $realm.UseRealmCertificateKey}}
      {{template "systemkeys" .}}
    {{end}}

    {{if .supportsPerRealmSigning}}
      <div class="card mb-3 shadow-sm">
        <div class="card-header">
          <i class="bi bi-key me-2"></i>
          Realm signing key configuration
        </div>

        <form method="POST" action="/realm/keys/save">
          {{ .csrfField }}

          <div class="card-body">
            {{if not $realm.UseRealmCertificateKey}}
              {{if and $realm.CanUpgradeToRealmSigningKeys .activePublicKey}}
                <div class="alert alert-info">
                  <p>
                    {{$realm.Name}} currently uses a globally shared signing key
                    with all other realms. Migrating to a realm-specific signing
                    keys gives you more control over your keys and their rotation.
                  </p>
                  <p class="mb-0">
                    You <strong>must</strong> work with your key server
                    administrator to register these new realm-specific signing
                    keys. Then you can
                    <a href="/realm/keys/upgrade" data-method="POST"
                      data-confirm="Are you sure you want to upgrade to realm specific signing keys? This action can not be reversed.">
                      update to realm-specific signing keys
                    </a>.
                  </p>
                </div>
              {{else}}
                <div class="alert alert-info" role="alert">
                  To migrate to realm-specific signing keys, first configure your realm's issuer and audience settings below.
                </div>
              {{end}}
            {{end}}

            <div class="row g-3">
              <div class="col-lg-12">
                <div class="form-label-group">
                  <div class="input-group">
                    <input type="text" name="certificateIssuer" id="certificateIssuer" class="form-control font-monospace{{if $realm.ErrorsFor "certificateIssuer"}} is-invalid{{end}}"
                      placeholder="Issuer (iss)" value="{{$realm.CertificateIssuer}}" {{readonlyIf $realm.UseRealmCertificateKey}} />
                    <label for="certificateIssuer">Issuer (iss)</label>
                    {{template "clippy" "certificateIssuer"}}
                    {{template "errorable" $realm.ErrorsFor "certificateIssuer"}}
                  </div>
                  <small class="form-text text-muted">
                    This value is specific to your health authority. This field
                    cannot be modified after upgrading to use realm specific keys.
                  </small>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-label-group">
                  <div class="input-group">
                    <input type="text" name="certificateAudience" id="certificateAudience" class="form-control font-monospace{{if $realm.ErrorsFor "certificateAudience"}} is-invalid{{end}}"
                      placeholder="Audience (aud)" value="{{$realm.CertificateAudience}}" {{readonlyIf $realm.UseRealmCertificateKey}} />
                    <label for="certificateAudience">Audience (aud)</label>
                    {{template "clippy" "certificateAudience"}}
                    {{template "errorable" $realm.ErrorsFor "certificateAudience"}}
                  </div>
                  <small class="form-text text-muted">
                    The audience (<tt>aud</tt>) value is provided by your key server
                    operator. This field cannot be modified after upgrading to use
                    realm specific keys.
                  </small>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-label-group">
                  <div class="input-group">
                    <input type="text" name="certificateDuration" id="certificateDuration" class="form-control font-monospace{{if $realm.ErrorsFor "certificateDuration"}} is-invalid{{end}}"
                      placeholder="Certificate duration" value="{{$realm.CertificateDuration.Duration}}" />
                    <label for="certificateDuration">Certificate duration</label>
                    {{template "errorable" $realm.ErrorsFor "certificateDuration"}}
                  </div>
                  <small class="form-text text-muted">
                    This is the amount of time a certificate is valid after issuing.
                    It should be relatively low, like 15 minutes.
                  </small>
                </div>
              </div>

              {{if $realm.UseRealmCertificateKey}}
                <div class="col-lg-12">
                  <div class="form-label-group">
                    <div class="input-group">
                      <input type="text" id="certKeyID" class="form-control"
                        placeholder="Key ID (kid)" value="{{.activeRealmKey}}" readonly />
                      <label for="certKeyID" class="col-sm-3">Key ID (kid)</label>
                      {{template "clippy" "certKeyID"}}
                    </div>
                    <small class="form-text text-muted">
                      This is the Key ID (kid) of the currently active key.
                    </small>
                  </div>

                  <div class="form-label-group">
                    <div class="input-group">
                      <textarea class="form-control form-control-sm" rows="4" id="activePublicKey" placeholder="Public key" readonly>{{if .activePublicKey}}{{.activePublicKey | trimSpace}}{{else}}Temporarily unable to show public key{{end}}</textarea>
                      <label for="activePublicKey">Public key</label>
                      {{template "clippy" "activePublicKey"}}
                    </div>
                    <small class="form-text text-muted">
                      This is the currently active public key.
                    </small>
                  </div>
                </div>
              {{end}}
            </div>
          </div>

          <div class="card-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
            <div class="d-grid d-lg-inline">
              <button type="submit" class="btn btn-primary">
                Save realm certificate settings
              </button>
            </div>
            <div class="text-center text-lg-start mt-3 mt-lg-0">
              <a href="/jwks/{{$realm.ID}}" target="_blank" class="small text-secondary">
                View public key discovery
                <i class="bi bi-arrow-up-right-square ms-1"></i>
              </a>
            </div>
          </div>
        </form>
      </div>

      <div class="card mb-3 shadow-sm">
        <div class="card-header">
          <i class="bi bi-house-door me-2"></i>
          Realm public keys
        </div>
        <div class="card-body">
          {{if $realm.AutoRotateCertificateKey}}
            <div class="alert alert-warning">
              <p>This realm is automatically rotating verification certificate signing keys. If
                desired, you can
                <a href="/realm/keys/manual" data-method="POST"
                  data-confirm="Are you sure you want revert to manual key rotation?">revert to manual key rotation.</a>
              </p>
            </div>
          {{else}}
            <div class="alert alert-info">
              <p><strong>Enable automatic key rotation</strong>.
              It is possible to have the system automatically rotate your verification certificate signing key.
              This is highly recommended, but requires that your key server is configured using the JWKS public key
              discover doc.
              <a href="/realm/keys/automatic" data-method="POST"
                data-confirm="Are you sure you want to enable automatic key rotation?

Have you had your key server operator configure public key import through the JWKS public key discovery document?

Failure to do so in advance will prevent your application users from sharing temporary exposure keys.">
                Enable automatic verification certificate key rotation.</a>
              </p>
            </div>

            <p>To manual rotate your verification certificate signing key:</p>
            <ol class="mb-3">
              <li class="mb-1">Create a new key by clicking the button below.</li>
              <li class="mb-1">Communicate that key version and public key to your <em>key server</em> operator.</li>
              <li class="mb-1">Activate the new key in this system.</li>
            </ol>

            {{if ge (len .realmKeys) .maximumKeyVersions }}
              <div class="alert alert-warning">
                There is a limit of {{.maximumKeyVersions}} key versions. Destroy an existing key version to create another.
              </div>
            {{else}}
              <a href="/realm/keys/create" data-method="POST" class="btn btn-primary">
                Create new signing key version
              </a>
            {{end}}
          {{end}}

          {{if .realmKeys}}
            <hr />

            <div class="table-responsive">
              <table class="table table-bordered table-striped table-fixed mb-0">
                <thead>
                  <tr>
                    <th scope="col" width="75">Key ID</th>
                    <th scope="col">Public key</th>
                  </tr>
                </thead>
                <tbody>
                  {{$csrfField := .csrfField}}
                  {{$publicKeys := .publicKeys}}
                  {{range $rk := .realmKeys}}
                  <tr>
                    <td>
                      <a href="/jwks/{{$rk.RealmID}}" class="font-monospace">{{$rk.GetKID}}</a>
                      {{if $rk.Active}}<span class="badge bg-success">Active</span>{{end}}
                    </td>
                    <td>
                      <div class="input-group">
                        <textarea class="form-control form-control-sm font-monospace" rows="4" id="{{$rk.GetKID}}" readonly>{{index $publicKeys $rk.GetKID | trimSpace}}</textarea>
                        {{template "clippy" $rk.GetKID}}
                      </div>

                      <p class="mt-3">Backed by:</p>
                      <div class="input-group">
                        <input type="text" id="key-{{$rk.ID}}" class="form-control font-monospace" value="{{$rk.KeyID}}" readonly/>
                        {{template "clippy" (printf "key-%d" $rk.ID)}}
                      </div>
                      <small class="form-text text-muted">
                        Your server operator may ask for this.
                      </small>

                      {{if not $realm.AutoRotateCertificateKey}}
                      {{if not $rk.Active}}
                      <div class="row mt-3 align-items-end h-100">
                        <div class="col">
                          <a href="/realm/keys/{{$rk.ID}}"
                            class="text-danger"
                            data-method="DELETE"
                            data-confirm="Are you sure you want to destroy this key? This action is irreversible!"
                            data-bs-toggle="tooltip"
                            title="Destroy this key version">
                            <i class="bi bi-trash"></i>
                          </a>
                        </div>

                        <div class="col">
                          <form method="POST" action="/realm/keys/activate">
                            {{ $csrfField }}
                            <input type="hidden" name="id" value="{{$rk.ID}}" />
                            <a href="#" class="btn btn-primary float-end" data-confirm="Have you already shared the new certificate key version and public key with your 'key server' operator?" data-submit-form>
                              Activate
                            </a>
                          </form>
                        </div>
                      </div>
                      {{end}}
                      {{end}}
                    </td>
                  </tr>
                {{end}}
                </tbody>
              </table>
            </div>
          {{end}}
        </div>
      </div>
    {{else}}
      <p class="small font-italic text-secondary text-center">
        This server does not support per-realm signing keys - contact the server
        operator for more information.
      </p>
    {{end}}
  </main>
</body>
</html>
{{end}}
