{{define "realmadmin/smskeys"}}

{{$realm := .realm}}
{{$publicKeys := .publicKeys}}
{{$csrfField := .csrfField}}

{{$currentMembership := .currentMembership}}
{{$canWrite := $currentMembership.Can rbac.SettingsWrite}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Authenticated SMS</h1>
    <p>
      View or edit the Authenticated SMS settings and signing keys for
      <strong>{{$realm.Name}}</strong> below.
    </p>

    {{template "errorSummary" $realm}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        {{if $realm.UseAuthenticatedSMS}}
          <span class="oi oi-lock-locked mr-2 ml-n1"></span>
        {{else}}
          <span class="oi oi-lock-unlocked mr-2 ml-n1"></span>
        {{end}}
        Status
      </div>
      {{if .activeRealmKey}}
        {{if not $realm.UseAuthenticatedSMS}}
          <div class="card-body">
            <p>
              <strong>Warning!</strong> Do not enable this unless you are working
              with Apple and Google to enable this feature.
            </p>

            <p>
              Enabling this feature will increase the length of your SMS
              messages such that they are split across multiple messages,
              <strong>which will increase costs</strong>.
            </p>

            <a href="/realm/sms-keys/enable"
              data-method="PUT" data-confirm="Are you sure you want enable Authenticated SMS?"
              class="btn btn-block btn-success">
              Enable Authenticated SMS
            </a>
          </div>
        {{else}}
          <div class="card-body">
            <div class="form-label-group">
              <div class="input-group">
                <input type="text" id="certKeyID" class="form-control"
                  placeholder="Key ID (kid)" value="{{.activeRealmKey}}" readonly />
                <label for="certKeyID" class="col-sm-3">Key ID (kid)</label>
                {{template "clippy" "certKeyID"}}
              </div>
              <small class="form-text text-muted">
                This is the Key ID (kid) of the currently active key.
              </small>
            </div>

            <div class="form-label-group mb-0">
              <div class="input-group">
                <textarea class="form-control form-control-sm" rows="4" id="activePublicKey" placeholder="Public key" readonly>{{if .activePublicKey}}{{.activePublicKey | trimSpace}}{{else}}Temporarily unable to show public key{{end}}</textarea>
                <label for="activePublicKey">Public key</label>
                {{template "clippy" "activePublicKey"}}
              </div>
              <small class="form-text text-muted">
                This is the currently active public key.
              </small>
            </div>
          </div>

          <small class="card-footer d-flex justify-content-end text-muted">
            <a href="/realm/sms-keys/disable"
              data-method="PUT" data-confirm="Are you sure you want disable Authenticated SMS?"
              class="text-muted">
              Disable Authenticated SMS
            </a>
          </small>
        {{end}}
      {{else}}
        <div class="card-body">
          <div class="alert alert-warning" role="alert">
            There are no SMS signing keys active for this realm.
          </div>
        </div>
      {{end}}
    </div>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <span class="oi oi-key mr-2 ml-n1"></span>
        Signing keys
      </div>
      <div class="card-body">
          <p>To manual rotate your Authenticated SMS signing key:</p>
          <ol class="mb-3">
            <li class="mb-1">Create a new key by clicking the button below</li>
            <li class="mb-1">Communicate that key version and public key to Google and Apple</li>
            <li class="mb-1">Wait for confirmation from Google AND Apple that the new key is live</li>
            <li class="mb-1">Activate the new key in this system</li>
            <li class="mb-1">Wait at least 48 hours post activation to delete old keys</li>
          </ol>

          {{if ge (len .realmKeys) .maximumKeyVersions }}
            <div class="alert alert-warning">
              There is a limit of {{.maximumKeyVersions}} key versions. Destroy an existing key version to create another.
            </div>
          {{else}}
            <a href="/realm/sms-keys" data-method="POST" class="btn btn-primary btn-block">
              Create new signing key version
            </a>
          {{end}}

        {{if .realmKeys}}
          <hr />

          <div class="table-responsive">
            <table class="table table-bordered table-striped table-fixed mb-0">
              <thead>
                <tr>
                  <th scope="col" width="75">Key ID</th>
                  <th scope="col">Public key</th>
                </tr>
              </thead>
              <tbody>
                {{$csrfField := .csrfField}}
                {{$publicKeys := .publicKeys}}
                {{range $rk := .realmKeys}}
                <tr>
                  <td>
                    {{$rk.GetKID}}
                    {{if $rk.Active}}<span class="badge badge-success">Active</span>{{end}}
                  </td>
                  <td>
                    <div class="input-group">
                      <textarea class="form-control form-control-sm text-monospace" rows="4" id="{{$rk.GetKID}}" readonly>{{index $publicKeys $rk.GetKID | trimSpace}}</textarea>
                      {{template "clippy" $rk.GetKID}}
                    </div>

                    <p class="mt-3">Backed by:</p>
                    <div class="input-group">
                      <input type="text" id="key-{{$rk.ID}}" class="form-control text-monospace" value="{{$rk.KeyID}}" readonly/>
                      {{template "clippy" (printf "key-%d" $rk.ID)}}
                    </div>
                    <small class="form-text text-muted">
                      Your server operator may ask for this.
                    </small>

                    {{if not $rk.Active}}
                    <div class="row mt-3 align-items-end h-100">
                      <div class="col">
                        <a href="/realm/sms-keys/{{$rk.ID}}"
                          class="text-danger"
                          data-method="DELETE"
                          data-confirm="Are you sure you want to destroy this key? This action is irreversible!"
                          data-toggle="tooltip"
                          title="Destroy this key version">
                          <span class="oi oi-trash" aria-hidden="true"></span>
                        </a>
                      </div>

                      <div class="col">
                        <form method="POST" action="/realm/sms-keys/activate">
                          {{ $csrfField }}
                          <input type="hidden" name="id" value="{{$rk.ID}}" />
                          <a href="#" class="btn btn-primary float-right" data-confirm="Have you already shared this new version and public key with Apple and Google?" data-submit-form>
                            Activate
                          </a>
                        </form>
                      </div>
                    </div>
                    {{end}}
                  </td>
                </tr>
              {{end}}
              </tbody>
            </table>
          </div>
        {{end}}
      </div>
    </div>
  </main>

  <script defer type="text/javascript">
    window.addEventListener('load', (event) => {
      {{if not $canWrite}}
        {{/*

          This is a little bit hacky, since technically the user could disable
          javascript, but we do server-side validation to prevent actual data
          mutation without permission.

        */}}
        document.querySelectorAll('input, button, select, textarea, a.btn').forEach((element) => {
          element.classList.add('disabled');
          element.classList.add('readonly');
          element.disabled = true;
          element.readonly = true;
        });
      {{end}}
    });
  </script>
</body>
</html>
{{end}}
