{{define "realmadmin/stats"}}

{{$currentMembership := .currentMembership}}
{{$realm := $currentMembership.Realm}}
{{$hasSMSConfig := .hasSMSConfig}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
  <script defer src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body id="realmadmin-stats" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="row mb-3">
      <div class="col-lg-3 offset-lg-9">
        <div class="form-floating">
          <select name="smooth-drop" id="smooth-drop" class="form-select w-100"
            data-bs-toggle="tooltip" title="Distribution graphs will be aggregated as the sum of this many days.">
            <option value="1">1 day</option>
            <option value="7" selected>1 week</option>
            <option value="14">2 weeks</option>
            <option value="28">4 weeks</option>
          </select>
          <label for="smooth-drop">Distribution smoothing</label>
        </div>
      </div>
    </div>

    {{template "realmadmin/_stats_codes" .}}

    {{if $hasSMSConfig}}
      {{template "realmadmin/_stats_sms_errors" .}}
    {{end}}

    <div class="row">
      <div class="col-lg-6 pe-lg-2">
        {{template "realmadmin/_stats_users" .}}
      </div>

      <div class="col-lg-6 ps-lg-2">
        {{template "realmadmin/_stats_external_issuers" .}}
      </div>
    </div>

    {{if .hasKeyServerStats}}
      <hr class="mb-5" />
      {{template "realmadmin/_stats_keyserver" .}}
    {{end}}
  </main>

  <script type="text/javascript">
    window.addEventListener('load', (event) => {
      let $smoothDrop = $('#smooth-drop');
      $smoothDrop.on("change", function(event) {
        smoothing = $smoothDrop.val();
        $('.sum-title').text(`(${smoothing} day sum)`)
      });
    });
  </script>
</body>
</html>
{{end}}
