{{define "apikeys"}}
<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    <h2>Create API Key</h2>

    <form method="POST" action="/apikeys/create">
      {{ .csrfField }}
      <div class="form-group row">
        <label for="name" class="col-sm-3">App name</label>
        <div class="col-sm-9">
          <input type="text" id="name" name="name" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="type" class="col-sm-3">API Key Type:</label>
        <div class="col-sm-9">
          <select class="form-control" name="type" id="type">
            <option value="{{.typeDevice}}">Device Access [Verify Codes]</option>
            <option value="{{.typeAdmin}}">Admin Access [Issue Codes]</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" class="btn btn-primary" name="Action" value="save">Create API Key</button>
        </div>
      </div>
    </form>

    <h2>All API Keys</h2>

    {{if .apps}}
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">App</th>
            <th scope="col">API Key</th>
            <th scope="col">Access Type</th>
            <th scope="col">Enabled</th>
          </tr>
        </thead>
        <tbody>
        {{range .apps}}
          <tr>
            <td scope="row">{{.Name}}</td>
            <td><code>{{.APIKey}}</code></td>
            <td>{{if .IsAdminType}}<span class="badge badge-pill badge-primary" data-toggle="tooltip" data-placement="top" title="Can be used to issue verification codes">Admin</span>{{end}}
                {{if .IsDeviceType}}<span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="For use in mobile apps to verify codes and get certificates">Device</span>{{end}}
            </td>
            <td>{{if .DeletedAt}}<span class="badge badge-pill badge-danger">revoked</span>
                {{else}}<span class="badge badge-pill badge-success">enabled</span>{{end}}
            </td>
          </tr>
        {{end}}
        </tbody>
      </table>
    </div>
    {{else}}
    <p>There are no API keys. Create one above.</p>
    {{end}}
  </main>

  {{template "scripts" .}}
</body>
</html>
{{end}}
