{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
  integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous">

<title>{{if .title}}{{.title}}{{else}}Diagnosis Verification Server{{end}}</title>

<style type="text/css">
  nav.navbar {
    margin-bottom: 40px;
  }

  div.realm-header {
    background-color: #0055b1;
  }
</style>
{{end}}

{{define "navbar"}}
<header>
  {{if .currentRealm}}
  <div href="/" class="d-block px-3 py-2 text-center text-bold text-white realm-header">
    {{.currentRealm.Name}}{{if .currentRealm.RegionCode}} - {{.currentRealm.RegionCode}}{{end}}
  </div>
  {{end}}

  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        {{if .currentUser}}
        <ul class="navbar-nav mr-auto">
          {{if .currentRealm}}
          <li class="nav-item">
            <a class="nav-link" href="/home">Issue code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/code/status">Code status</a>
          </li>
          {{if .currentUser.CanAdminRealm .currentRealm.ID}}
          <li class="nav-item">
            <a class="nav-link" href="/apikeys">API keys</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/realm/settings">Settings</a>
          </li>
          {{end}}
          {{end}}
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{.currentUser.Name}}
            </a>

            <div class="dropdown-menu" aria-labelledby="profile-menu">
              <h6 class="dropdown-header">Actions</h6>
              {{if gt (len .currentUser.Realms) 1}}
              <a class="dropdown-item" href="/realm">Change realm</a>
              {{end}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signout">Sign out</a>
            </div>
          </li>
        </ul>
        {{else}}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Sign in</a>
          </li>
        </ul>
        {{end}}
      </div>
    </div>
  </nav>
</header>
{{end}}

{{define "flash"}}
{{range $msg := .flash.Errors}}
<div class="alert alert-danger" role="alert">
  {{$msg}}
</div>
{{end}}
{{range $msg := .flash.Warnings}}
<div class="alert alert-warning" role="alert">
  {{$msg}}
</div>
{{end}}
{{range $msg := .flash.Alerts}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{$msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{end}}
{{end}}

{{define "scripts"}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script type="text/javascript">
  $(function () {
    // Add data-toogle="tooltop" to toggle tooltips!
    $('[data-toggle="tooltip"]').tooltip();

    // Add data-submit-form properties to a link to have it act as a submit
    // button. You can also add a data-confirm attribute with a confirmation
    // prompt.
    $('a[data-submit-form]').click(function (e) {
      e.preventDefault();

      let $this = $(e.currentTarget);
      let confirm = $this.data('confirm');
      if (typeof (confirm) !== 'undefined') {
        if (window.confirm(confirm) !== true) {
          return;
        }
      }

      $this.closest('form').submit();
    });

    // Add data-method to a link and make the resulting href submit as that
    // method. You can also add a data-confirm attribute with a confirmation
    // prompt.
    $('a[data-method]').click(function (e) {
      e.preventDefault();

      let $this = $(e.currentTarget);
      let confirm = $this.data('confirm');

      if (typeof (confirm) !== 'undefined') {
        if (window.confirm(confirm) !== true) {
          return;
        }
      }

      let $csrfField = $('{{.csrfField}}');

      let $inputField = $('<input>')
        .attr('type', 'hidden')
        .attr('name', '_method')
        .attr('value', $this.data('method'));

      let $form = $('<form>')
        .attr('method', 'POST')
        .attr('action', $this.attr('href'));

      $form.append($csrfField);
      $form.append($inputField);

      $form.appendTo('body').submit();
    })

    // Add data-toggle-password to an element with the value pointing to the id
    // of an input[type="password"]. It will toggle/untoggle the value.
    $('a[data-toggle-password]').click(function (e) {
      e.preventDefault();

      let $this = $(e.currentTarget);
      let selector = $this.data('togglePassword');
      let $input = $('#' + selector);
      let $icon = $this.find('span.oi');

      if ($input.attr('type') == 'password') {
        $input.attr('type', 'text');
        $icon.addClass('oi-lock-unlocked');
        $icon.removeClass('oi-lock-locked');
      } else if ($input.attr('type') == 'text') {
        $input.attr('type', 'password');
        $icon.addClass('oi-lock-locked');
        $icon.removeClass('oi-lock-unlocked');
      }
    });

    $('a[data-fill-target]').click(function (e) {
      e.preventDefault();

      let $this = $(e.currentTarget);
      let selector = $this.data('fillTarget');
      let value = $this.data('fillValue');
      let $target = $('#' + selector);

      console.log($target);
      console.log(value);

      $target.val(value);
    })
  });
</script>
{{end}}
