{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous">

<title>{{if .title}}{{.title}}{{else}}Diagnosis Verification Server{{end}}</title>

<style type="text/css">
  nav.navbar {
    margin-bottom: 40px;
  }
</style>
{{end}}

{{define "navbar"}}
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">{{if .currentRealm}}{{.currentRealm.Name}}{{else}}V{{end}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        {{if .currentUser}}
          <ul class="navbar-nav mr-auto">
            {{if .currentUser.MultipleRealms}}
            <li class="nav-item">
              <a class="nav-link" href="/realm">Select realm</a>
            </li>
            {{end}}
            {{if .currentRealm}}
              <li class="nav-item">
                <a class="nav-link" href="/home">Issue codes</a>
              </li>
              {{if .currentUser.CanAdminRealm .currentRealm.ID}}
                <li class="nav-item">
                  <a class="nav-link" href="/apikeys">API keys</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/realm/settings">Settings</a>
                </li>
              {{end}}
            {{end}}
          </ul>
          <span class="navbar-text">
            {{.currentUser.Name}} | <a href="/signout">Sign out</a>
          </span>
        {{else}}
          <ul class="navbar-nav mr-auto"></ul>
          <span class="navbar-text">
            <a href="/">Sign in</a>
          </span>
        {{end}}
      </div>
    </div>
  </nav>
</header>
{{end}}

{{define "flash"}}
  {{range $msg := .flash.Errors}}
  <div class="alert alert-danger" role="alert">
    {{$msg}}
  </div>
  {{end}}
  {{range $msg := .flash.Warnings}}
  <div class="alert alert-warning" role="alert">
    {{$msg}}
  </div>
  {{end}}
  {{range $msg := .flash.Alerts}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{$msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{end}}
{{end}}

{{define "scripts"}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script type="text/javascript">
  $(function() {
    // Add data-submit-form properties to a link to have it act as a submit
    // button. You can also add a data-confirm attribute with a confirmation
    // prompt.
    $('a[data-submit-form]').click(function(e) {
      e.preventDefault();

      let $this = $(e.currentTarget);
      let confirm = $this.data('confirm');
      if(typeof(confirm) !== 'undefined') {
        if (window.confirm(confirm) !== true) {
          return;
        }
      }

      $this.closest('form').submit();
    });

    // Add data-method to a link and make the resulting href submit as that
    // method. You can also add a data-confirm attribute with a confirmation
    // prompt.
    $('a[data-method]').click(function(e) {
      e.preventDefault();

      let $this = $(e.currentTarget);
      let confirm = $this.data('confirm');

      if(typeof(confirm) !== 'undefined') {
        if (window.confirm(confirm) !== true) {
          return;
        }
      }

      let $csrfField = $('{{.csrfField}}');

      let $inputField = $('<input>')
        .attr('type', 'hidden')
        .attr('name', '_method')
        .attr('value', $this.data('method'));

      let $form = $('<form>')
        .attr('method', 'POST')
        .attr('action', $this.attr('href'));

      $form.append($csrfField);
      $form.append($inputField);

      console.log($form);
      console.log($inputField);
      console.log($csrfField);

      $form.appendTo('body').submit();
    })

    // Add data-toggle-password to an element with the value pointing to the id
    // of an input[type="password"]. It will toggle/untoggle the value.
    $('a[data-toggle-password]').click(function(e) {
      e.preventDefault();

      let $this = $(e.currentTarget);
      let selector = $this.data('togglePassword');
      let $input = $('#'+selector);
      let $icon = $this.find('span.oi');

      if($input.attr('type') == 'password') {
        $input.attr('type', 'text');
        $icon.addClass('oi-lock-unlocked');
        $icon.removeClass('oi-lock-locked');
      } else if($input.attr('type') == 'text') {
        $input.attr('type', 'password');
        $icon.addClass('oi-lock-locked');
        $icon.removeClass('oi-lock-unlocked');
      }
    });
  });
</script>
{{end}}
