{{define "home"}}
<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    <div class="row">
      <h1>Issue Diagnosis Verification Code</h1>
      <p>
        Complete the following form to issue a single-use token to verify a
        patient. <strong>Do not submit this form until you are prepared to relay
        the code to the patient.</strong>
      </p>
    </div>

    <form id="issueForm" action="#">
      <div class="form-group row">
        <label for="testType" class="col-sm-3">COVID-19 status</label>
        <div class="col-sm-9">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="testType" id="testType1" value="confirmed" checked />
            <label class="form-check-label" for="testType1">Confirmed <strong>positive</strong> test</label>
            <small class="form-text text-muted">
              Confirmed positive test result from an official testing source
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="testType" id="testType2" value="likely" />
            <label class="form-check-label" for="testType2">Likely diagnosis</label>
            <small class="form-text text-muted">
              Clinical diagnosis without a test
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="testType" id="testType3" value="negative" />
            <label class="form-check-label" for="testType3">Confirmed <strong>negative</strong> test</label>
            <small class="form-text text-muted">
              Confirmed negative test result from an official testing source
            </small>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <label for="symptomDate" class="col-sm-3">Symptom Onset Date</label>
        <div class="col-sm-9">
          <div class="datepicker date input-group p-0 shadow-sm">
            <input type="date" id="symptomDate" name="symptomDate" min="{{.minDate}}" max="{{.maxDate}}" class="form-control" />
          </div>
          <small class="form-text text-muted">
            <strong>Recommended</strong>: cannot be more than {{.maxSymptomDays}} days prior to today. This system is based on
            <a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_blank">UTC</a> dates, you may need to adjust accordingly.
            The current UTC date is <strong>{{.maxDate}}</strong>.
          </small>
        </div>
      </div>

      <div class="row form-group">
        <div class="offset-sm-3 col-sm-9">
          <button id="submit" class="btn btn-primary">Generate code</button>
        </div>
      </div>
    </form>

    <div id="codearea" style="display:none">
      <div class="row">
        <p>
          Share this code with the patient <strong>immediately</strong>. This
          code expires at <span id="expiresAt"></span>.
        </p>
      </div>

      <div class="row">
        <p id="vercode" class="display-2 alert alert-info" style="font-family:monospace; letter-spacing:0.5em"></p>
      </div>

      <div class="row">
        <button id="startover" class="btn btn-warning">Clear and generate another code</button>
      </div>
    </div>

    <div class="row alert alert-danger" id="codeerror" style="display:none"></div>
  </main>

  {{template "scripts" .}}

 <script type="text/javascript">
   function getCode(csrfToken, data) {
     $.ajax({
       url: '/home/issue',
       type : "POST",
       dataType : 'json',
       contentType: 'application/json',
       data : JSON.stringify(data),
       headers: {"X-CSRF-Token": csrfToken},
       success : function(result) {
         if (result.error != "") {
           $("#codeerror").text(result.error);
           $("#codearea").hide();
           $("#codeerror").show();
           $("#submit").prop('disabled', false);
         } else {
           $("#expiresAt").text(result.expiresAt);
           $("#vercode").text(result.code);
           $("#codearea").show();
           $("#codeerror").hide();
         }
       },
       error: function(xhr, resp, text) {
         $("#codeerror").text("error: " + text);
         $("#codearea").hide();
         $("#codeerror").show();
         console.log(xhr, resp, text);
       }
     });
   }

   $(document).ready(function(){
      // click on button submit
      $("#submit").on('click', function(event) {
        event.preventDefault();

        // Disable the submit button so we only issue one code.
        $("#submit").prop('disabled', true);
        var data = {};
        $($("#issueForm").serializeArray()).each(function(index, obj){
          data[obj.name] = obj.value;
        });
        $.ajax({
          url: '/home/csrf',
          type: "GET",
          dataType: 'json',
          contentType: 'application/json',
          success: function(result) {
            if (result.error != "") {
              $("#codeerror").text(result.error);
              $("#codearea").hide();
              $("#codeerror").show();
              $("#submit").prop('disabled', false);
            } else {
              getCode(result.csrftoken, data);
            }
          }
        });
      });

      $("#startover").on('click', function() {
        // Hide the previously issued code and enable the submit button.
        $("#codearea").hide()
        $("#symptomDate").val("")
        $("#submit").prop('disabled', false);
        $("#vercode").text("")
        $("#expiresAt").text("")
        $("#codeerror").text("")
      });
    });
  </script>
</body>
</html>
{{end}}
