{{define "home"}}

{{$currentRealm := .currentRealm}}
{{$hasSMSConfig := .hasSMSConfig}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}

  <style>
    #vercode {
      flex-shrink: 10;
      line-height: 2.3em;
      max-width: 480px;
    }

    #vercode span {
      flex: 1;
      margin: 0 0.1em;
    }
  </style>
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Issue diagnosis verification code</h1>
    <p>
      Complete the following form to issue a single-use token to verify a
      patient. <strong>Do not submit this form until you are prepared to relay
      the code to the patient.</strong>
    </p>

    {{/* Calculate the column width based on the number of expected choices */}}
    {{$colWidth := 12}}
    {{if $currentRealm.ValidTestType "negative"}}
      {{$colWidth = 4}}
    {{else if $currentRealm.ValidTestType "likely" }}
      {{$colWidth = 6}}
    {{end}}

    <form id="issueForm" action="#">
      <div class="card mb-3">
        <div class="card-header">Diagnosis</div>
        <div class="card-body">
          <div class="form-row">
            {{if $currentRealm.ValidTestType "confirmed"}}
            <div class="form-group col-md-{{$colWidth}}">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="testType" id="testType1" value="confirmed" checked />
                <label class="form-check-label" for="testType1">
                  <strong>Positive</strong> test
                  <small class="form-text text-muted">
                    Confirmed positive test result from an official testing source
                  </small>
                </label>
              </div>
            </div>
            {{end}}

            {{if $currentRealm.ValidTestType "likely"}}
            <div class="form-group col-md-{{$colWidth}}">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="testType" id="testType2" value="likely" />
                <label class="form-check-label" for="testType2">
                  Likely diagnosis
                  <small class="form-text text-muted">
                    Clinical diagnosis without a test
                  </small>
                </label>
              </div>
            </div>
            {{end}}

            {{if $currentRealm.ValidTestType "negative"}}
            <div class="form-group col-md-{{$colWidth}}">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="testType" id="testType3" value="negative" />
                <label class="form-check-label" for="testType3">
                  <strong>Negative</strong> test
                  <small class="form-text text-muted">
                    Confirmed negative test result from an official testing source
                  </small>
                </label>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">Dates</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="testDate">Testing date</label>
              <input type="date" id="testDate" name="testDate" min="{{.minDate}}" max="{{.maxDate}}" class="form-control" />
              <small class="form-text text-muted">
                <strong>Recommended.</strong>
                This is the <a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_blank">UTC date</a> when the test was performed.
                Click here to <a href="#" data-fill-target="testDate" data-fill-value="{{.maxDate}}">use today's UTC date</a>.
              </small>
            </div>

            <div class="form-group col-md-6">
              <label for="symptomDate">Symptoms onset</label>
              <div class="input-group">
                <input type="date" id="symptomDate" name="symptomDate" min="{{.minDate}}" max="{{.maxDate}}" class="form-control" />
              </div>
              <small class="form-text text-muted">
                <strong>Recommended.</strong>
                This is the <a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_blank">UTC date</a> when symptoms began. It cannot be more than {{.maxSymptomDays}} days ago.
                Click here to <a href="#" data-fill-target="symptomDate" data-fill-value="{{.maxDate}}">use today's UTC date</a>.
              </small>
            </div>
          </div>
        </div>
      </div>

      {{ if $hasSMSConfig }}
      <div class="card mb-3">
        <div class="card-header">Notification</div>
        <div class="card-body">
          <div class="row form-group">
            <label for="symptomDate" class="col-sm-3">Patient phone</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="tel" id="phone" name="phone" class="form-control" />
              </div>
              <small class="form-text text-muted">
                If provided, the system will send text containing the code to the
                patient. This must be a phone number capable of receiving SMS text
                messages.
              </small>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      <div class="row mb-3">
        <div class="col">
          <button id="submit" class="btn btn-primary btn-block">Generate code</button>
        </div>
      </div>
    </form>

    <div id="codeerror" class="alert alert-danger d-none"></div>

    <div id="codearea" class="d-none">
      <hr>

      <h2>Generated code</h2>

      <p>
        Share the follow code with the patient <strong>immediately</strong>.
        This code expires at <span id="expiresAt"></span>.
      </p>

      <div id="vercode" class="text-center text-monospace d-flex flex-row align-content-center justify-content-around flex-nowrap mx-auto mb-3"></div>

      <p>
        Track the status of this code with the following ID: <span id="codeUUID" style="font-weight: bold;"></span>
        <br />You may use this to see if the patient has successfully claimed their code.
      </p>

      <button id="startover" class="btn btn-warning btn-block mb-3">
        Clear and generate another code
      </button>
    </div>
  </main>

  {{template "scripts" .}}

  <script type="text/javascript">
    let $codeerror, $codearea, $expiresAt, $codeUUID, $vercode, $submit;

   $(function() {
      $codeerror = $('#codeerror');
      $codearea = $('#codearea');
      $expiresAt = $('#expiresAt');
      $codeUUID = $('#codeUUID');
      $vercode = $('#vercode');
      $submit = $('#submit');

      // click on button submit
      $submit.on('click', function(event) {
        event.preventDefault();

        // Disable the submit button so we only issue one code.
        $submit.prop('disabled', true);

        var data = {};
        $($('#issueForm').serializeArray()).each(function(index, obj){
          data[obj.name] = obj.value;
        });

        getCode(data);
      });

      $('#startover').on('click', function() {
        // Hide the previously issued code and enable the submit button.
        $codeerror.addClass('d-none');
        $codearea.addClass('d-none');
        $submit.prop('disabled', false);
        $vercode.text('');
        $expiresAt.text('');
        $codeUUID.text('');
      });
    });

    function getCode(data) {
      $.ajax({
        url: '/home/issue',
        type: 'POST',
        dataType: 'json',
        cache: false,
        contentType: 'application/json',
        data: JSON.stringify(data),
        headers: {
          'X-CSRF-Token': '{{.csrfToken}}',
        },
        success: function(result) {
          if(result.error != "") {
            showError(result.error);
          } else {
            $expiresAt.text(result.expiresAt);
            $codeUUID.text(result.uuid);

            let code = result.code;
            for(let i = 0; i < code.length; i++) {
              let $span = $('<span class="border rounded mx-1">').text(code.charAt(i));
              $vercode.append($span);
            }

            $codeerror.addClass('d-none');
            $codearea.removeClass('d-none');

            $codearea[0].scrollIntoView({
              behavior: 'smooth',
            });
          }
        },
        error: function(xhr, resp, text) {
          var message = resp;
          if (xhr && xhr.responseJSON && xhr.responseJSON.error) {
            message = message + ": " + xhr.responseJSON.error;
          }
          showError(message);
        }
      });
    }

    function showError(error) {
      $codearea.addClass('d-none');

      $codeerror.text(error);
      $codeerror.removeClass('d-none');
      $codeerror[0].scrollIntoView({
        behavior: 'smooth',
      });
      $submit.prop('disabled', false);
    }
  </script>
</body>
</html>
{{end}}
