{{define "realm"}}

{{$realm := .realm}}
{{$smsConfig := .smsConfig}}
{{$testTypes := .testTypes}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Realm settings</h1>
    <p>
      Find or edit the settings for <strong>{{$realm.Name}}</strong> below.
    </p>

    <form method="POST" action="/realm/settings/save">
      {{ .csrfField }}

      <div class="card mb-3">
        <div class="card-header">
          General settings
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="name" class="col-sm-3">Name:</label>
            <div class="col-sm-9">
              <input type="text" id="name" name="name" class="form-control{{if $realm.ErrorsFor "name"}} is-invalid{{end}}" value="{{$realm.Name}}" />
              {{if $realm.ErrorsFor "name"}}
              <div class="invalid-feedback">
                {{joinStrings ($realm.ErrorsFor "name") ", "}}
              </div>
              {{end}}
            </div>
          </div>

          <div class="form-group row mb-0">
            <label class="col-sm-3">Allowed tests:</label>
            <div class="col-sm-9">
              <div class="form-group mb-0">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="allowedTestTypes" id="negative" value="{{$testTypes.negative}}"{{if eq $realm.AllowedTestTypes $testTypes.negative}} checked{{end}}/>
                  <label class="form-check-label" for="negative">
                    Positive + Likely + Negative
                    <small class="form-text text-muted">
                      Support confirmed positive tests from an official testing
                      source, clinical diagnoses without a test, and confirmed
                      negative test from an official testing source.
                    </small>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="allowedTestTypes" id="likely" value="{{$testTypes.likely}}"{{if eq $realm.AllowedTestTypes $testTypes.likely}} checked{{end}} />
                  <label class="form-check-label" for="likely">
                    Positive + Likely
                    <small class="form-text text-muted">
                      Support confirmed positive tests from an official testing
                      source and clinical diagnoses without a test.
                    </small>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="allowedTestTypes" id="confirmed" value="{{$testTypes.confirmed}}"{{if eq $realm.AllowedTestTypes $testTypes.confirmed}} checked{{end}} />
                  <label class="form-check-label" for="confirmed">
                    Positive
                    <small class="form-text text-muted">
                      Only permit confirmed positive tests from an official
                      testing source.
                    </small>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          SMS configuration
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="twilio_account_sid" class="col-sm-3">Twilio account:</label>
            <div class="col-sm-9">
              <input type="text" id="twilio_account_sid" name="twilio_account_sid" class="form-control" value="{{if $smsConfig}}{{$smsConfig.TwilioAccountSid}}{{end}}" />
            </div>
          </div>

          <div class="form-group row">
            <label for="twilio_auth_token" class="col-sm-3">Twilio auth token:</label>
            <div class="input-group col-sm-9">
              <input type="password" id="twilio_auth_token" name="twilio_auth_token" class="form-control" value="{{if $smsConfig}}{{$smsConfig.TwilioAuthToken}}{{end}}">
              <div class="input-group-append">
                <a class="input-group-text" data-toggle-password="twilio_auth_token">
                  <span class="oi oi-lock-locked" aria-hidden="true"></span>
                </a>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="twilio_from_number" class="col-sm-3">Twilio number:</label>
            <div class="col-sm-9">
              <input type="tel" id="twilio_from_number" name="twilio_from_number" class="form-control" value="{{if $smsConfig}}{{$smsConfig.TwilioFromNumber}}{{end}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block">Update realm</button>
        </div>
      </div>
    </form>
  </main>

  {{template "scripts" .}}
</body>
</html>
{{end}}
