{{define "realmstats"}}

{{$realm := .realm}}
{{$stats := .stats}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
</head>

<body class="bg-light">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Realm stats</h1>
    <p>
      The data below shows realm statistics.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Statistics</div>
      <div class="card-body table-responsive">
        {{if $stats}}
        <div id="chart" class="mb-3" style="height: 300px;">
          <span>Loading chart...</span>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col" width="125">Issued</th>
              <th scope="col" width="125">Claimed</th>
            </tr>
          </thead>
          <tbody>
            {{range $stat := $stats}}
            <tr>
              <td>{{$stat.Date.Format "2006-01-02"}}</td>
              <td>{{$stat.CodesIssued}}</td>
              <td>{{$stat.CodesClaimed}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
        <div class="font-italic">
          This data is refreshed every 5 minutes.
        </div>
        {{else}}
        <p>No codes have been issued in this realm.</p>
        {{end}}
      </div>
    </div>

  </main>

  {{template "scripts" .}}

  {{if $stats}}
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', { packages: ['line'] });
    google.charts.setOnLoadCallback(drawChart)

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Date', 'Issued', "Claimed"],
        {{ range $stat:= $stats }}
    ['{{$stat.Date.Format "Jan 2"}}', {{ $stat.CodesIssued }}, {{ $stat.CodesClaimed }}],
      {{ end }}
      ]);

    var options = {
      colors: ['#007bff', '#ff7b00'],
      legend: { position: 'bottom' },
      tooltip: { trigger: 'focus' },
    };

    var chart = new google.charts.Line(document.getElementById('chart'));
    chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
  {{end}}
</body>

</html>
{{end}}
