{{define "users"}}
{{$csrfField := .csrfField}}
{{$currentUser := .currentUser}}
{{$currentRealm := .currentRealm}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
</head>

<body>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Create user</h1>

    <form method="POST" action="/users/create">
      {{$csrfField}}
      <div class="form-group row">
        <label for="email" class="col-sm-3">Email:</label>
        <div class="col-sm-9">
          <input type="text" id="email" name="email" class="form-control"/>
        </div>
      </div>

      <div class="form-group row">
        <label for="name" class="col-sm-3">Name:</label>
        <div class="col-sm-9">
          <input type="text" id="name" name="name" class="form-control"/>
        </div>
      </div>

      <div class="form-group row">
        <label for="admin" class="col-sm-3">Options:</label>
        <div class="col-sm-9">
          <div class="form-check">
            <input type="checkbox" id="admin" name="admin" class="form-check-input">
            <label class="form-check-label" for="admin">
              Admin
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" class="btn btn-primary btn-block">Create user</button>
        </div>
      </div>
    </form>

    <hr>

    <h2>Users</h2>

    {{if .realmUsers}}
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Options</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{range .realmUsers}}
          <tr>
            <td>{{.Email}}</td>
            <td>{{.Name}}</td>
            <td>
              {{if .CanAdminRealm $currentRealm.ID}}
                <span class="badge badge-pill badge-primary">Admin</span>
              {{end}}
            </td>
            <td>
              {{if eq .ID $currentUser.ID}}
                <em>(you)</em>
              {{else}}
                <form method="POST" action="/users/delete/{{.Email}}">
                  {{$csrfField}}
                  <a class="text-danger" data-submit-form data-confirm="Are you sure?">Delete</a>
                </form>
              {{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    {{else}}
    <p>There are no users. Create one above.</p>
    {{end}}
  </main>

  {{template "scripts" .}}
</body>
</html>
{{end}}
