{{define "admin/mobileapps/show"}}

{{$apps := .apps}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body class="tab-content">
  {{template "admin/navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <span class="oi oi-phone mr-2 ml-n1" aria-hidden="true"></span>
        Mobile apps
      </div>

      <div class="card-body">
        <form method="GET" action="/admin/mobileapps" id="search-form">
          <div class="input-group">
            <span class="input-group-prepend">
              <div class="input-group-text bg-transparent">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
              </div>
            </span>
            <input type="search" name="q" id="search" value="{{.query}}" placeholder="Search"
              autocomplete="off" class="form-control" />
          </div>
        </form>
      </div>

      <div class="card-body">

        {{if .apps}}
        <div class="table-responsive">
          <table class="table table-bordered table-striped bg-white">
            <thead>
              <tr>
                <th scope="col">Mobile app</th>
                <th scope="col" width="120">Realm</th>
                <th scope="col" width="95">Enabled</th>
              </tr>
            </thead>
            <tbody>
            {{range .apps}}
              <tr>

                <td>
                  <a href="/mobile-apps/{{.MobileApp.ID}}" class="text-truncate">{{.MobileApp.Name}}</a>
                </td>

                <td>
                  <a href="/admin/realms/{{.Realm.ID}}/edit">{{.Realm.Name}}</a>
                </td>

                <td>
                  {{if .MobileApp.DeletedAt}}
                    <span class="badge badge-pill badge-danger">Deleted</span>
                  {{else}}
                    <span class="badge badge-pill badge-success">Enabled</span>
                  {{end}}
                </td>
              </tr>
            {{end}}
            </tbody>
          </table>
        </div>
        {{else}}
        <p class="text-center">
          <em>There are no mobile apps.</em>
        </p>
        {{end}}
      </div>
    </div>

    {{template "shared/pagination" .}}
  </main>
</body>
</html>
{{end}}
