{{define "mobileapp/index"}}

{{$apps := .apps}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Mobile Apps</h1>
    <p>
      These are the mobile apps for this realm. You
      can also <a href="/mobileapp/new">create a new mobile app</a>.
    </p>

    {{if .apps}}
    <div class="table-responsive">
      <table class="table table-bordered table-striped bg-white">
        <thead>
          <tr>
            <th scope="col">App</th>
            <th scope="col" width="95">Enabled</th>
            <th scope="col" width="40"></th>
          </tr>
        </thead>
        <tbody>
        {{range .apps}}
          <tr>

            <td>
              <a href="/mobileapp/{{.ID}}" class="text-truncate">{{.Name}}</a>
            </td>

            <td>
              {{if .DeletedAt}}
                <span class="badge badge-pill badge-danger">Deleted</span>
              {{else}}
                <span class="badge badge-pill badge-success">Enabled</span>
              {{end}}
            </td>

            <td class="text-center">
              {{if .DeletedAt}}
              <a href="/mobileapp/{{.ID}}/enable" class="d-block text-danger"
                data-method="patch"
                data-confirm="Are you sure you want to restore '{{.Name}}'?"
                data-toggle="tooltip"
                title="Restore this mobile app">
                <span class="oi oi-loop-circular" aria-hidden="true"></span>
              </a>
              {{else}}
              <a href="/mobileapp/{{.ID}}/disable" class="d-block text-danger"
                data-method="patch"
                data-confirm="Are you sure you want to disable '{{.Name}}'?"
                data-toggle="tooltip"
                title="Disable this mobile app">
                <span class="oi oi-trash" aria-hidden="true"></span>
              </a>
              {{end}}
            </td>

          </tr>
        {{end}}
        </tbody>
      </table>
    </div>
    {{else}}
    <p class="text-center">
      <em>There are no mobile apps.</em>
    </p>
    {{end}}
  </main>

  {{template "scripts" .}}
</body>
</html>
{{end}}
