{{define "mobileapp/new"}}

{{$app := .app}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
  {{template "floatingform" .}}
</head>

<body class="tab-content" onload="osSelect()">>
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>New Mobile App</h1>
    <p>
      Use the form below to create a new mobile app.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Details</div>
      <div class="card-body">
        <form method="POST" action="/mobileapp">
          {{ .csrfField }}

          <div class="form-label-group">
            <input type="text" id="name" name="name" class="form-control{{if $app.ErrorsFor "name"}} is-invalid{{end}}" value="{{$app.Name}}" placeholder="Application name" autofocus>
            <label for="name">Application name</label>
            {{if $app.ErrorsFor "name"}}
            <div class="invalid-feedback">
              {{joinStrings ($app.ErrorsFor "name") ", "}}
            </div>
            {{end}}
          </div>

		  {{template "app" .}}

          <button type="submit" class="btn btn-primary btn-block">Create mobile app</button>
        </form>
      </div>
    </div>
  </main>

  {{template "scripts" .}}
</body>
</html>
{{end}}
