{{define "code/status"}}

{{$code := .code}}

<!doctype html>
<html lang="en">

<head>
  {{template "floatingform" .}}
  {{template "head" .}}
</head>

<body class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Verification code status</h1>
    <p>
      Use an identifier to check the status of a code previously shared with your patient.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Code status</div>
      <div class="card-body">
        <form method="POST" id="code-form" action="show" class="floating-form">
          {{ .csrfField }}
          <div class="form-group">
            <div class="form-label-group ">
              <input type="text" id="uuid" name="uuid"
                class='form-control text-monospace{{if $code.ErrorsFor "uuid"}} is-invalid{{end}}'
                value="{{$code.UUID}}" placeholder="UUID" autocomplete="off" required autofocus>
              <label for="uuid">UUID</label>
              {{if $code.ErrorsFor "uuid"}}
              <div class="invalid-feedback">
                {{joinStrings ($code.ErrorsFor "uuid") ", "}}
              </div>
              {{end}}
              <small class="form-text text-muted">
                Identifier given from the Issue Code form.
              </small>
            </div>
          </div>

          <button class="btn btn-primary btn-block">Check status</button>
        </form>
      </div>
    </div>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">Recently issued codes</div>
      <div class="card-body">
        <div class="list-group">
          {{range $code := .recentCodes}}
          <a class="list-group-item list-group-item-action" onclick="clickCode('{{$code.UUID}}')">
            {{$code.UUID}}
            <small class="form-text text-muted">
              Created at: {{$code.CreatedAt}}
            </small>
          </a>
          {{end}}
        </div>
      </div>
    </div>
  </main>

  {{template "scripts" .}}
  <script type="text/javascript">
    let $uuid
    let $form

    $(function() {
      $uuid = $('#uuid');
      $form = $('#code-form');
      let allowedChars = new RegExp("[0-9a-fA-F]");
      let dashLocations = [8, 13, 18, 23];

      $uuid.on('keyup', function() {
        let s = $uuid.val();
        let r = "";
        for (i = 0; i < s.length && i <= 36; i++) {
          let c = s.charAt(i);
          if (dashLocations.includes(i)) {
            r += '-';
          }

          if (allowedChars.test(c)) {
            r += c;
          }
        }
        $uuid.val(r);
      });
    });

    function clickCode(uuid) {
      $uuid.val(uuid);
      $form.submit();
    }
  </script>
</body>

</html>
{{end}}
