{{define "code/show"}}

<!doctype html>
<html lang="en">

<head>
  {{template "head" .}}
</head>

<body class="bg-light">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Verification code status</h1>
    <p>
      Status of a verification code previously shared with your patient.
    </p>

    <div class="card mb-3">
      <div class="card-header">
        Code status
      </div>
      <div class="list-group-item">
        <h5 class="mb-1">UUID</h5>
        <p class="mb-1 text-monospace">{{.code.UUID}}</p>
      </div>
      <div class="list-group-item">
        <h5 class="mb-1">{{.code.IssuerType}}</h5>
        <p class="mb-1">{{.code.Issuer}}</p>
      </div>
      <div class="list-group-item">
        <h5 class="mb-1">Test type</h5>
        <p class="mb-1">{{.code.TestType}}</p>
      </div>
      <div class="list-group-item">
        <h5 class="mb-1">Status</h5>
        <p class="mb-1">{{.code.Status}}</p>
      </div>
      <div class="list-group-item">
        <h5 class="mb-1">Expiry</h5>
        <span id="code-expires-at" class="sm text-danger"></span>
      </div>
      <div class="card-body">
        <a href="/code/{{.code.UUID}}/expire" class="d-block text-danger" data-method="PATCH"
          data-confirm="Are you sure you want to expire this code?" data-toggle="tooltip" title="Expire code">
          <button type="submit" id="invalidate" class="btn btn-danger btn-sm">Invalidate code now</button>
        </a>
      </div>
    </div>

    <a href="/code/status" class="card-link">&larr; Enter another code</a>
  </main>

  {{template "scripts" .}}
  {{template "codescripts" .}}

  <script type="text/javascript">
    let $buttonInvalidate = $('button#invalidate');
    let expires = {{ .code.Expires }};

    $(function() {
      let $codeExpiresAt = $('#code-expires-at');
      // Start countdown
      countdown($codeExpiresAt, expires, function() {
        // Disable the submit if already expired.
        $buttonInvalidate.prop('disabled', true);
      });
    });
  </script>
</body>

</html>
{{end}}
