{{define "apikeys/show"}}

{{$apiKey := .apiKey}}
{{$authApp := .authApp}}
{{$stats := .stats}}

{{$currentMembership := .currentMembership}}
{{$canWrite := $currentMembership.Can rbac.APIKeyWrite}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">

<head>
  {{template "head" .}}
  <script defer src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body id="apikeys-show" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    {{if $apiKey}}
      <div class="card mb-3 shadow-sm">
        <div class="card-header">
          <i class="bi bi-key me-2"></i>
          API key
        </div>

        <div class="card-body">
          <div class="alert alert-danger" role="alert">
            This is your API key - it will only be displayed once. <strong>You
              must securely save this API key elsewhere!</strong>
          </div>

          <textarea id="apikey-value" class="form-control" rows="4" readonly>{{$apiKey}}</textarea>
        </div>
      </div>
    {{end}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <i class="bi bi-key me-2"></i>
        Details about {{$authApp.Name}}
        {{if $canWrite}}
          <a href="/realm/apikeys/{{$authApp.ID}}/edit" class="float-end text-body" id="edit" data-bs-toggle="tooltip" title="Edit this API key">
            <i class="bi bi-pencil-fill"></i>
          </a>
        {{end}}
      </div>
      <div class="card-body">
        <div>
          <strong>App name</strong>
          <div id="apikey-name">
            {{$authApp.Name}}
          </div>
        </div>

        <div class="mt-3">
          <strong>Type</strong>
          <div>
            {{if $authApp.IsDeviceType}}
              Device (can verify codes)
            {{else if $authApp.IsAdminType}}
              Admin (can issue codes)
            {{else if $authApp.IsStatsType}}
              Stats (can view stats)
            {{else}}
              Unknown
            {{end}}
          </div>
        </div>


        <div class="mt-3">
          <strong>
            Last used
            <span class="bi-stopwatch small ps-1"
              data-bs-toggle="tooltip" data-placement="top" title="15 minute accuracy"></span>
          </strong>
          <div>
            {{$authApp.LastUsedAt | humanizeTime}}
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <i class="bi bi-graph-up me-2"></i>
        Statistics
      </div>
      <div id="apikey_stats_chart" class="h-100 w-100" style="min-height:325px;"
        data-apikey-id="{{$authApp.ID}}">
        <p class="text-center font-italic w-100 mt-5">Loading chart...</p>
      </div>
      <small class="card-footer d-flex justify-content-between text-muted">
        <span>
          This data is refreshed every 30 minutes.
          <a href="#" data-bs-toggle="modal" data-bs-target="#apikey-stats-modal">Learn more</a>
        </span>
        <span>
          <span class="me-1">Export as:</span>
          <a href="/stats/realm/api-keys/{{$authApp.ID}}.csv" class="me-1">CSV</a>
          <a href="/stats/realm/api-keys/{{$authApp.ID}}.json" target="_blank">JSON</a>
        </span>
      </small>
    </div>

    <div class="modal fade" id="apikey-stats-modal" data-backdrop="static" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Statistics for {{$authApp.Name}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              This chart reflects statistics for {{$authApp.Name}}.
            </p>
            <ul>
              <li>
                <strong>admin</strong> API keys will show the number of codes
                issued.
              </li>
              <li>
                <strong>device</strong> API keys will show the number of codes
                claimed, codes invalid, tokens claimed, and tokens invalid.
              </li>
              <li>
                <strong>stats</strong> API keys will not show any statistics
                (they are used to <em>retrieve</em> statistics).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script type="text/javascript">
    window.addEventListener('load', () => {
      var chartData = [];
      window.addEventListener('load', (event) => {
        redrawCharts(chartData, 300);
      });

      let containerChart = document.querySelector('div#apikey_stats_chart');
      let apiKeyID = containerChart.dataset.apikeyId;

      google.charts.load('current', {
        packages: ['corechart'],
        callback: drawAPIKeyChart,
      });

      function drawAPIKeyChart() {
        $.ajax({
          url: `/stats/realm/api-keys/${apiKeyID}.json`,
          dataType: 'json',
        })
        .done(function(data, status, xhr) {
          let pContainer = containerChart.querySelector('p');

          if (!data.statistics) {
            pContainer.innerText = 'No data yet.';
            return;
          }

          switch (data.authorized_app_type) {
            case 'admin':
              drawAdminStats(data);
              break;
            case 'device':
              drawDeviceStats(data);
              break;
            case 'stats':
              pContainer.innerText = 'Statistics API keys do not produce statistics.';
              break;
            default:
              pContainer.innertText = 'Unknown API key type';
              break;
          }
        })
        .fail(function(xhr, status, err) {
          flash.error('Failed to render realm stats: ' + err);
        });
      }

      function drawAdminStats(data) {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('date', 'Date');
        dataTable.addColumn('number', 'Issued');

        data.statistics.reverse().forEach(function(row) {
          dataTable.addRow([utcDate(row.date), row.data.codes_issued]);
        });

        let dateFormatter = new google.visualization.DateFormat({
          pattern: 'MMM dd',
        });
        dateFormatter.format(dataTable, 0);

        let options = {
          colors: ['#28a745', '#dc3545'],
          chartArea: {
            left: 60,
            right: 40,
            bottom: 40,
            top: 40,
            width: '100%',
            height: '300',
          },
          hAxis: { format: 'M/d' },
          legend: { position: 'top' },
        };

        let chart = new google.visualization.LineChart(containerChart);
        chart.draw(dataTable, options);
        chartData.push({
          chart: chart,
          data: dataTable,
          options: options,
        });
      }

      function drawDeviceStats(data) {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('date', 'Date');
        dataTable.addColumn('number', 'Codes claimed');
        dataTable.addColumn('number', 'Codes invalid');
        dataTable.addColumn('number', 'Tokens claimed');
        dataTable.addColumn('number', 'Tokens invalid');

        data.statistics.reverse().forEach(function(row) {
          dataTable.addRow([utcDate(row.date), row.data.codes_claimed, row.data.codes_invalid, row.data.tokens_claimed, row.data.tokens_invalid]);
        });

        let dateFormatter = new google.visualization.DateFormat({
          pattern: 'MMM dd',
        });
        dateFormatter.format(dataTable, 0);

        let options = {
          colors: ['#28a745', '#dc3545', '#17a2b8', '#ffc107'],
          chartArea: {
            left: 60,
            right: 40,
            bottom: 40,
            top: 40,
            width: '100%',
            height: '300',
          },
          hAxis: { format: 'M/d' },
          legend: { position: 'top' },
        };

        let chart = new google.visualization.LineChart(containerChart);
        chart.draw(dataTable, options);
      }
    });
  </script>
</body>

</html>
{{end}}
