{{define "admin/realms/edit"}}

{{$currentUser := .currentUser}}
{{$realm := .realm}}
{{$systemSMSConfig := .systemSMSConfig}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body class="tab-content">
  {{template "admin/navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Edit {{$realm.Name}}</h1>
    <p>
      Use the form below to edit the realm.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        {{if $currentUser.CanAdminRealm $realm.ID}}
        <a href="/admin/realms/{{$realm.ID}}/realmadmin">
          <span class="oi oi-wrench text-dark" aria-hidden="true"
          data-toggle="tooltip" title="Edit as realm admin"></span>
        </a>
        {{else}}
        <span data-toggle="tooltip" title="Join realm to configure as realm admin">
          <a class="disabled">
            <span class="oi oi-wrench" aria-hidden="true"></span>
          </a>
        </span>
        {{end}}
        Details</div>
      <div class="card-body">
        <form method="POST" action="/admin/realms/{{$realm.ID}}">
          {{ .csrfField }}
          <input type="hidden" name="_method" value="PATCH" />

          <h6 class="mb-3">Name</h6>
          <div class="form-label-group">
            <input type="text" class="form-control" value="{{$realm.Name}}" disabled />
            <label for="name">Realm name</label>
          </div>

          <div class="form-label-group">
            <input type="text" class="form-control" value="{{$realm.RegionCode}} " disabled />
            <label for="code">Region code</label>
          </div>

          {{if .supportsPerRealmSigning}}
          <hr>
          <h6 class="mb-3">Certificate</h6>
          <div class="form-group">
            <select class="form-control custom-select" disabled>
              <option selected>
                {{if $realm.UseRealmCertificateKey}}
                  Create realm-specific signing key
                {{else}}
                  Use system signing key
                {{end}}
              </option>
            </select>
          </div>

          <div class="form-label-group">
            <input type="text" class="form-control" value="{{$realm.CertificateIssuer}} " disabled />
            <label for="iss">Issuer (iss)</label>
          </div>

          <div class="form-label-group">
            <input type="text" class="form-control" value="{{$realm.CertificateAudience}} " disabled />
            <label for="aud">Audience (aud)</label>
          </div>
          {{end}}

          {{if $systemSMSConfig}}
          <hr>
          <h6 class="mb-3">SMS Config</h6>
          <div class="form-group form-check">
            <input type="checkbox" name="can_use_system_sms_config" id="can-use-system-sms-config" class="form-check-input" value="1" {{if $realm.CanUseSystemSMSConfig}} checked{{end}}>
            <label class="form-check-label" for="can-use-system-sms-config">
              Share system SMS configuration
            </label>
            <small class="form-text text-muted">
              Allow this realm to consume the system SMS credentials. If
              enabled, the realm will not see the credentials, but they will be
              able to send SMS messages using them. This could incur unexpected
              costs for the credential owner.
            </small>
          </div>
          {{end}}

          <hr>
          <h6 class="mb-2">Abuse prevention</h6>
          {{if $realm.AbusePreventionEnabled}}
          <div class="text-success">Enabled</div>
          <div>Calculated limit: <span class="text-monospace">{{.quotaLimit}}</span></div>
          <div>Remaining: <span class="text-monospace">{{.quotaRemaining}}</span></div>
          {{else}}
          <div class="text-secondary">Disabled</div>
          {{end}}

          <hr>
          <h6 class="mb-2">Mobile apps</h6>
          <a href="/admin/mobile-apps?q={{$realm.Name}}">View mobile apps &rarr;</a>

          <hr>
          <button type="submit" class="btn btn-primary btn-block">Update realm</button>
        </form>
      </div>
    </div>

    {{if $currentUser.CanAdminRealm $realm.ID}}
      <div class="card mb-3 shadow-sm">
        <div class="card-header">Leave realm</div>
        <div class="card-body">
          <p>
            You are currently a member of this realm. Click the button to leave.
          </p>
          <a href="/admin/realms/{{$realm.ID}}/remove/{{$currentUser.ID}}" class="btn btn-block btn-danger"
            data-method="PATCH"
            data-confirm="Are you sure you want to leave this realm? This event will be logged and audited.">
            Leave realm
          </a>
        </div>
      </div>
    {{else}}
      <div class="card mb-3 shadow-sm">
        <div class="card-header">Join realm</div>
        <div class="card-body">
          <p>
            Click the button below to join the realm to debug or support the
            realm. This will also set {{$realm.Name}} as your current active
            realm. Only do this after gaining permission from the realm
            administrator.
          </p>
          <a href="/admin/realms/{{$realm.ID}}/add/{{$currentUser.ID}}" class="btn btn-block btn-danger"
            data-method="PATCH"
            data-confirm="Are you sure you want to join this realm? This event will be logged and audited.">
            Join realm
          </a>
        </div>
      </div>
    {{end}}
  </main>
</body>
</html>
{{end}}
