{{define "admin/realms/index"}}

{{$realms := .realms}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body id="admin-realms-index" class="tab-content">
  {{template "admin/navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <span class="oi oi-badge mr-2 ml-n1" aria-hidden="true"></span>
        Realms
        <a href="/admin/realms/new" class="float-right mr-n1 text-secondary" data-toggle="tooltip" title="New realm">
          <span class="oi oi-plus small" aria-hidden="true"></span>
        </a>
      </div>

      <div class="card-body">
        <form method="GET" action="/admin/realms" id="search-form">
          <div class="input-group">
            <input type="search" name="q" id="search" value="{{.query}}" placeholder="Search..."
              autocomplete="off" class="form-control" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                <span class="sr-only">Search</span>
              </button>
            </div>
          </div>
        </form>
      </div>

      {{if $realms}}
        <table class="table table-bordered table-striped table-fixed table-inner-border-only border-top mb-0">
          <thead>
            <tr>
              <th scope="col" width="50" class="text-center">ID</th>
              <th scope="col">Name</th>
              <th scope="col" width="100" class="text-center">Region</th>
              <th scope="col" width="120" class="text-center">Signing key</th>
            </tr>
          </thead>
          <tbody>
          {{range $realms}}
            <tr>
              <td class="text-center">{{.ID}}</td>
              <td>
                <a href="/admin/realms/{{.ID}}/edit">{{.Name}}</a>
              </td>
              <td class="text-center">{{.RegionCode}}</td>
              <td class="text-center">
                {{if .UseRealmCertificateKey}}Realm{{else}}System{{end}}
              </td>
            </tr>
          {{end}}
          </tbody>
        </table>
      {{else}}
        <p class="card-body text-center mb-0">
          <em>There are no users{{if .query}} that match the query{{end}}.</em>
        </p>
      {{end}}
    </div>

    {{template "shared/pagination" .}}
  </main>
</body>
</html>
{{end}}
