{{define "admin/email/show"}}

{{$emailConfig := .emailConfig}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body id="admin-email-show" class="tab-content">
  {{template "admin/navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <form method="POST" action="/admin/email" id="email-form">
      <div class="card mb-3 shadow-sm">
        <div class="card-header">
          <i class="bi bi-envelope me-2"></i>
          System email config
        </div>
        <div class="card-body">
          {{ .csrfField }}

          {{template "errorSummary" $emailConfig}}

          <div class="form-floating mb-3">
            <input type="text" name="smtp_account" id="smtp-account" class="form-control font-monospace {{invalidIf ($emailConfig.ErrorsFor "SMTPAccount")}}"
              placeholder="SMTP account" value="{{$emailConfig.SMTPAccount}}" />
            <label for="smtp-account">SMTP account</label>
            {{template "errorable" $emailConfig.ErrorsFor "SMTPAccount"}}
            <small class="form-text text-muted">
              This is the SMTP email account eg. noreply@example.com
            </small>
          </div>

          <div class="form-floating mb-3">
            <input type="password" name="smtp_password" id="smtp-password" class="form-control font-monospace {{invalidIf ($emailConfig.ErrorsFor "SMTPPassword")}}" autocomplete="new-password"
              placeholder="SMTP password" {{if $emailConfig.SMTPPassword}}value="{{passwordSentinel}}"{{end}}>
            <label for="smtp-password">SMTP password</label>
            {{template "errorable" $emailConfig.ErrorsFor "SMTPPassword"}}
            <small class="form-text text-muted">
              This is the password for your SMTP email.
            </small>
          </div>

          <div class="form-floating mb-3">
            <input name="smtp_host" id="smtp-host" class="form-control font-monospace {{invalidIf ($emailConfig.ErrorsFor "SMTPHost")}}"
              placeholder="SMTP host" value="{{$emailConfig.SMTPHost}}" />
            <label for="smtp-port">SMTP host</label>
            {{template "errorable" $emailConfig.ErrorsFor "SMTPHost"}}
            <small class="form-text text-muted">
              SMTP host is the hostname for the SMTP server.
            </small>
          </div>

          <div class="form-floating">
            <input name="smtp_port" id="smtp-port" class="form-control font-monospace {{invalidIf ($emailConfig.ErrorsFor "SMTPPort")}}"
              placeholder="SMTP port" value="{{if $emailConfig.SMTPPort}}{{$emailConfig.SMTPPort}}{{else}}587{{end}}" />
            <label for="smtp-port">SMTP port</label>
            {{template "errorable" $emailConfig.ErrorsFor "SMTPPort"}}
            <small class="form-text text-muted">
              SMTP port is the port number to connect to.
              587 is the default port for SMTP, and legacy port 25 is blocked.
            </small>
          </div>
        </div>
        <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary">Update system email config</button>
        </div>
      </div>
    </form>
  </main>
</body>
</html>
{{end}}
