{{define "mobileapps/_app"}}

{{$app := .app}}

<div class="row g-3">
  <div class="col-lg-12">
    <div class="form-floating">
      <input type="text" name="name" id="name" class="form-control {{invalidIf ($app.ErrorsFor "name")}}" value="{{$app.Name}}"
        placeholder="Application name" autofocus>
      <label for="name">Application name</label>
      {{template "errorable" $app.ErrorsFor "name"}}
      <small class="form-text text-muted">
        This is the name of your application.
      </small>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="form-floating">
      <input type="text" name="url" id="url" class="form-control {{invalidIf ($app.ErrorsFor "url")}}" value="{{$app.URL}}"
        placeholder="AppStore URL" autofocus>
      <label for="url">AppStore URL</label>
      {{template "errorable" $app.ErrorsFor "url"}}
      <small class="form-text text-muted">
        This is the URL where users can download your app. For iOS apps, this should
        be a <a href="https://developer.apple.com/">Apple App Store URL</a>. For
        Android apps, this should be a <a
        href="https://support.google.com/admob/answer/3086746?hl=en">Google Play
        Store URL</a>.
      </small>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="form-floating">
      <select name="os" id="os" class="form-control form-select {{invalidIf ($app.ErrorsFor "os")}}">
        <option selected disabled>Choose...</option>
        <option value="{{.iOS}}" {{selectedIf $app.OS.IsIOS}}>iOS custom app</option>
        <option value="{{.android}}" {{selectedIf $app.OS.IsAndroid}}>Android EN Express or custom app</option>
      </select>
      <label for="os">Platform</label>
      {{template "errorable" $app.ErrorsFor "os"}}
      <small class="form-text text-muted">
        This is the target mobile platform.
      </small>
    </div>
  </div>

  <div id="app-id-group" class="col-lg-12 d-none">
    <div class="form-floating">
      <input type="text" name="app_id" id="app-id" class="form-control font-monospace {{invalidIf ($app.ErrorsFor "app_id")}}" value="{{$app.AppID}}">
      <label for="app-id" id="app-id-label"></label>
      {{template "errorable" $app.ErrorsFor "app_id"}}
      <small class="form-text text-muted d-ios-only d-none">
        The Application ID should be either a team ID or app ID prefix followed by
        the bundle ID (e.g. <code>ABCD1234.com.my.app</code>).
      </small>
      <small class="form-text text-muted d-android-only d-none">
        The Package Name is the registered Android package name (e.g. <code>com.example.my.app</code>)
      </small>
    </div>
  </div>

  <div id="sha-group" class="col-lg-12 d-android-only d-none">
    <div class="form-floating">
      <textarea name="sha" id="sha" class="form-control font-monospace {{invalidIf ($app.ErrorsFor "sha")}}"
        placeholder="SHA256s (one per line)" style="height:150px;">{{$app.SHA}}</textarea>
      <label for="sha">Signing certificate SHA256</label>
      {{template "errorable" $app.ErrorsFor "sha"}}
      <small class="form-text text-muted">
        SHAs are unique fingerprints of Android applications from their signing
        certificate. We support multiple SHA256s for different versions of the app
        (e.g. development and production). SHA256s should be 95 characters and of the
        form: <code>AA:BB:CC:..</code>. Enter one per line. You can generate a
        SHA with the following command:
      </small>
      <pre class="border rounded bg-light p-3 mt-3"><code><span class="user-select-none">$ </span><span class="user-select-all">keytool -list -v -keystore my-release-key.keystore</span></code></pre>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="form-check form-switch">
      <input type="checkbox" name="enable_redirect" id="enable-redirect"
        class="form-check-input {{invalidIf ($app.ErrorsFor "disable_redirect")}}"
        {{checkedIf (not $app.DisableRedirect)}}>
      <label class="form-check-label" for="enable-redirect">
        <div>Enable AppStore redirects</div>
        <div class="small text-muted">
          If a patient clicks on a verification link when they do not have the app
          installed, the system will redirect them to the appropriate store to install
          the application. We recommend keeping this option enabled to help increase
          app adoption.

          <div class="text-danger d-ios-only d-none mt-3">
            If you have a custom application and iOS EN Express in the same jurisdiction,
            then AppStore redirect should be disabled!
          </div>
        </div>
      </label>
    </div>
    {{template "errorable" $app.ErrorsFor "disable_redirect"}}
  </div>
</div>

<script type="text/javascript">
  window.addEventListener('load', (event) => {
    let inputOS = document.querySelector('select#os');
    let divAppID = document.querySelector('div#app-id-group');
    let inputAppID = divAppID.querySelector('input#app-id');
    let labelAppID = divAppID.querySelector('label#app-id-label');

    let itemsAndroidOnly = document.querySelectorAll('.d-android-only');
    let itemsIOSOnly = document.querySelectorAll('.d-ios-only');

    function processChange() {
      divAppID.classList.add('d-none');

      let val = inputOS.options[inputOS.selectedIndex].value;
      if (val === '{{.iOS}}') {
        inputAppID.placeholder = 'Application ID';
        labelAppID.innerText = 'Application ID';

        itemsAndroidOnly.forEach((item) => { item.classList.add('d-none'); })
        itemsIOSOnly.forEach((item) => { item.classList.remove('d-none'); })
        divAppID.classList.remove('d-none');
      } else if (val === '{{.android}}') {
        inputAppID.placeholder = 'Package name';
        labelAppID.innerText = 'Package name';
        itemsAndroidOnly.forEach((item) => { item.classList.remove('d-none'); })
        itemsIOSOnly.forEach((item) => { item.classList.add('d-none'); })
        divAppID.classList.remove('d-none');
      }
    }

    inputOS.addEventListener('change', processChange);
    processChange();
  });
</script>

{{end}}
