{{define "mobileapps/new"}}

{{$app := .app}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">
<head>
  {{template "head" .}}
</head>

<body id="mobileapps-new" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <form method="POST" action="/realm/mobile-apps">
      {{ .csrfField }}

      <div class="card mb-3 shadow-sm">
        <div class="card-header">
          <i class="bi bi-window-sidebar me-2"></i>
          New mobile app
        </div>

        <div class="card-body">
          {{template "errorSummary" $app}}
          {{template "mobileapps/_app" .}}
        </div>

        <div class="card-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
          <div class="d-grid d-lg-inline">
            <button type="submit" id="submit" class="btn btn-primary">
              Create mobile app
            </button>
          </div>
          <div class="d-grid d-lg-inline">
            <a href="/realm/mobile-apps" class="btn btn-danger mt-2 mt-lg-0">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </main>
</body>
</html>
{{end}}
