{{define "mobileapps/show"}}

{{$app := .app}}

{{$currentMembership := .currentMembership}}
{{$canWrite := $currentMembership.Can rbac.MobileAppWrite}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">

<head>
  {{template "head" .}}
</head>

<body id="mobileapps-show" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>{{$app.Name}}</h1>
    <p>
      Here is information about the mobile app.
    </p>

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        Details
        {{if $canWrite}}
          <a href="/realm/mobile-apps/{{$app.ID}}/edit" class="float-right mr-n1 text-body" id="edit" data-toggle="tooltip" title="Edit this mobile app">
            <span class="oi oi-pencil" aria-hidden="true"></span>
          </a>
        {{end}}
      </div>
      <div class="card-body">
        <dl class="mb-n1">
          <dt>App name</dt>
          <dd id="mobileapps-name">{{$app.Name}}</dd>

          <dt>AppStore link</dt>
          <dd id="mobileapps-url"><a href="{{$app.URL | pathUnescape}}" rel="noopener noreferrer" target="_blank">{{$app.URL | pathUnescape}}</a></dd>

          <dt>Enable AppStore redirect</dt>
          <dd>{{not $app.DisableRedirect}}</dd>

          <dt>OS</dt>
          <dd id="mobileapps-os">
            {{$app.OS.Display}}
          </dd>

          {{if (eq $app.OS .iOS)}}
            <dt>Application ID</dt>
            <dd id="mobileapps-app-id" class="text-monospace">{{$app.AppID}}</dd>
          {{end}}

          {{if (eq $app.OS .android)}}
            <dt>Package name</dt>
            <dd id="mobileapps-package-name" class="text-monospace">{{$app.AppID}}</dd>

            <dt>SHA</dt>
            <dd id="mobileapps-sha" class="text-monospace">{{$app.SHA}}</dd>

            {{if $app.Headless}}
            <dt>Headless</dt>
            <dd id="mobileapps-headless" class="text-monospace">EN Express headless (settings-based app)</dd>
            {{end}}
          {{end}}
        </dl>
      </div>
    </div>

    <a href="/realm/mobile-apps">&larr; Back to all mobile apps</a>
  </main>
</body>

</html>
{{end}}
