{{define "codes/bulk-issue"}}

{{$currentMembership := .currentMembership}}
{{$currentRealm := $currentMembership.Realm}}
{{$hasSMSConfig := .hasSMSConfig}}

<!doctype html>
<html dir="{{$.textDirection}}" lang="{{$.textLanguage}}">

<head>
  {{template "head" .}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"
    integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body id="bulk-issue" class="tab-content">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <form id="form">
      <div class="card mb-3 shadow-sm">
        <div class="card-header">
          <i class="bi bi-upload me-2"></i>
          {{t $.locale "codes.bulk-issue.header"}}
        </div>

        <div class="card-body">
          <div class="row g-3">
            <div class="col-lg-12">
              <label class="form-label" for="csv">{{t $.locale "codes.bulk-issue.select-csv"}}</label>
              <input type="file" class="form-control" id="csv" accept=".csv" required {{disabledIf (not $hasSMSConfig)}}>
              <small class="form-text text-muted">
                {{t $.locale "codes.bulk-issue.csv-format1" `<code>phone,testDate,[optional]symptomDate,[optional]testType</code>` | safeHTML}}
                {{t $.locale "codes.bulk-issue.csv-format2" `<a href="https://www.twilio.com/docs/glossary/what-e164" rel="noopener noreferrer" target="_blank">E.164</a>` `<a href="https://www.iso.org/iso-8601-date-and-time-format.html" rel="noopener noreferrer" target="_blank">ISO 8601</a>` | safeHTML}}
              </small>
            </div>

            <div class="col-lg-12">
              <div class="form-floating">
                <input type="number" class="form-control font-monospace" id="start-at"
                  placeholder="Start at line" value="1" min="1">
                <label for="start-at">Start at line</label>
                <small class="form-text text-muted">
                  {{t $.locale "codes.bulk-issue.line-num"}}
                </small>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="input-group">
                <div class="form-floating">
                  <input type="text" class="form-control font-monospace" id="retry-code"
                    placeholder="{{t $.locale "codes.bulk-issue.retry-code"}}" required>
                  <label for="retry-code">{{t $.locale "codes.bulk-issue.retry-code"}}</label>
                </div>
                <a href="#" id="new-code" class="input-group-text" data-bs-toggle="tooltip" title="{{t $.locale "codes.bulk-issue.new-retry-code"}}">
                  <i class="bi bi-arrow-repeat"></i>
                  <span class="visually-hidden">{{t $.locale "codes.bulk-issue.new-retry-code"}}</span>
                </a>
              </div>
              <small class="form-text text-muted">
                {{t $.locale "codes.bulk-issue.retry-code-detail"}}
              </small>
            </div>

            <div class="col-lg-12">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="remember-code">
                <label class="form-check-label" for="remember-code">
                  <div>{{t $.locale "codes.bulk-issue.remember-code"}}</div>
                  <div class="small text-muted">
                    {{t $.locale "codes.bulk-issue.remember-code-detail"}}
                  </div>
                </label>
              </div>
            </div>

            {{if $currentRealm.SMSTextAlternateTemplates}}
              <div class="col-lg-12">
                <div class="form-floating">
                  <select class="form-select" id="sms-template">
                    <option value="Default SMS template">Default SMS template</option>
                    {{range $k, $v := $currentRealm.SMSTextAlternateTemplates}}
                      <option value="{{$k}}" {{selectedIf (eq $k $currentMembership.DefaultSMSTemplateLabel)}}>{{$k}}</option>
                    {{end}}
                  </select>
                  <label for="sms-template">{{t $.locale "codes.issue.sms-template-label"}}</label>
                </div>
                <small class="form-text text-muted">
                  {{t $.locale "codes.issue.sms-template-detail"}}
                </small>
              </div>
            {{end}}
          </div>

          <div class="progress mt-3 d-none" id="progress-div">
            <div id="progress" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>

          <table class="table table-bordered d-none" id="csv-table">
            <thead>
              <tr>
                <th>{{t $.locale "codes.bulk-issue.phone-number"}}</th>
                <th>{{t $.locale "codes.bulk-issue.test-date"}}</th>
              </tr>
            </thead>
            <tbody id="csv-table-body"></tbody>
          </table>
        </div>

        <div class="card-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
          <div class="d-grid d-lg-inline">
            <button class="btn btn-primary" type="submit" id="import">{{t $.locale "codes.bulk-issue.issue-codes"}}</button>
          </div>
          <div class="d-grid d-lg-inline">
            <button class="btn btn-danger d-none" id="cancel">{{t $.locale "codes.bulk-issue.cancel"}}</button>
          </div>
        </div>
      </div>
    </for>

    <div class="card mb-3 shadow-sm d-none" id="receipt-div">
      <div class="card-header">
        <i class="bi bi-receipt-cutoff me-2"></i>
        {{t $.locale "codes.bulk-issue.receipt-header"}}
      </div>

      <div class="card-body">
        <small class="form-text text-muted">
          <p><span class="text-success" id="receipt-success">0</span> {{t $.locale "codes.bulk-issue.save-results-success"}}
          <span class="text-danger" id="receipt-failure">0</span> {{t $.locale "codes.bulk-issue.save-results-fail"}}</p>
          {{t $.locale "codes.bulk-issue.save-results-detail"}}
        </small>
      </div>

      <div class="card-footer d-flex flex-column align-items-stretch align-items-lg-center flex-lg-row-reverse justify-content-lg-between">
        <div class="d-grid d-lg-inline">
          <a href="data:text/plain," id="save" class="btn btn-primary" download="bulk-issue-log.csv">
            <i class="bi bi-download me-2"></i>
            {{t $.locale "codes.bulk-issue.save-results"}}
          </a>
        </div>
      </div>
    </div>

    <div class="card mb-3 shadow-sm d-none" id="error-div">
      <div class="card-header">
        <i class="bi bi-exclamation-octagon-fill text-danger me-2"></i>
        {{t $.locale "codes.bulk-issue.errors-header"}}
      </div>
      <table id="error-table" class="table table-bordered table-striped table-fixed table-inner-border-only border-top mb-0">
        <thead>
          <tr>
            <th width="60">Line</th>
            <th width="150">Phone #</th>
            <th width="130">Test date</th>
            <th>Error message</th>
          </tr>
        </thead>
        <tbody></tbody>
        <div class="card-body d-none" id="error-too-many">
          <p class="card-text">{{t $.locale "codes.bulk-issue.too-many-fail"}}</p>
        </div>
      </table>
    </div>
    <div class="card mb-3 shadow-sm d-none" id="success-div">
      <div class="card-header">{{t $.locale "codes.bulk-issue.success-header"}}</div>
      <table id="success-table" class="table table-bordered table-striped table-fixed table-inner-border-only border-top mb-0">
        <thead>
          <tr>
            <th width="60">Line</th>
            <th width="150">Phone #</th>
            <th width="130">Test date</th>
            <th>Tracking UUID</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="card-body d-none" id="success-too-many">
        <p class="card-text">{{t $.locale "codes.bulk-issue.too-many-success"}}</p>
      </div>
    </div>
  </main>
</body>

</html>
{{end}}
