{{define "realms/select"}}

{{$csrfField := .csrfField}}
{{$realms := .realms}}

<!doctype html>
<html lang="en">
<head>
  {{template "head" .}}
</head>

<body class="bg-light">
  {{template "navbar" .}}

  <main role="main" class="container">
    {{template "flash" .}}

    <h1>Select your realm</h1>
    <p class="mb-4">
      You are a member of multiple realms - please select one to continue. You
      can switch to another realm at any time.
    </p>

    <div class="list-group">
    {{range $realm := $realms}}
      <form action="/realm/select" method="POST">
        {{$csrfField}}
        <input type="hidden" name="realm" value="{{$realm.ID}}" />
        <a href="#" class="w-100 d-flex flex-row justify-content-between align-items-center align-self-center list-group-item list-group-item-action" data-submit-form>
          <div>
            <h5 class="mb-1">{{$realm.Name}}</h5>
            {{if $realm.RegionCode}}
            <p class="mb-1">{{$realm.RegionCode}}</p>
            {{end}}
          </div>
          <div>
            <span class="oi oi-arrow-right" aria-hidden="true"></span>
          </div>
        </a>
      </form>
    {{end}}
    </div>
  </main>

  {{template "scripts" .}}
</body>
</html>
{{end}}
